{% extends "base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<h2>Create an Item</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Item Details:</h4>
        </div>
        <div class="card-body">
            <div class="form-row align-items-center">
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_item_number">Item number:</label>
                        <input type="text" name="item_number" maxlength="100" required="" class="form-control" id="id_item_number">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_item_desc">Item desc:</label>
                        <input type="text" name="item_desc" maxlength="100" required="" class="form-control" id="id_item_desc">
                    </div>
                </div>
                <div class="col-1">
                    <label for="id_uom">Uom:</label>
                </div>
                <div class="col-3"> 
                    <select name="uom" id="id_uom" class="form-control">
                        <option value="">---------</option>
                        <option value="1" selected="">Kg</option>
                        <option value="2">Pcs</option>
                    </select>   
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-1">
                    <label for="id_item_cat">Item cat:</label>
                </div>
                <div class="col-3"> 
                    <select name="item_cat" id="id_item_cat" class="form-control">
                        <option value="">---------</option>

                        <option value="1" selected="">Sleeve</option>

                        <option value="2">Tie Rod</option>

                        <option value="3">Spacer</option>

                        <option value="4">Small Components</option>

                        <option value="5">Shallow Well Fittings</option>

                        <option value="6">Product</option>
                    </select> 
                </div>
                <div class="col-1">
                    <label for="id_prod_class">Prod class:</label>
                </div>
                <div class="col-3"> 
                    <select name="prod_class" id="id_prod_class" class="form-control">
                        <option value="">---------</option>

                        <option value="1" selected="">GS</option>

                        <option value="2">GISO</option>

                        <option value="3">Jets</option>

                        <option value="4">eSV</option>

                        <option value="5">AC Fire</option>

                        <option value="6">None</option>

                    </select>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_barcode">Barcode:</label>
                        <input type="text" name="barcode" maxlength="100" required="" id="id_barcode" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_price">Price:</label> <input type="number" name="price" id="id_price" class="form-control">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_notes">Notes:</label> <input type="text" name="notes" maxlength="200" required="" id="id_notes" class="form-control">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_orderpoint">Orderpoint:</label> <input type="number" name="orderpoint" id="id_orderpoint" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-4">
                    <label for="id_image">Image:</label>
                    <input type="file" name="image" accept="image/*" id="id_image" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}