{% extends "base.html" %}

{% block title %} Edit Product {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% load static %}
<style>
    .img-thumbnail{
        width: 200px;
        height: 200px;
    }
    #part_table tr td:nth-child(1), #part_table th:nth-child(1){
        display: none;
    }
</style>
{% endblock stylesheets %}

{% block content %}  
<h2> Edit a Product </h2>

<form method="POST" enctype="multipart/form-data" id="form_editProduct">
    {% csrf_token %}

    <div class="card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Product Details:</h4>
        </div>
        <div class="card-body">
            <div class="form-row align-items-center">
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_prod_number">Product number:</label>
                        <input type="text" name="prod_num" maxlength="100" required="" id="prod_num" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_prod_desc">Product description:</label>
                        <input type="text" name="prod_desc" maxlength="100" required="" id="prod_desc" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_prod_desc">UOM:</label>
                        <input type="text" name="uom" maxlength="100" required="" id="uom" class="form-control" readonly>
                    </div>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-4">
                    <div class="form-group">
                    <label for="id_prod_type">Prod type:</label>
                    <input type="text" name="prod_type" maxlength="100" required="" id="prod_type" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_prod_desc">Product Class:</label>
                        <input type="text" name="prod_class" maxlength="100" required="" id="prod_class" class="form-control" readonly>
                    </div>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_price">Price:</label>
                        <input type="number" name="price" id="price" class="form-control">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_notes">Notes:</label>
                        <input type="text" name="notes" maxlength="200" required="" id="notes" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-4">
                    <label for="id_image">Image:</label>
                    <input type="file" name="image" accept="image/*" id="image" class="form-control">
                </div>
                <div class="col-4" id="div_image">
                                
                </div>
            </div>

            <div class="card">
                <div class="card-header card-header-tabs card-header-info">
                    <h4 class="card-title">Select Items for Product:</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped w-auto small" id="part_table">
                            <thead class="thead-dark">
                                <tr class="tablehead">
                                    <th scope="col">Product Number</th>
                                    <th scope="col">Item Number</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ formset.management_form }}
                                {% for form in formset %}
                                <div class="row form-row">
                                    <tr class="tablerow">
                                        <td><input type="text" name="form-0-prod_number" class="form-control" id="id_form-0-prod_number" value="" readonly="readonly"></td>
                                        <td><input type="text" name="form-0-item_number" class="form-control" id="id_form-0-item_number" value="" readonly="readonly"></td>
                                        <td><input type="text" name="form-0-quantity" class="form-control" id="id_form-0-quantity" value="" readonly="readonly"></td>
                                        <td><button class="btn btn-success add-form-row">+</button></td>
                                    </tr>
                                </div>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>

            <div class="col-2">
                <button type="submit" class="btn btn-block btn-success">Update</button>
            </div>

        </div>
    </div>

<div class="card">
    <div class="card-header card-header-tabs card-header-info">
        <h4 class="card-title">Product Master:</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive"> <!--Shrnk Items-->
            <table class="table table-hover table-striped table-bordered" id="prod_master">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Product Number</th>
                        <th scope="col">Product Description</th>
                        <th scope="col">UOM</th>
                        <th scope="col">Product Type</th>
                        <th scope="col">Product Class</th>
                        <th scope="col">Price</th>
                        <th scope="col">Notes</th>
                    </tr>
                </thead>
                <tbody>
                {% for instance in prod_master_set %}
                    <tr class="tablerow" id="sched-{{forloop.counter}}">
                        <td><button type="button" class="btn btn-primary prod_num" data-prod_num="{{ instance.prod_number }}" data-prod_desc="{{ instance.prod_desc }}" data-uom="{{ instance.uom__uom }}" data-prod_type="{{ instance.prod_type }}" data-prod_class="{{ instance.prod_class__prod_class }}" data-price="{{ instance.price }}" data-notes="{{ instance.notes }}" data-image="{{ instance.image }}">{{ instance.prod_number }}</button></td>
                        <td>{{ instance.prod_desc }}</td>
                        <td>{{ instance.uom__uom }}</td>
                        <td>{{ instance.prod_type }}</td>
                        <td>{{ instance.prod_class__prod_class }}</td>
                        <td>{{ instance.price }}</td>
                        <td>{{ instance.notes }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>

</form>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous"></script>

<script>
$(document).ready(function() {
    toasterOptions();
    function toasterOptions() {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "1500",
            "hideDuration": "1500",
            "timeOut": "1500",
            "extendedTimeOut": "1500",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    };

    var table = $('#prod_master').DataTable ({
        dom: "<'row'<'col-md-6'l><'col-md-2'<'customselect prod'>><'col-md-2'<'div_prodclass'>><'col-md-2'f>>" +
        "<'row'<'col-md-12'rtip>>",
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]
    });
 
    $("div.div_prodclass").html("Product Class Filter" + "<select id="+ "'select_prod_class'" + "class='browser-default custom-select'"+"><option value='all'> All </option> {% for instance in prod_class_set %} <option value=' {{ instance.prod_class }} '>{{ instance.prod_class }}</option> {% endfor %}</select>");

    $("div.customselect.prod").html("Filter" + "<select id="+ "'select_prod'" + "class='browser-default custom-select'"+"><option value ='-1'>All</option><option value='0'>Product Number</option><option value='1'>Product Description</option><option value='2'>UOM</option><option value='3'>Product Type</option><option value='5'>Price</option><option value='6'>Notes</option></select>");

    $('#prod_master_filter label input').unbind().bind('keyup', function() {
        searchFilter();
    });

    $('#select_prod').focus(function () {
        // Store the current value on focus, before it changes
        previousIndex= this.selectedIndex;
    }).change(function(e) {
        var prod_class = $('#select_prod_class').val();
        if(prod_class === "all"){
            searchFilter();
        }else{
            e.target.selectedIndex = previousIndex;
            toastr.error("Please remove the Product Class Filter.");
        }
    });

    $('#select_prod_class').focus(function () {
        // Store the current value on focus, before it changes
        previousIndex= this.selectedIndex;
    }).change(function(e) {
        var main_filter = $('#select_prod').val()
        if((main_filter === "-1")){
            e.target.selectedIndex = previousIndex;
            toastr.error("Please select a Filter first.");            
        }else{
            searchFilter();
        }
    });

    function searchFilter(){
        //Do the first search based from the og filter
        var colIndex = document.querySelector('#select_prod').value;
        var search = $('#prod_master_filter label input').val(); 
        if ( colIndex === "-1" ){            
            table.columns().search( '' ).draw();
            $('#prod_master_filter label input').val('');
            return;
        }else{
            table.column(colIndex).search( search ).draw();
        }

        //Do the third search for the product class filter
        var prod_class = $('#select_prod_class').val();
        if( prod_class === "all" ){
            table.column(4).search( '' ).draw();
            table.column(colIndex).search( search ).draw();
        }else{
            table.columns(4).search(prod_class).draw();
        }

        $('#prod_master_filter label input').val(search); 

    }



    $("#prod_master").on("click", ".btn.btn-primary.prod_num", function(){
        $("#image_prev").remove();
        reset_table();

        var btn = this;

        var prod_num = btn.dataset.prod_num;
        var prod_desc = btn.dataset.prod_desc;
        var uom = btn.dataset.uom;
        var prod_type = btn.dataset.prod_type;
        var prod_class = btn.dataset.prod_class;
        var price = btn.dataset.price;
        var notes = btn.dataset.notes;
        var image = btn.dataset.image;

        $("#prod_num").val(prod_num);
        $("#prod_desc").val(prod_desc);
        $("#uom").val(uom);
        $("#prod_type").val(prod_type);
        $("#prod_class").val(prod_class);
        $("#price").val(price);
        $("#notes").val(notes);

        $.ajax({
            method: "POST",
            url: "{% url 'warehouse:EditProduct_getparts' %}",
            data: {'prod_num': prod_num,
                  'csrfmiddlewaretoken': '{{ csrf_token }}'},

            success: function(data){
                data.proditem_set.forEach(function(item) {
                    cloneMore('form', item.item_number__item_number, item.quantity);
                });

            },
            error: function(error_data){
                alert("error");
            }
        });

        $('#div_image').append("<img id='image_prev' class='img-thumbnail' src=/media/" + image + " />");

        toastr.info('Product '+ prod_num + " is selected.");

    });

    $('#image').change(function(e) {
        readURL(this);
    });

});

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#image_prev').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }

    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function cloneMore(prefix, item_num, item_quantity) { //selector - .form-row:last | prefix - form
        var lastrowtbl = $('#part_table tr.tablerow:last').clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        var currentnum = total - 1
        var counter = 0

        $('#part_table tr.tablerow:last').find('input[type=text]').each(function (i, el) {
            var name = $(this).attr('name');
            if(name) {
                if (counter === 0){
                    $(this).val(0);
                    counter++;
                } else if(counter === 1){
                    $(this).val(item_num);
                    counter++;
                }else {
                    $(this).val(item_quantity);
                    counter++;
                }
            }
        });           

        lastrowtbl.find('input[type=text]').each(function (i, el) {
            var name = $(this).attr('name');
            if(name) {
                name = name.replace('-' + currentnum + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name' : name, 'id' : id}).val('').removeAttr('checked');
            }
        });

        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $('#part_table tr.tablerow:last').after(lastrowtbl);

        var conditionRow = $('#part_table tr.tablerow:not(:last)');
        conditionRow.find('.btn.add-form-row')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('add-form-row').addClass('remove-form-row')
        .html('-');
        return false;
    }

    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1){
            btn.closest('#part_table tr.tablerow').remove();
            var forms = $('#part_table tr.tablerow');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);

            for (var i=0, formCount=forms.length; i<formCount; i++) {

                $(forms.get(i)).find(':input[type=text]').each(function() {
                    updateElementIndex(this, prefix, i);
                });

            }
            total--;
            $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        }
        return false;
    }
    
    $(document).on('click', '.add-form-row', function(e){
        var newwin = window.open("{% url 'warehouse:EditProduct_SelectItem' %}");
        return false;
    });
    
    $(document).on('click', '.remove-form-row', function(e){
        e.preventDefault();
        deleteForm('form', $(this));
        return false;
    });

    function reset_table(){
        $('.remove-form-row').click();
    }

    $('#form_editProduct').submit(function() {
        event.preventDefault();

        Swal.fire({
            title: 'Do you want to save the changes in the Product <br>' + $("#prod_num").val() + " ?",
            icon:'success',
            showDenyButton: true,
            confirmButtonText: `Yes`,
            denyButtonText: `No`,
        }).then((result) => {
        if (result.isConfirmed) {
            $(this).unbind('submit').submit();

        } else if (result.isDenied) {
            Swal.fire('Changes are not saved', '', 'info');
        }
        });

    });


</script>

{% endblock javascripts %}