{% extends "base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    input:not([name="report-notes"]){ 
    text-align: center; 
    }
</style>
{% endblock stylesheets %}

{% block content %}

{% load static %}
<h2> Dismantle a Product </h2>
    <form class="form-horizontal" method="POST" action="">
        {% csrf_token %}

    <div class="card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Report Details:</h4>
        </div>
        <div class="card-body">
            <div class="form-row align-items-center">
                <div class="col-3">
                    <div class="form-group">
                        <label for="id_report_num">Report Number:</label>
                        <input type="text" name="report-report_num" class="form-control" required="" readonly id="id_report-report_num" value="{{scheduleid}}">
                   </div>
                </div>
                <div class="col-1">
                    <label for="id_iaf_whse">Warehouse:</label>
                </div>
                <div class="col-4">
                    <select name="report-iaf_whse" class="form-control" id="id_report-iaf_whse">
                        <option value="">---------</option>
                        <option value="1" selected="">WHSE</option>
                        <option value="2">88</option>
                        <option value="3">98</option>
                    </select>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="id_date_reported">Scheduled Date:</label>
                        <input type="text" name="report-date_reported" class="form-control" required="" readonly id="id_report-date_reported">
                   </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Product to be Dismantled:</h4>
        </div>
        <div class="card-body">
            <div class="form-row align-items-center">
                <div class="col-3">
                    <div class="form-group">
                    <label for="id_date_reported">Production Schedule:</label>
                    <input type="text" name="prod-prod_sched" class="form-control" required="" readonly id="id_prod-prod_sched">
                    </div>
                </div>
                <div class="col-1">
                    <button class="btn btn-success add-prod_num">+</button>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_date_reported">Work Order Number:</label>
                        <input type="text" name="wo_num" class="form-control" required="" readonly id="wo_num">
                   </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_date_reported">Product Number:</label>
                        <input type="text" name="prod_num" class="form-control" required="" readonly id="prod_num">
                   </div>
               </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_date_reported">Product Class:</label>
                        <input type="text" name="prod_class" class="form-control" required="" readonly id="prod_class">
                   </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label for="id_date_reported">Bin Location:</label>
                        <input type="hidden" name="prod-bin_location" class="form-control" required="" readonly id="id_prod-bin_location"><!--BIN ID-->
                        <input type="text" name="prod-bin_locationTEXT" class="form-control" required="" readonly id="id_prod-bin_locationTEXT">
                   </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label for="id_date_reported">Dismantle Quantity:</label>
                        <input type="text" name="prod-prod_quantity" class="form-control" required="" readonly id="id_prod-prod_quantity">
                   </div>
               </div>

            </div>
            <div class="form-row align-items-center">
                <div class="col-6">
                    <div class="form-group">
                        <label for="id_date_reported">Total Cost:</label>
                        <input type="text" name="prod-total_cost" class="form-control" required="" readonly id="id_prod-total_cost">
                   </div>
               </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="id_date_reported">Reason for Dismantling:</label>
                        <input type="text" name="prod-reason" class="form-control" required="" readonly id="id_prod-reason">
                   </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Components to be added:</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped w-auto" id="part_table">
                    <thead class="thead-dark">
                        <tr class="tablehead">
                            <th scope="col">Item Number</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ dismprod_item_formset.management_form }}
                        {% for form in dismprod_item_formset %}
                        <div class="row form-row">
                            <tr class="tablerow">
                                <td><input type="text" name="form-0-item_number" class="form-control" id="id_form-0-item_number" value="" readonly="readonly"></td>
                                
                                <td><input type="text" name="form-0-item_quantity" class="form-control" id="id_form-0-item_quantity" value="" readonly="readonly"></td>

                                <td><input type="text" name="form-0-total_cost" class="form-control" id="id_form-0-total_cost" value="" readonly="readonly"></td>
                            </tr>
                        </div> 
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="form-row align-items-center">
                <div class="col-12">
                    <div class="form-group">
                        <label for="id_notes">Notes:</label>
                        <input type="text" name="report-notes" maxlength="200" required="" class="form-control" id="id_report-notes">
                   </div>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-block btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>
    
</form>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#part_table tr.tablerow:last').hide();

        var d = new Date($.now());
        var currentdate = d.getFullYear()+"-"+(d.getMonth() + 1)+"-"+d.getDate();
        $('#id_report-date_reported').val(currentdate);

        });

    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function cloneMore(prefix, item_num, item_quan, tot_cost) { //selector - .form-row:last | prefix - form
        var lastrowtbl = $('#part_table tr.tablerow:last').clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        var currentnum = total - 1
        var counter = 0
        console.log(lastrowtbl);
        $('#part_table tr.tablerow:last').find('input[type=text]').each(function (i, el) {
            var name = $(this).attr('name');
            if(name) {
                if (counter === 0){
                    $(this).val(item_num);
                    counter++;
                } else if(counter === 1){
                    $(this).val(item_quan);
                    counter++;
                } else {
                    $(this).val(tot_cost);
                    counter++;
                }
            }
        });

        lastrowtbl.find('input[type=text]').each(function (i, el) {
            var name = $(this).attr('name');
            if(name) {
                name = name.replace('-' + currentnum + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name' : name, 'id' : id}).val('').removeAttr('checked');
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $('#part_table tr.tablerow:last').show();
        $('#part_table tr.tablerow:last').after(lastrowtbl);
        var conditionRow = $('#part_table tr.tablerow:not(:last)');
        conditionRow.find('.btn.add-form-row')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('add-form-row').addClass('remove-form-row')
        .html('-');

        $('#part_table tr.tablerow:last').hide();
        return false;
    }

    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1){
            btn.closest('#part_table tr.tablerow').remove();
            var forms = $('#part_table tr.tablerow');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {

                $(forms.get(i)).find(':input[type=text]').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
            total--;
            $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        }
        return false;
    }
    
    $(document).on('click', '.add-prod_num', function(e){
        var newwin = window.open("{% url 'warehouse:DismantleProduct_SelectProduct' %}");
        return false;
    });
    
    $(document).on('click', '.remove-form-row', function(e){
        e.preventDefault();
        deleteForm('form', $(this));
        return false;
    });
</script>
{% endblock javascripts %}