{% extends "base.html" %}

{% block title %} Report Item Transfer {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% load static %}
<style>
    input:not([name="notes"]){ 
    text-align: center; 
    }
    #part_table tr td:nth-child(1), #part_table th:nth-child(1){
        display: none;
    }
    #part_table tr td:nth-child(7), #part_table th:nth-child(7){
        display: none;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<h2> Create a Transfer Item Report </h2>
    <form class="form-horizontal" method="POST" action="" id="form_trans">
        {% csrf_token %}

    <div class="card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Report Details:</h4>
        </div>
        <div class="card-body">
            <div class="form-row align-items-center">
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_report_num">Report Number:</label>
                        <input type="text" name="report_num" class="form-control" required="" readonly id="id_report_num" value="{{reportid}}">
                   </div>
               </div>

                <div class="col-1">
                    <label for="id_iaf_whse">Warehouse:</label>
                </div>

                <div class="col-3">
                    <select name="iaf_whse" class='browser-default custom-select' id="id_iaf_whse">
                        {% for instance in iaf_whse_set %}
                        <option value="{{ instance.id }}">{{ instance.whse }}</option>
                        {% endfor %}
                    </select>
               </div>

                <div class="col-4">
                    <div class="form-group">
                        <label for="id_date_reported">Scheduled Date:</label>
                        <input type="text" name="date_reported" class="form-control" required="" readonly id="id_date_reported">
                   </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Components to be transfered in the System:</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped w-auto small table-responsive" id="part_table">
                    <thead class="thead-dark">
                        <tr class="tablehead">
                            <th scope="col">Bin Location ID</th>
                            <th scope="col">Bin Location</th>
                            <th scope="col">Item Number</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total Cost</th>
                            <th scope="col">Reason</th>
                            <th scope="col">Operator ID</th>
                            <th scope="col">Operator</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ transferitem_formset.management_form }}
                        {% for form in transferitem_formset %}
                        <div class="row form-row">
                            <tr class="tablerow" id="form-{{forloop.counter0}}">
                                <td><input type="text" name="form-0-bin_location" class="form-control" id="id_form-0-bin_location" value="" readonly="readonly"></td>
                                <td><input type="text" name="form-{{forloop.counter0}}-bin_locationTEXT" class="form-control" id="id_form-{{forloop.counter0}}-bin_locationTEXT" value="" readonly="readonly"></td>

                                <td><input type="text" name="form-0-item_number" class="form-control" id="id_form-0-item_number" value="" readonly="readonly"></td>
                                
                                <td><input type="text" name="form-0-item_quantity" class="form-control" id="id_form-0-item_quantity" value="" readonly="readonly"></td>

                                <td><input type="text" name="form-0-total_cost" class="form-control" id="id_form-0-total_cost" value="" readonly="readonly"></td>

                                <td><input type="text" name="form-0-reason" class="form-control" id="id_form-0-reason" value="" readonly="readonly"></td>

                                <td><input type="text" name="form-0-iaf_operator" class="form-control" id="id_form-0-iaf_operator" value="" readonly="readonly"></td>

                                <td><input type="text" name="form-0-iaf_operatorTEXT" class="form-control" id="id_form-0-iaf_operatorTEXT" value="" readonly="readonly"></td>

                                <td><button class="btn btn-success add-form-row"><i class="fas fa-file-medical"></i></button></td>
                            </tr>
                        </div> 
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="form-row align-items-center">
                <div class="col-12">
                    <div class="form-group">
                        <label for="id_notes">Notes:</label> 
                        <input type="text" name="notes" maxlength="200" required="" class="form-control" id="id_notes">
                   </div>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-block btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>
    
</form>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
    let transf_selItem;
    $(document).ready(function(){
        toasterOptions();
        function toasterOptions() {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "1500",
                "hideDuration": "1500",
                "timeOut": "1500",
                "extendedTimeOut": "1500",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        };

        window.name = "transf";

        var d = new Date($.now());
        var currentdate = d.getFullYear()+"-"+(d.getMonth() + 1)+"-"+d.getDate();
        $('#id_date_reported').val(currentdate);

        });

    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function cloneMore(prefix, bin_id, bin_loc, item_num, item_quan, tot_cost, reason, operator_id, operator) { //selector - .form-row:last | prefix - form
        var lastrowtbl = $('#part_table tr.tablerow:last').clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        var currentnum = total - 1
        var counter = 0

        $('#part_table tr.tablerow:last').attr('id', "form-"+currentnum);

        $('#part_table tr.tablerow:last').find('input[type=text]').each(function (i, el) {
            var name = $(this).attr('name');
            if(name) {
                if (counter === 0){
                    $(this).val(bin_id);
                    counter++;
                } else if(counter === 1){
                    $(this).val(bin_loc);
                    counter++;
                } else if(counter === 2){
                    $(this).val(item_num);
                    counter++;
                } else if(counter === 3){
                    $(this).val(item_quan);
                    counter++;
                } else if(counter === 4){
                    $(this).val(tot_cost);
                    counter++;
                } else if(counter === 5){
                    $(this).val(reason);
                    counter++;
                } else if(counter === 6){
                    $(this).val(operator_id);
                    counter++;
                } else {
                    $(this).val(operator);
                    counter++;
                }
            }
        });

        lastrowtbl.find('input[type=text]').each(function (i, el) {
            var name = $(this).attr('name');
            if(name) {
                name = name.replace('-' + currentnum + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name' : name, 'id' : id}).val('').removeAttr('checked');
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $('#part_table tr.tablerow:last').after(lastrowtbl);
        lastrow = total-1;
        $('#part_table tr.tablerow:last').attr('id', "form-"+lastrow);

        var conditionRow = $('#part_table tr.tablerow:not(:last)');
        conditionRow.find('.btn.add-form-row')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('add-form-row').addClass('remove-form-row')
        .html('<i class="fa fa-trash"></i>');
        return false;
    }

    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1){
            btn.closest('#part_table tr.tablerow').remove();
            var forms = $('#part_table tr.tablerow');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {

                $(forms.get(i)).find(':input[type=text]').each(function() {
                    updateElementIndex(this, prefix, i);
                });

                $(forms.get(i)).each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
            total--;
            $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        }
        return false;
    }
    
    $(document).on('click', '.add-form-row', function(e){
        if ( transf_selItem && !transf_selItem.closed ){
            transf_selItem.focus();
            return false;                
        }else{
            transf_selItem = window.open("{% url 'warehouse:TransferItem_SelectItem' %}");
            return false;
        }        
    });
    
    $(document).on('click', '.remove-form-row', function(e){
        e.preventDefault();

        var row = $(this).closest('tr.tablerow');
        var row_id = row.attr('id').split("-");
        var id_counter = '';
        var counter = 1;
        var next_id = '';

        row_id.forEach(function(item) {
            if( counter === row_id.length ){
                id_counter = item;
            }
            counter += 1;
        });

        if( (parseInt(id_counter) % 2) === 0 ){
            next_id = parseInt(id_counter) + 1
        } else if ( !((parseInt(id_counter) % 2) === 0) ){ //is odd
            next_id = parseInt(id_counter) - 1
        }

        $("#form-"+next_id).find('.btn-danger').each(function (i, el) {
            deleteForm('form', $(this));
        });

        deleteForm('form', $(this));
        return false;
    });

    $('#form_trans').submit(function() {
        event.preventDefault();

        Swal.fire({
            title: 'Do you want to save the Item Transfer Report ' + $("#id_report_num").val() + '?',
            icon:'success',
            showDenyButton: true,
            confirmButtonText: `Yes`,
            denyButtonText: `No`,
        }).then((result) => {
        if (result.isConfirmed) {
            $(this).unbind('submit').submit();

        } else if (result.isDenied) {
            Swal.fire('Changes are not saved', '', 'info');
        }
        });

    });

    function pass_Items(){
        var item_list = [];
        var row_counter = 1;
        var tot_rows = $("#id_form-TOTAL_FORMS").val();
        $("#part_table").find('tr.tablerow').each(function(i,el){

            if ( parseInt(row_counter) < parseInt(tot_rows) ){
                var counter = 0;
                var item_details = []

                $(this).find('input[type=text]').each(function(i,el){
                    var name = $(this).attr('name');

                    if(name) {
                        if (counter === 0){
                            counter++;
                        } else if(counter === 1){
                            item_details.push($(this).val());
                            counter++;
                        } else if(counter === 2){
                            item_details.push($(this).val());
                            counter++;
                        } else {
                            counter++;
                        }
                    }

                });

                item_list.push( item_details )
            }            
            row_counter += 1;
        });

        return item_list;
    }

</script>
{% endblock javascripts %}