{% extends "base.html" %}

{% block title %} Home {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
  <h1> Warehouse </h1>

  <div class="row">
    <div class="col-md-6">

      <div class="card card-chart">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Purchase Orders Imported:</h4>
          </div>
          <div class="card-body">
            <canvas id="sample-chart"></canvas>
            <form action="">
              {% csrf_token %}
            From: <input type="date" id="from_date_sample">
            To: <input type="date" id="to_date_sample">
            <button class="btn btn-success add-form-row ponum">Filter</button>
            </form>
        </div>
      </div>

    </div>
    <div class="col-md-6">

      <div class="card card-chart">
          <div class="card-header card-header-info">
            <h4 class="card-title">Warehouse Utilization:</h4>
          </div>
          <div class="card-body">
            <canvas id="whseutil_chart"></canvas>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
      <div class="col-md-6">
        <div class="card card-chart">
            <div class="card-header card-header-info">
              <h4 class="card-title">Purchase Orders for Receiving</h4>
            </div>
            <div class="card-body">
              <canvas id="purchinbound_chart"></canvas>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-chart">
            <div class="card-header card-header-success">
              <h4 class="card-title">Purchase Orders Status</h4>
            </div>
            <div class="card-body">
              <canvas id="purchstatus_chart"></canvas>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-info">
            <h4 class="card-title">Put Away Status:</h4>
          </div>
          <div class="card-body">
            <canvas id="putaway_chart"></canvas>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-chart">
          <div class="card-header card-header-success">
            <h4 class="card-title">Component Issuance Status:</h4>
          </div>
          <div class="card-body">
            <canvas id="compissue_chart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-info">
            <h4 class="card-title">Part Request Status:</h4>
          </div>
          <div class="card-body">
            <canvas id="partreq_chart"></canvas>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-chart">
          <div class="card-header card-header-success">
            <h4 class="card-title">Part Return Status:</h4>
          </div>
          <div class="card-body">
            <canvas id="partret_chart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
        <div class="card card-chart">
          <div class="card-header card-header-info">
            <h4 class="card-title">Finished Products Status:</h4>
          </div>
          <div class="card-body">
            <canvas id="prodrec_chart"></canvas>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-chart">
          <div class="card-header card-header-success">
            <h4 class="card-title">Product Shipping Status:</h4>
          </div>
          <div class="card-body">
            <canvas id="prodship_chart"></canvas>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function(){
      var ctx = $("#sample-chart");
      var myChart = new Chart(ctx);
      var defaultData = []
      var labels = [];

      $.ajax({
          method: "GET",
          url: "{% url 'warehouse:Dashboard_get_data' %}",
          success: function(data){
              labels = data.labels;
              defaultData = data.default;

              ctx = $("#sample-chart");

              myChart = new Chart(ctx, {
                  type: 'bar',
                  data: {
                      labels: labels,
                      datasets: [{
                          label: 'Purchase Orders Created',
                          data: defaultData,
                          backgroundColor: '#80cee1',
                          borderWidth: 1
                      }]
                  },
                  options: {
                      scales: {
                          yAxes: [{
                              ticks: {
                                  beginAtZero:true
                              }
                          }],
                          xAxes: [{
                              type: 'time',
                              time: {
                              unit: 'day',
                              unitStepSize: 25,
                              displayFormats: {
                                 'day': 'MMM DD'
                              }
                              }
                          }],
                      },
                        legend: {
                          position: 'bottom',
                        },
                      responsive: true,
                  }
              });

          },
          error: function(error_data){
              console.log("error")
              console.log(error_data)
          }
      });

      $(document).on('click', '.add-form-row.ponum', function(e){
        $.ajax({
            method: "POST",
            url: "{% url 'warehouse:Dashboard_update_data' %}",
            data: {'from': $("#from_date_sample").val(),
                  'to': $("#to_date_sample").val(),
                  'csrfmiddlewaretoken': '{{ csrf_token }}'},

            success: function(data){
                labels = data.labels;
                defaultData = data.default;
                updateChart(labels,defaultData);
            },
            error: function(error_data){
                alert("error");
                console.log(error_data);
            }
        });

        function updateChart(labels, defaultData){

          myChart.data.labels = labels;
          myChart.data.datasets[0].data = defaultData;

          myChart.update();
        }


        return false;
      });

      initwhseutil_chart()

      function initwhseutil_chart(){
        $.ajax({
            method: "GET",
            url: "{% url 'warehouse:Dashboard_get_whseutil' %}",
            success: function(data){
                total_whsebin = data.total_whsebin;
                loaded_whsebin = data.loaded_whsebin;

                var label = [ "Non-Utilized Bins", "Utilized Bins" ]
                var data = [ total_whsebin, loaded_whsebin ]

                var ctx_whseutil = $("#whseutil_chart");

                var chart_whseutil = new Chart(ctx_whseutil, {
                  type: 'pie',
                  data: {
                    labels: label,
                    datasets: [{
                      backgroundColor: [
                        "#f0ad4e",
                        "#2ecc71",
                      ],
                      data: data
                    }]
                  }
                });

            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        });
      }

      initpurchinbound_chart();
      
      function initpurchinbound_chart(){
        $.ajax({
          method: "GET",
          url: "{% url 'warehouse:Dashboard_get_purchinbound' %}",
          success: function(data){
              for_receiving = data.for_receiving;
              validated = data.validated;

              var label = [ "For Receiving", "Validated" ]
              var data = [ for_receiving, validated ]

              var ctx_purchinbound = $("#purchinbound_chart");

              var chart_purchinbound = new Chart(ctx_purchinbound, {
                type: 'pie',
                data: {
                  labels: label,
                  datasets: [{
                    backgroundColor: [
                      "#f0ad4e",
                      "#2ecc71",
                    ],
                    data: data
                  }]
                }
              });

          },
          error: function(error_data){
              console.log("error")
              console.log(error_data)
          }
        });
      }

      initpurchstatus_chart();

      function initpurchstatus_chart(){
        $.ajax({
          method: "GET",
          url: "{% url 'warehouse:Dashboard_get_purchstatus' %}",
          success: function(data){
              open_po = data.open_po;
              closed_po = data.closed_po;
              vdr_po = data.vdr_po;

              var label = ['Open','Closed','VDR'];
              var data = [open_po, closed_po, vdr_po];

              var ctx_purchstatus = $("#purchstatus_chart");

              var chart_purchstatus = new Chart(ctx_purchstatus, {
                type: 'pie',
                data: {
                  labels: label,
                  datasets: [{
                    backgroundColor: [
                      "#e74c3c",
                      "#2ecc71",
                      "#f0ad4e",
                    ],
                    data: data
                  }]
                }
              });

          },
          error: function(error_data){
              console.log("error")
              console.log(error_data)
          }
        });
      }

      initputaway_chart();

      function initputaway_chart(){
        $.ajax({
          method: "GET",
          url: "{% url 'warehouse:Dashboard_get_putaway' %}",
          success: function(data){
              pa_pending = data.pa_pending;
              pa_scheduled = data.pa_scheduled;

              var label = ['Pending','Scheduled'];
              var data = [pa_pending, pa_scheduled];

              var ctx_putaway = $("#putaway_chart");

              var chart_putaway = new Chart(ctx_putaway, {
                type: 'pie',
                data: {
                  labels: label,
                  datasets: [{
                    backgroundColor: [
                      "#e74c3c",
                      "#2ecc71",
                    ],
                    data: data
                  }]
                }
              });

          },
          error: function(error_data){
              console.log("error")
              console.log(error_data)
          }
        });
      }

      initcompissue_chart();

      function initcompissue_chart(){
        $.ajax({
          method: "GET",
          url: "{% url 'warehouse:Dashboard_get_compissuance' %}",
          success: function(data){
              comp_pending = data.comp_pending;
              comp_sched = data.comp_sched;
              comp_issued = data.comp_issued;

              var label = ['Pending', 'Scheduled','Issued'];
              var data = [comp_pending, comp_sched, comp_issued];

              var ctx_compissue = $("#compissue_chart");

              var chart_putaway = new Chart(ctx_compissue, {
                type: 'pie',
                data: {
                  labels: label,
                  datasets: [{
                    backgroundColor: [
                      "#e74c3c",
                      "#2ecc71",
                      "#f0ad4e",
                    ],
                    data: data
                  }]
                }
              });

          },
          error: function(error_data){
              console.log("error")
              console.log(error_data)
          }
        });
      }
    

    initpartreq_chart();

      function initpartreq_chart(){
        $.ajax({
          method: "GET",
          url: "{% url 'warehouse:Dashboard_get_partreq' %}",
          success: function(data){
              partreq_pending = data.partreq_pending;
              partreq_sched = data.partreq_sched;
              partreq_issued = data.partreq_issued;

              var label = ['Pending', 'Scheduled','Issued'];
              var data = [partreq_pending, partreq_sched, partreq_issued];

              var ctx_partreq = $("#partreq_chart");

              var chart_partreq = new Chart(ctx_partreq, {
                type: 'pie',
                data: {
                  labels: label,
                  datasets: [{
                    backgroundColor: [
                      "#e74c3c",
                      "#2ecc71",
                      "#f0ad4e",
                    ],
                    data: data
                  }]
                }
              });

          },
          error: function(error_data){
              console.log("error")
              console.log(error_data)
          }
        });
      }


      initpartret_chart();

      function initpartret_chart(){
        $.ajax({
          method: "GET",
          url: "{% url 'warehouse:Dashboard_get_partret' %}",
          success: function(data){
              partret_pending = data.partret_pending;
              partret_sched = data.partret_sched;
              partret_issued = data.partret_issued;

              var label = ['Pending', 'Scheduled','Issued'];
              var data = [partret_pending, partret_sched, partret_issued];

              var ctx_partret = $("#partret_chart");

              var chart_partret = new Chart(ctx_partret, {
                type: 'pie',
                data: {
                  labels: label,
                  datasets: [{
                    backgroundColor: [
                      "#e74c3c",
                      "#2ecc71",
                      "#f0ad4e",
                    ],
                    data: data
                  }]
                }
              });

          },
          error: function(error_data){
              console.log("error")
              console.log(error_data)
          }
        });
      }


      initprodrec_chart()

      function initprodrec_chart(){
        $.ajax({
            method: "GET",
            url: "{% url 'warehouse:Dashboard_get_prodrec' %}",
            success: function(data){
                prodrec_pending = data.prodrec_pending;
                prodrec_received = data.prodrec_received;

                var label = [ "Pending", "Received" ]
                var data = [prodrec_pending, prodrec_received]              

                if ( (prodrec_pending===0) && (prodrec_received===0) ){
                  var canvas = document.getElementById("prodrec_chart");
                  var ctx = canvas.getContext("2d");
                  ctx.font = "30px Helvetica";
                  ctx.fillText("No Data Available", 10, 50);
                }else{
                  var ctx_prodrec = $("#prodrec_chart");

                  var chart_prodrec = new Chart(ctx_prodrec, {
                    type: 'pie',
                    data: {
                      labels: label,
                      datasets: [{
                        backgroundColor: [
                          "#f0ad4e",
                          "#2ecc71",
                        ],
                        data: data
                      }]
                    }
                  }); 
                }

            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        });
      }


      initprodship_chart()

      function initprodship_chart(){
        $.ajax({
            method: "GET",
            url: "{% url 'warehouse:Dashboard_get_prodship' %}",
            success: function(data){
                prodship_pending = data.prodship_pending;
                prodship_shipped = data.prodship_shipped;

                var label = [ "Pending", "Shipped" ]
                var data = [ prodship_pending, prodship_shipped ]

                var ctx_prodship = $("#prodship_chart");

                var chart_prodship = new Chart(ctx_prodship, {
                  type: 'pie',
                  data: {
                    labels: label,
                    datasets: [{
                      backgroundColor: [
                        "#f0ad4e",
                        "#2ecc71",
                      ],
                      data: data
                    }]
                  }
                });

            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        });
      }

    });

  </script>
{% endblock javascripts %}