{% extends "base.html" %}

{% block title %} View Work-Orders {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
<style type="text/css">
    #bom_table tr td:nth-child(1), #bom_table th:nth-child(1){
        display: none;
    }
    #prod_table tr td:nth-child(1), #prod_table th:nth-child(1){
    display: none;
    }
    #sched_table tr td:nth-child(2), #sched_table th:nth-child(2){
    display: none;
    }
    .stepwizard-step p {
        margin-top: 0px;
        color: #666;
    }
    .stepwizard-row {
        display: table-row;
    }
    .stepwizard {
        display: table;
        width: 100%;
        position: relative;
    }
    .stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
        opacity:0.5 !important;
        background-color: #9bbaca;
    }
    .progress{
        top: 25px;
        bottom: 0;
        position: absolute;
        content:" ";
        width: 80%;
        left:10%;
        height: 10px;
        z-index: 0;
    }
    .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
    }
    .btn-circle {
        width: 50px;
        height: 50px;
        padding: 20px;
        line-height: 0;
        border-radius: 50%;
    }
    .img-thumbnail{
        width: 200px;
        height: 200px;
    }
    input[type='checkbox'][readonly]{
        pointer-events: none;
    }
    .table-striped tbody tr.highlight td { 
    background-color: #87CEFA;
    }
    .table-striped tbody tr.highlight2 td { 
    background-color: #f0ad4e;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<h2> View Work Order Summary </h2>
    <div class="card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Work Orders:</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive"> <!--Shrnk Items-->
                <table class="table table-hover table-striped table-bordered nowrap" id="wo_table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Work Order Number</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Order Type</th>
                            <th scope="col">Order Class</th>
                            <th scope="col">FO#</th>
                            <th scope="col">TID#</th>
                            <th scope="col">Product Number</th>
                            <th scope="col">Product Class</th>
                            <th scope="col">Product Quantity</th>
                            <th scope="col">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for instance in wo_set %}
                        <tr class="tablerow" id="sched-{{forloop.counter}}">

                            <td><button type="button" class="btn btn-primary wo" data-wo_num="{{instance.work_order_number}}" id="btn-{{forloop.counter}}">{{ instance.work_order_number }}</button></td>
                            <td>{{ instance.customer }}</td>
                            <td>{{ instance.order_type }}</td>
                            <td>{{ instance.work_order_class }}</td>
                            <td>{{ instance.fo_number }}</td>
                            <td>{{ instance.tid_number }}</td>
                            <td>{{ instance.prod_number__prod_number }}</td>
                            <td>{{ instance.prod_number__prod_class__prod_class }}</td>
                            <td>{{ instance.prod_quantity }}</td>
                            <td>{{ instance.notes }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table> 
            </div>
        </div>
    </div>

    <div class="card" id="sched_card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Production Schedules:</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive"> <!--Shrnk Items-->
                <table class="table table-hover table-striped table-bordered nowrap" id="sched_table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Production Schedule</th>
                            <th scope="col">Work Order Number</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Date Required</th>
                            <th scope="col">Status</th>
                            <th scope="col">Issues</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for instance in prod_sched_set %}
                        <tr class="tablerow" id="sched-{{forloop.counter}}" data-wo_num="{{instance.work_order_number__work_order_number}}">

                            <td><button type="button" class="btn btn-primary get-form prod_sched" data-wo_num="{{instance.work_order_number__work_order_number}}" data-prod_sched="{{instance.id}}" id="btn-{{forloop.counter}}">{{ instance.id }}</button></td>
                            <td>{{ instance.work_order_number__work_order_number }}</td>
                            <td>{{ instance.quantity }}</td>
                            <td>{{ instance.date_required }}</td>
                            <td>{{ instance.status }}</td>
                            <td>{{ instance.issues }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table> 
            </div>
        </div>
    </div>

    <div class="card" id="status_card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Production Schedule Details:</h4>
        </div>
        <div class="card-body">

        <div class="container">
            <div class="row" id="row_pdf">
                <button class="btn btn-warning pdf" id="btn_pdf" type="button">download pdf</button>
                <div id="barcode_container">
                    <img id="barcode" hidden>
                    <div id="qrcode" hidden></div>
                </div>
            </div>
            
            <div class="stepwizard">
                <div class="progress center-block">
                    <div class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>
                
                <div class="stepwizard-row setup-panel">

                    <div class="stepwizard-step col-m-2"> 
                        <button href="#step-1" id="btn1" class="btn btn-circle btn-success" disabled><i class="fas fa-calendar-alt"></i></button>
                        <p><small>Scheduled</small></p>
                    </div>

                    <div class="stepwizard-step col-m-2"> 
                        <button href="#step-2" id="btn2" class="btn btn-circle btn-warning" disabled><i class="fas fa-box-open"></i></button>
                        <p><small>Issued</small></p>
                    </div>

                    <div class="stepwizard-step col-m-2"> 
                        <button href="#step-3" id="btn3" class="btn btn-circle btn-warning" disabled><i class="fas fa-cogs"></i></button>
                        <p><small>Assembled</small></p>
                    </div>

                    <div class="stepwizard-step col-m-2"> 
                        <button href="#step-4" id="btn4" class="btn btn-circle btn-warning" disabled><i class="fas fa-tools"></i></button>
                        <p><small>Coupled</small></p>
                    </div>

                    <div class="stepwizard-step col-m-2"> 
                        <button href="#step-5" id="btn5" class="btn btn-circle btn-warning" disabled><i class="fas fa-search"></i></button>
                        <p><small>Tested</small></p>
                    </div>

                    <div class="stepwizard-step col-m-2"> 
                        <button href="#step-6" id="btn6" class="btn btn-circle btn-warning" disabled><i class="fas fa-clipboard-check"></i></button>
                        <p><small>Received</small></p>
                    </div>

                </div>
            </div>
            
            <form role="form" id="wizard_form">
                <div class="panel panel-info setup-content" id="step-1">
                    <div class="panel-heading">
                         <h3 class="panel-title" id="stp1_header">Scheduled</h3>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="control-label">Schedule Number</label>
                                    <input type="text" class="form-control" id="stp1_sched_num" readonly />
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="control-label">Date Scheduled</label>
                                    <input type="text" class="form-control" id="stp1_date_sched" readonly />
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="control-label">Issues</label>
                                    <input type="text" class="form-control" id="stp1_issues" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Notes</label>
                                    <input type="text" class="form-control" id="stp1_notes" readonly />
                                </div>
                            </div>
                        </div>
                            

                        <div class="row">
                            <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                        </div>
                        
                    </div>
                </div>
                
                <div class="panel panel-info setup-content" id="step-2">
                    <div class="panel-heading">
                         <h3 class="panel-title" id="stp2_header">Issued</h3>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="control-label">Issued By</label>
                                    <input type="text" class="form-control" id="stp2_issued_by" readonly/>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="control-label">Date Issued</label>
                                    <input type="text" class="form-control" id="stp2_date_issued" readonly/>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="control-label">Verified By</label>
                                    <input type="text" class="form-control" id="stp2_verified_by" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <div class="form-group">
                                    <label for="id_work_order_number">Issues</label>
                                    <input type="checkbox" class="form-control" id="stp2_issues" readonly>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="form-group">
                                    <label for="id_work_order_number">Cleared</label>
                                    <input type="checkbox" class="form-control" id="stp2_cleared" readonly>
                                </div>
                            </div>
                            <div class="col-4" id="div_stp2_image">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Notes</label>
                                    <input type="text" class="form-control" id="stp2_notes" readonly/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <button class="btn btn-primary prevBtn pull-right" type="button">Previous</button>
                            <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                        </div>
                        
                    </div>
                </div>
                
                <div class="panel panel-info setup-content" id="step-3">
                    <div class="panel-heading">
                         <h3 class="panel-title" id="stp3_header">Assembled</h3>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="control-label">Assembled By</label>
                                    <input type="text" class="form-control" id="stp3_assembled_by" readonly/>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="control-label">Date Received</label>
                                    <input type="text" class="form-control" id="stp3_date_received" readonly/>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="control-label">Verified By</label>
                                    <input type="text" class="form-control" id="stp3_verified_by" readonly/>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="control-label">Date Assembled</label>
                                    <input type="text" class="form-control" id="stp3_date_assembled" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <div class="form-group">
                                    <label for="id_work_order_number">Cleared</label>
                                    <input type="checkbox" class="form-control" id="stp3_cleared" readonly>
                                </div>
                            </div>
                            <div class="col-4" id="div_stp3_image">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Notes</label>
                                    <input type="text" class="form-control" id="stp3_notes" readonly/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <button class="btn btn-primary prevBtn pull-right" type="button">Previous</button>
                            <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                        </div>
                        
                    </div>
                </div>
                
                <div class="panel panel-info setup-content" id="step-4">
                    <div class="panel-heading">
                         <h3 class="panel-title" id="stp4_header">Coupled</h3>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="control-label">Coupled By</label>
                                    <input type="text" class="form-control" id="stp4_coupled_by" readonly/>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="control-label">Date Received</label>
                                    <input type="text" class="form-control" id="stp4_date_received" readonly/>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="control-label">Verified By</label>
                                    <input type="text" class="form-control" id="stp4_verified_by" readonly/>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="control-label">Date Coupled</label>
                                    <input type="text" class="form-control" id="stp4_date_coupled" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <div class="form-group">
                                    <label for="id_work_order_number">Cleared</label>
                                    <input type="checkbox" class="form-control" id="stp4_cleared" readonly>
                                </div>
                            </div>
                            <div class="col-4" id="div_stp4_image">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Notes</label>
                                    <input type="text" class="form-control" id="stp4_notes" readonly/>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <button class="btn btn-primary prevBtn pull-right" type="button">Previous</button>
                            <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                        </div>
                        
                    </div>
                </div>

                <div class="panel panel-info setup-content" id="step-5">
                    <div class="panel-heading">
                         <h3 class="panel-title" id="stp5_header">Tested</h3>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="control-label">Assembled By</label>
                                    <input type="text" class="form-control" id="stp5_tested_by" readonly/>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="control-label">Date Received</label>
                                    <input type="text" class="form-control" id="stp5_date_received" readonly/>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="control-label">Verified By</label>
                                    <input type="text" class="form-control" id="stp5_verified_by" readonly/>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="control-label">Date Assembled</label>
                                    <input type="text" class="form-control" id="stp5_date_tested" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <div class="form-group">
                                    <label for="id_work_order_number">Cleared</label>
                                    <input type="checkbox" class="form-control" id="stp5_cleared" readonly>
                                </div>
                            </div>
                            <div class="col-4" id="div_stp5_image">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Notes</label>
                                    <input type="text" class="form-control" id="stp5_notes" readonly/>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <button class="btn btn-primary prevBtn pull-right" type="button">Previous</button>
                            <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                        </div>
                        
                    </div>
                </div>

                <div class="panel panel-info setup-content" id="step-6">
                    <div class="panel-heading">
                         <h3 class="panel-title" id="stp6_header">Received</h3>
                    </div>
                    <div class="panel-body">
                        
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="control-label">Checked By</label>
                                    <input type="text" class="form-control" id="stp6_checked_by" readonly/>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="control-label">Date Received</label>
                                    <input type="text" class="form-control" id="stp6_date_received" readonly/>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="control-label">Date Checked</label>
                                    <input type="text" class="form-control" id="stp6_date_out" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="id_work_order_number">Name Plate</label>
                                    <input type="checkbox" class="form-control" id="stp6_name_plate" readonly>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="id_work_order_number">Label Sticker</label>
                                    <input type="checkbox" class="form-control" id="stp6_label_sticker" readonly>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="id_work_order_number">IOM</label>
                                    <input type="checkbox" class="form-control" id="stp6_iom" readonly>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="id_work_order_number">QR Code</label>
                                    <input type="checkbox" class="form-control" id="stp6_qr_code" readonly>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="id_work_order_number">Warranty Card</label>
                                    <input type="checkbox" class="form-control" id="stp6_wrnty_card" readonly>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="id_work_order_number">Packaging</label>
                                    <input type="checkbox" class="form-control" id="stp6_packaging" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="col-4" id="div_stp6_image">
                                
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Notes</label>
                                    <input type="text" class="form-control" id="stp6_notes" readonly/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <button class="btn btn-primary prevBtn pull-right" type="button">Previous</button>
                        </div>
                        
                    </div>
                </div>

            </form>

            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/colreorder/1.5.2/js/dataTables.colReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.11.3/JsBarcode.all.min.js" integrity="sha512-TLB7v1Y4YHGy/EHUu5VZ2bl6sC/WvXh/NFdjEZ7JmbpsUG87dirXAOFSAS3O6Tn3rsZljFTcTdMz9PDM4mV26g==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js" integrity="sha512-NFUcDlm4V+a2sjPX7gREIXgCSFja9cHtKPOL1zj6QhnE0vcY695MODehqkaGYTLyL2wxe/wtr4Z49SvqXq12UQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous"></script>
<script>
    let prod_class_list   

$(document).ready(function() {
    toasterOptions();
    function toasterOptions() {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "1500",
            "hideDuration": "1500",
            "timeOut": "1500",
            "extendedTimeOut": "1500",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    };

    getProdClass_list();

    function getProdClass_list(){



    }

    var navListItems = $('div.setup-panel div button'),
        allWells = $('.setup-content'),
        allNextBtn = $('.nextBtn'),
        allPrevBtn = $('.prevBtn');

    allWells.hide();
    $("#btn_pdf").hide();

    navListItems.click(function (e) {
        e.preventDefault();
        var $target = $($(this).attr('href')),
            $item = $(this);

        var nextStepWizard = $(this).attr('id');

        if(nextStepWizard === "btn1")
            $('.stepwizard .progress-bar').animate({width:'0%'},0);
        if(nextStepWizard === "btn2")
            $('.stepwizard .progress-bar').animate({width:'20%'},0);
        if(nextStepWizard === "btn3")
            $('.stepwizard .progress-bar').animate({width:'40%'},0);
        if(nextStepWizard === "btn4")
            $('.stepwizard .progress-bar').animate({width:'60%'},0);
        if(nextStepWizard === "btn5")
            $('.stepwizard .progress-bar').animate({width:'80%'},0);
        if(nextStepWizard === "btn6")
            $('.stepwizard .progress-bar').animate({width:'100%'},0);
        

        if (!$item.hasClass('warning')) {
            navListItems.each(function( index ) {
                if(!($(this).attr('id') === $item.attr('id'))){
                    $(this).attr('class', "btn btn-circle btn-warning");
                }
            });
            $item.attr('class', "btn btn-circle btn-success");
            allWells.hide();
            $target.show();
            $target.find('input:eq(0)').focus();
        }
    });

    allNextBtn.click(function () {
        var curStep = $(this).closest(".setup-content"),
            curStepBtn = curStep.attr("id"),
            nextStepWizard = $('div.setup-panel div button[href="#' + curStepBtn + '"]').parent().next().children("button"),
            curInputs = curStep.find("input[type='text'],input[type='url']"),
            isValid = true;

        $(".form-group").removeClass("has-error");
        for (var i = 0; i < curInputs.length; i++) {
            if (!curInputs[i].validity.valid) {
                isValid = false;
                $(curInputs[i]).closest(".form-group").addClass("has-error");
            }
        }

        if (!(nextStepWizard.attr('disabled') === 'disabled')) {
            nextStepWizard.removeAttr('disabled').trigger('click');
        }
    });
    
    allPrevBtn.click(function () {
        var curStep = $(this).closest(".setup-content"),
            curStepBtn = curStep.attr("id"),
            prevStepWizard = $('div.setup-panel div button[href="#' + curStepBtn + '"]').parent().prev().children("button");

        prevStepWizard.removeAttr('disabled').trigger('click');
    });

    function populateWizard(data){

        //populate Schedule
        if(data.schedule_set.length === 1){
            data.schedule_set.forEach(function(item) {
                $("#stp1_header").html("Scheduled-Ongoing");
                $("#stp1_sched_num").val(item.schedule_num);
                $("#stp1_date_sched").val(item.date_scheduled);
                $("#stp1_issues").val(item.issues);
                $("#stp1_notes").val(item.notes);
            });
            $("#btn1").removeAttr('disabled');
        }

        //populate Issuance
        if(data.issuance_set.length === 1){
            data.issuance_set.forEach(function(item) {
                if(!(item.date_issued === null)){
                    $("#stp1_header").html("Scheduled-Finished");
                    $("#stp2_header").html("Issued-Finished");
                    $("#stp2_issued_by").val(item.issued_by);
                    $("#stp2_date_issued").val(item.date_issued);
                    $("#stp2_verified_by").val(item.verified_by);
                    $("#stp2_issues").val(item.issues);
                    if(item.cleared === true){$("#stp2_cleared").prop('checked', true);}
                    $("#stp2_notes").val(item.notes);
                    $('#div_stp2_image').append("<img id='stp2_image' class='img-thumbnail' src=/media/" + item.image + " />");
                }else{
                    $("#stp1_header").html("Scheduled-Finished");
                    $("#stp2_header").html("Issued-Ongoing");
                }
                $("#btn2").removeAttr('disabled');
            });
            
        }
        

        //populate Assembled
        if(data.assembly_set.length === 1){
            data.assembly_set.forEach(function(item) {
                if(!(item.date_assembled === null)){
                    $("#stp3_header").html("Assembled-Finished");
                    $("#stp3_assembled_by").val(item.assembled_by);
                    $("#stp3_date_received").val(item.date_received);
                    $("#stp3_verified_by").val(item.verified_by);
                    $("#stp3_date_assembled").val(item.date_assembled);
                    if(item.cleared === true){$("#stp3_cleared").prop('checked', true);}
                    $("#stp3_notes").val(item.notes);                
                    
                    $('#div_stp3_image').append("<img id='stp3_image' class='img-thumbnail' src=/media/" + item.image + " />");
                }else{
                    $("#stp3_header").html("Assembled-Ongoing");
                }
                $("#btn3").removeAttr('disabled');
            });
            
        }

        //populate Coupled
        if(data.coupling_set.length === 1){
            data.coupling_set.forEach(function(item) {
                if(!(item.date_coupled === null)){
                    $("#stp4_header").html("Coupled-Finished");
                    $("#stp4_coupled_by").val(item.coupled_by);
                    $("#stp4_date_received").val(item.date_received);
                    $("#stp4_verified_by").val(item.verified_by);
                    $("#stp4_date_coupled").val(item.date_coupled);
                    if(item.cleared === true){$("#stp4_cleared").prop('checked', true);}
                    $("#stp4_notes").val(item.notes);
                    $('#div_stp4_image').append("<img id='stp4_image' class='img-thumbnail' src=/media/" + item.image + " />");
                }else{
                    $("#stp4_header").html("Coupled-Ongoing");
                }
                $("#btn4").removeAttr('disabled');
            });
            
        }

        //populate Tested
        if(data.testing_set.length === 1){
            data.testing_set.forEach(function(item) {
                if(!(item.date_tested === null)){
                    $("#stp5_header").html("Tested-Finished");
                    $("#stp5_tested_by").val(item.tested_by);
                    $("#stp5_date_received").val(item.date_received);
                    $("#stp5_verified_by").val(item.verified_by);
                    $("#stp5_date_tested").val(item.date_tested);
                    if(item.cleared === true){$("#stp5_cleared").prop('checked', true);}
                    $("#stp5_notes").val(item.notes);
                    $('#div_stp5_image').append("<img id='stp5_image' class='img-thumbnail' src=/media/" + item.image + " />");
                }else{
                    $("#stp5_header").html("Tested-Ongoing");
                }
                $("#btn5").removeAttr('disabled');
            });
            
        }

        //populate Finished
        if(data.finished_set.length === 1){
            data.finished_set.forEach(function(item) {
                if(!(item.date_out === null)){
                    $("#stp6_header").html("Received-Finished");
                    $("#stp6_checked_by").val(item.checked_by);
                    $("#stp6_date_received").val(item.date_received);
                    $("#stp6_date_out").val(item.date_out);
                    if(item.name_plate === true){$("#stp6_name_plate").prop('checked', true);}
                    if(item.label_sticker === true){$("#stp6_label_sticker").prop('checked', true);}
                    if(item.iom === true){$("#stp6_iom").prop('checked', true);}
                    if(item.qr_code === true){$("#stp6_qr_code").prop('checked', true);}
                    if(item.wrnty_card === true){$("#stp6_wrnty_card").prop('checked', true);}
                    if(item.packaging === true){$("#stp6_packaging").prop('checked', true);}
                    $("#stp6_notes").val(item.notes);
                    $('#div_stp6_image').append("<img id='stp6_image' class='img-thumbnail' src=/media/" + item.image + " />");
                }else{
                    $("#stp6_header").html("Received-Ongoing");
                }
                $("#btn6").removeAttr('disabled');
            });
            
        }
    }

    function resetWizard(){
        $("#btn_pdf").hide();
        $("#stp2_issued_by").val("");
        $("#stp2_date_issued").val("");
        $("#stp2_verified_by").val("");
        $("#stp2_issues").val("");
        $("#stp2_cleared").prop('checked', false);
        $("#stp2_notes").val("");
        $("#stp2_image").remove();
        $("#stp3_assembled_by").val("");
        $("#stp3_date_received").val("");
        $("#stp3_verified_by").val("");
        $("#stp3_date_assembled").val("");
        $("#stp3_cleared").prop('checked', false);
        $("#stp3_notes").val("");
        $("#stp3_image").remove();
        $("#stp4_coupled_by").val("");
        $("#stp4_date_received").val("");
        $("#stp4_verified_by").val("");
        $("#stp4_date_coupled").val("");
        $("#stp4_cleared").prop('checked', false);
        $("#stp4_notes").val("");
        $("#stp4_image").remove();
        $("#stp5_tested_by").val("");
        $("#stp5_date_received").val("");
        $("#stp5_verified_by").val("");
        $("#stp5_date_tested").val("");
        $("#stp5_cleared").prop('checked', false);
        $("#stp5_notes").val("");
        $("#stp5_image").remove();
        $("#stp6_checked_by").val("");
        $("#stp6_date_received").val("");
        $("#stp6_date_out").val("");
        $("#stp6_name_plate").prop('checked', false);
        $("#stp6_label_sticker").prop('checked', false);
        $("#stp6_iom").prop('checked', false);
        $("#stp6_qr_code").prop('checked', false);
        $("#stp6_wrnty_card").prop('checked', false);
        $("#stp6_packaging").prop('checked', false);
        $("#stp6_notes").val("");
        $("#stp6_image").remove();

        navListItems.each(function( index ) {
            $(this).attr('disabled', 'disabled');
        });
    }

    var table = $('#wo_table').DataTable({
        dom: "<'row'<'col-md-6'l><'col-md-2'<'customselect wo'>><'col-md-2'<'div_prodclass'>><'col-md-2'f>>" +
        "<'row'<'col-md-12'rtip>>",
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]
    });
 
    $("div.div_prodclass").html("Product Class Filter" + "<select id="+ "'select_prod_class'" + "class='browser-default custom-select'"+"><option value='all'> All </option> {% for instance in prod_class_set %} <option value=' {{ instance.prod_class }} '>{{ instance.prod_class }}</option> {% endfor %}</select>");

    $("div.customselect.wo").html("Filter" + "<select id="+ "'select_wo'" + "class='browser-default custom-select'"+"><option value ='-1'>All</option><option value ='0'>Work Order Number</option><option value ='1'>Customer</option><option value ='2'>Order Type</option><option value ='3'>Order Class</option><option value ='4'>FO#</option><option value ='5'>TID#</option><option value ='6'>Product Number</option><option value ='8'>Product Quantity</option><option value ='9'>Notes</option></select>");

    $('#wo_table_filter label input').unbind().bind('keyup', function() {
        searchFilter();
    });

    $('#select_wo').focus(function () {
        // Store the current value on focus, before it changes
        previousIndex= this.selectedIndex;
    }).change(function(e) {
        var prod_class = $('#select_prod_class').val();
        if(prod_class === "all"){
            searchFilter();
        }else{
            e.target.selectedIndex = previousIndex;
            toastr.error("Please remove the Product Class Filter.");
        }
    });

    $('#select_prod_class').change(function() {
        searchFilter(); 
    });

    function searchFilter(){
        //Do the first search based from the og filter
        var colIndex = document.querySelector('#select_wo').value;
        var search = $('#wo_table_filter label input').val(); 
        if ( colIndex === "-1" ){
            $('#wo_table_filter label input').val('');
            table.columns().search( '' ).draw();
            return;
        }else{
            table.column(colIndex).search( search ).draw();
        }

        //Do the third search for the product class filter
        var prod_class = $('#select_prod_class').val();
        if( prod_class === "all" ){
            table.column(7).search( '' ).draw();
            table.column(colIndex).search( search ).draw();
        }else{
            table.columns(7).search(prod_class).draw();
        }

        $('#wo_table_filter label input').val(search); 

    }

    var table2 = $('#sched_table').DataTable({
        searching: false, paging: false, info: false,
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]
    });

    var table3 = $('#prod_table').DataTable({
        searching: false, paging: false, info: false,
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]
    });

    var table4 = $('#bom_table').DataTable({
        searching: false, paging: false, info: false,
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]
    });

    var counter2 = 0;
    $(table2.rows().nodes()).each(function(i, el){ 
        $(table2.rows(counter2).nodes().to$()).hide();
        counter2 += 1;
    });

    $('#wo_table').on('click', '.btn-primary.wo', function(e){
        resetWizard();
        allWells.hide();
        document.getElementById("sched_card").scrollIntoView({ behavior: 'smooth', block: "center", inline: "center" });
        var wo_num = this.dataset.wo_num;

        var btn_id = $(this).attr('id').split("-");
        var id_btn_counter = '';
        var btn_counter = 1;

        btn_id.forEach(function(item) {
            if( btn_counter === btn_id.length ){
                id_btn_counter = item;
            }
            btn_counter += 1;
        });


        var counter = 0;
        $(table.rows().nodes()).each(function(i, el){ 
            var row_tag = table.rows(counter).nodes().to$();
            var row_id = $(row_tag).attr('id').split("-");
            var id_row_counter = '';
            var row_counter = 1;

            row_id.forEach(function(item) {
                if( row_counter === row_id.length ){
                    id_row_counter = item;
                }
                row_counter += 1;
            });

            if( id_btn_counter === id_row_counter ){
                $(row_tag).attr('class', 'tablerow highlight');
            }else{
                $(row_tag).attr('class', 'tablerow');
            }

            counter += 1;
        });

        var counter2 = 0;
        $(table2.rows().nodes()).each(function(i, el){ 
            var row_tag2 = table2.rows(counter2).nodes().to$();

            $(row_tag2).attr('class', 'tablerow');

            var sched_wonum = $(row_tag2).attr('data-wo_num');
            if( wo_num === sched_wonum ){
                $(row_tag2).show();
            } else{
                $(row_tag2).hide();
            }
            counter2 += 1;
        });

        toastr.info("Work Order " + wo_num + " is selected.");

    });
    

    $("#sched_table").on('click', '.get-form.prod_sched', function(e){
        $('#btn1').trigger('click');
        resetWizard();
        $("#btn_pdf").show();
        var button = this;

        var btn_id = $(this).attr('id').split("-");
        var id_btn_counter = '';
        var btn_counter = 1;

        btn_id.forEach(function(item) {
            if( btn_counter === btn_id.length ){
                id_btn_counter = item;
            }
            btn_counter += 1;
        });


        var counter2 = 0;
        $(table2.rows().nodes()).each(function(i, el){ 
            var row_tag2 = table2.rows(counter2).nodes().to$();
            var row_id = $(row_tag2).attr('id').split("-");
            var id_row_counter = '';
            var row_counter = 1;

            row_id.forEach(function(item) {
                if( row_counter === row_id.length ){
                    id_row_counter = item;
                }
                row_counter += 1;
            });

            if( id_btn_counter === id_row_counter ){
                $(row_tag2).attr('class', 'tablerow highlight2');
            }else{
                $(row_tag2).attr('class', 'tablerow');
            }

            counter2 += 1;
        });

        $.ajax({
            method: "POST",
            url: "{% url 'planner:ViewWO_getDetails' %}",
            data: {'wo_num': button.dataset.wo_num,
                  'prod_sched': button.dataset.prod_sched,
                  'csrfmiddlewaretoken': '{{ csrf_token }}'},

            success: function(data){
                populateWizard(data);
            },
            error: function(error_data){
                alert("error");
            }
        });

        toastr.info("Work Order Schedule " + button.dataset.prod_sched + " is selected.");

        $('.btn-warning.pdf').attr('data-prod_sched',button.dataset.prod_sched);
        $('.btn-warning.pdf').attr('data-wo_num',button.dataset.wo_num);


        document.getElementById("status_card").scrollIntoView({ behavior: 'smooth', block: "center", inline: "center" });
    });

    $(document).on('click', '.btn-warning.pdf', function(e){
        var button = this;

        $.ajax({
            method: "POST",
            url: "{% url 'planner:ViewWO_getPDF' %}",
            data: {'prod_sched': button.dataset.prod_sched,
                  'csrfmiddlewaretoken': '{{ csrf_token }}'},

            success: function(data){
                dl_pdf(data, button.dataset.prod_sched);
            },
            error: function(error_data){
                alert("error");
            }
        });

        toastr.success("Work Order " + button.dataset.wo_num + " Schedule " + button.dataset.prod_sched + " is downloaded.");

    });

    function dl_pdf(data, prod_sched){
        var prod_sched = prod_sched;
        var wo_num = '';
        var doc = new jsPDF('l', 'mm', 'a4');

        //210 x 297 mm

        if(data.prodsched_set.length === 1){
            data.prodsched_set.forEach(function(item) {

                doc.setFontSize(10);
                doc.setFontType('normal');
                doc.text(252, 32, item.work_order_number__creation_date); //DATE CREATED

                doc.setFontSize(25); 
                doc.setFontType('bold');
                doc.rect(120, 45, 75, 13);
                doc.text(143, 55, item.work_order_number__work_order_number); //WO NUM
                wo_num = item.work_order_number__work_order_number;

                doc.setFontSize(10);
                doc.setFontType('normal');
                doc.text(190, 40, item.work_order_number__customer); //CUSTOMER
                doc.text(235, 40, item.work_order_number__tid_number); //TID
                doc.text(265, 40, item.work_order_number__work_order_class); //CLASS
                doc.text(140, 40, item.work_order_number__order_type); //ORDER TYPE
                doc.text(138, 62, item.work_order_number__prod_number__prod_desc); //PROD DESC

                doc.setFontSize(18);
                doc.setFontType('bold');
                doc.text(135, 73, item.work_order_number__prod_number__prod_number);
                doc.text(155, 86, String(item.quantity));

                doc.setFontSize(10);
                doc.setFontType('normal');
                doc.text(202, 113, String(item.date_required)); //Date Required
                doc.text(202, 128, item.work_order_number__required_completion_date); //COMPLETION

            });   
        }

        if(data.issuance_set.length === 1){
            data.issuance_set.forEach(function(item) {
                
                doc.setFontSize(10);
                doc.setFontType('normal');
                doc.text(202, 118, String(item.date_issued)); //DATE ISSUED
                doc.text(202, 138, item.verified_by); //RECEIVED
            });
        }

        if(data.assembly_set.length === 1){
            data.assembly_set.forEach(function(item) {
                
                doc.setFontSize(10);
                doc.setFontType('normal');
                doc.text(202, 143, String(item.date_assembled)); //DATE ASSEMBLED                
                doc.text(202, 148, item.assembled_by); //ASSEMBLED

            });
        }

        if(data.coupling_set.length === 1){
            data.coupling_set.forEach(function(item) {
                
                doc.setFontSize(10);
                doc.setFontType('normal');
                doc.text(202, 153, String(item.date_coupled)); //DATE COUPLED
                doc.text(202, 158, item.coupled_by); //COUPLED

            });
        }

        if(data.testing_set.length === 1){
            data.testing_set.forEach(function(item) {
                
                doc.setFontSize(10);
                doc.setFontType('normal');
                doc.text(202, 163, String(item.date_tested)); //DATE TESTED
                doc.text(202, 168, item.tested_by); //TESTED

            });
        }

        if(data.finished_set.length === 1){
            data.finished_set.forEach(function(item) {
                
                if(item.name_plate === true){
                    doc.line(25, 70, 28, 73);
                    doc.line(28, 70, 25, 73);
                }

                if(item.label_sticker === true){
                    doc.line(25, 78, 28, 81);
                    doc.line(28, 78, 25, 81);
                }

                if(item.iom === true){
                    doc.line(25, 86, 28, 89);
                    doc.line(28, 86, 25, 89);
                }

                if(item.qr_code === true){
                    doc.line(25, 94, 28, 97);
                    doc.line(28, 94, 25, 97);
                }

                if(item.wrnty_card === true){
                    doc.line(25, 102, 28, 105);
                    doc.line(28, 102, 25, 105);
                }

                if(item.packaging === true){
                    doc.line(25, 110, 28, 113);
                    doc.line(28, 110, 25, 113);
                }

                doc.setFontSize(10);
                doc.setFontType('normal');
                doc.text(45, 122, item.checked_by); //CHECKED BY
                doc.text(35, 130, String(item.date_out)); //DATE CHECKED
                doc.text(202, 133, String(item.date_out)); //DATE CHECKED
                doc.text(202, 178, item.checked_by); //DATE CHECKED
                doc.text(202, 183, String(item.date_out)); //DATE CHECKED

            });
        }
        
        //Row 1
        doc.setFontSize(10);
        doc.setFontType('normal');
        doc.rect(20, 15, 50, 20);
        doc.text('XYLEM Water Systems', 22, 22);
        doc.text('International, Inc.', 22, 27);
        doc.text('LISP II, Calamba, Laguna', 22, 32);

        doc.rect(70, 15, 150, 20);
        doc.setFontSize(30);
        doc.setFontType('bold');
        doc.text(105, 30, 'WORK ORDER');

        doc.setFontSize(10);
        doc.setFontType('normal');

        doc.rect(220, 15, 30, 10);
        doc.text(222, 22, 'REF NO.');
        doc.rect(250, 15, 30, 10);
        doc.text(252, 22, prod_sched);

        doc.rect(220, 25, 30, 10);
        doc.text(222, 32, 'Date Issued:'); //DATE CREATED
        doc.rect(250, 25, 30, 10);
        

        
        //Row 2
        doc.text(180, 40, 'FOR:'); //CUSTOMER
        doc.text(225, 40, 'TID:'); //TID
        doc.text(250, 40, 'CLASS:'); //CLASS

        
        //Row 3
        doc.setFontSize(19);
        doc.setFontType('bold');
        doc.text(55, 50, 'WORK ORDER NO:');

        $('#qrcode').qrcode(wo_num+"-"+prod_sched);

        var qrcode_canvas = document.querySelector('#qrcode canvas');

        var ctx = qrcode_canvas.getContext('2d');

        ctx.fillRect(50,50,50,50);

        var img_qr = new Image();
        img_qr.src = qrcode_canvas.toDataURL();

        doc.addImage(img_qr, 'PNG', 35, 140, 20, 20);

        JsBarcode("#barcode", wo_num+"-"+prod_sched,{
            format: "CODE39",
            displayValue: false
        });

        var barcode_img = document.getElementById("barcode").src
        
        
        doc.addImage(barcode_img, 'PNG', 55, 50, 50, 9);

        //doc.text(55, 57, 'BARCODE');
        doc.rect(120, 65, 75, 13);
        doc.rect(120, 78, 75, 13);
        doc.rect(120, 91, 75, 13);
        doc.text(155, 99, "0");

        doc.setFontSize(15);
        doc.setFontType('bold');
        doc.text(92, 73, 'MODEL:');
        doc.text(82, 86, 'QUANTITY:');
        doc.text(78, 99, 'SERIAL NO.:');

        //Row 4
        //RECEIVE
        doc.setFontSize(10);
        doc.setFontType('normal');

        doc.rect(20, 65, 50, 70);

        doc.rect(25, 70, 3, 3);
        doc.text(30, 73, 'Name plate');

        doc.rect(25, 78, 3, 3);
        doc.text(30, 81, 'Label Sticker');

        doc.rect(25, 86, 3, 3);
        doc.text(30, 89, 'IOM');

        doc.rect(25, 94, 3, 3);
        doc.text(30, 97, 'QR code');

        doc.rect(25, 102, 3, 3);        
        doc.text(30, 105, 'Warranty card');

        doc.rect(25, 110, 3, 3);
        doc.text(30, 113, 'Packaging');        

        //WHSE PICKING
        doc.setFontSize(15);
        doc.setFontType('normal');
        doc.text(78, 116, 'WHSE PICKING:');

        //PRODUCTION
        doc.setFontSize(15);
        doc.text(80, 131, 'PRODUCTION:');

        doc.setFontSize(10);
        doc.setFontType('normal');

        doc.rect(120, 109, 75, 5);
        doc.text(122, 113, 'Date Required by Production:');
        doc.rect(200, 109, 80, 5);

        doc.rect(120, 124, 75, 5);
        doc.text(122, 128, 'Required Completion Date:');
        doc.rect(200, 124, 80, 5);

        doc.rect(120, 114, 75, 5);
        doc.text(122, 118, 'Date Issued in Production:');
        doc.rect(200, 114, 80, 5);

        doc.rect(120, 134, 75, 5);
        doc.text(122, 138, 'Components Received by:');
        doc.rect(200, 134, 80, 5);

        doc.rect(120, 139, 75, 5);
        doc.text(122, 143, 'Date Assembled:');
        doc.rect(200, 139, 80, 5);
        
        doc.rect(120, 144, 75, 5);
        doc.text(122, 148, 'Assembled by:');
        doc.rect(200, 144, 80, 5);

        doc.rect(120, 149, 75, 5);
        doc.text(122, 153, 'Date Coupled:');
        doc.rect(200, 149, 80, 5);

        doc.rect(120, 154, 75, 5);
        doc.text(122, 158, 'Coupled by:');
        doc.rect(200, 154, 80, 5);

        doc.rect(120, 159, 75, 5);
        doc.text(122, 163, 'Date Tested:');
        doc.rect(200, 159, 80, 5);

        doc.rect(120, 164, 75, 5);
        doc.text(122, 168, 'Tested by:');
        doc.rect(200, 164, 80, 5);
        
        //WHSE FINAL RECEIVING
        doc.setFontSize(15);
        doc.setFontType('normal');
        doc.text(35, 181, 'WAREHOUSE FINAL RECEIVING:');

        //WORK ORDER AUTH
        doc.setFontSize(15);
        doc.text(35, 193, 'WORK ORDER AUTHORIZATION:');

        doc.setFontSize(10);
        doc.setFontType('normal');
        doc.rect(120, 189, 75, 5);
        doc.text(122, 193, 'Authorized by:');
        doc.rect(200, 189, 80, 5);
        doc.text(202, 193, data.planner);

        doc.text(25, 123, 'Checked by:');
                doc.line(45, 123, 65, 123);

        doc.text(25, 131, 'Date:');
        doc.line(35, 131, 65, 131);

        doc.rect(120, 129, 75, 5);
        doc.text(122, 133, 'Completion Date:');
        doc.rect(200, 129, 80, 5);

        doc.rect(120, 174, 75, 5);
        doc.text(122, 178, 'Checked by:');
        doc.rect(200, 174, 80, 5);

        doc.rect(120, 179, 75, 5);
        doc.text(122, 183, 'Date Received:');
        doc.rect(200, 179, 80, 5);

        doc.save(wo_num+'_'+prod_sched+'.pdf');

    }

});
 </script>
{% endblock javascripts %}