{% extends "base.html" %}

{% block title %} Report Shrinkage {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% load static %}
<style type="text/css">
    input { 
    text-align: center; 
    }
</style>
{% endblock stylesheets %}

{% block content %}

    <div class="card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Select an Item to Report for Shrinkage:</h4>
        </div>
        <div class="card-body">
            <div class="form-row align-items-center">
                <div class="col-4">
                    <div class="form-group">
                        <label>Item Number</label>
                        <input type ="text" class="form-control" id="name2" readonly/>
                   </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label>Item Category</label>
                        <input type ="text" class="form-control" id="name3" readonly/>
                   </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label>Assembly Line</label>
                        <input type ="text" class="form-control" id="name4" readonly/>
                   </div>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-4">
                    <div class="form-group">
                        <label>Quantity Lost due to Shrinkage</label>
                        <input type ="number" class="form-control" id="name5"/>
                   </div>
               </div>

                <div class="col-4">
                    <div class="form-group">
                        <label>Available Quantity</label>
                        <input type ="text" class="form-control" value="67" id="name6" readonly/>
                        <input type ="hidden" class="form-control" id="name7" readonly/> <!--ASS LINE ID-->
                   </div>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-lg-1">
                    <button type="button" id="selectbtn" class="btn btn-success btn-lg">Select</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Select a from the Bill of Materials</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive"> <!--Bill of Materials-->
                <table class="table table-hover table-striped w-auto" id="bom_table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Item Number</th>
                            <th scope="col">Item Category</th>
                            <th scope="col">Current Quantity</th>
                            <th scope="col">Assembly Line ID</th>
                            <th scope="col">Assembly Line</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for instance in ass_item %}
                        <tr class="tablerow bom_table">
                            <td><button type="button" class="btn btn-primary item_number" data-item_num="{{instance.item_number__item_number}}" data-item_cat="{{instance.item_number__item_cat__item_cat}}" data-curr_quan="{{instance.quantity}}" data-assline_id="{{ instance.assemblyline__id }}" data-assline="{{ instance.assemblyline__name }}">{{ instance.item_number__item_number }}</button></td>
                            <td><input type="text" class="form-control" id="bom-{{forloop.counter}}-item_cat" value="{{ instance.item_number__item_cat__item_cat }}" readonly></td>
                            <td><input type="text" class="form-control" id="bom-{{forloop.counter}}-curr_quan" value="{{ instance.quantity }}" readonly></td>
                            <td><input type="text" class="form-control" id="bom-{{forloop.counter}}-assline_id" value="{{ instance.assemblyline__id }}" readonly></td>
                            <td><input type="text" class="form-control" id="bom-{{forloop.counter}}-assline" value="{{ instance.assemblyline__name }}" readonly></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous"></script>
<script>          
    $(document).ready(function(){

        $("#div_sidebar").remove();
        $("#div_nav").remove();
        $('#div_main').css({'min-width': 'calc(100%)'});
        
        toasterOptions();
        function toasterOptions() {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "1500",
                "hideDuration": "1500",
                "timeOut": "1500",
                "extendedTimeOut": "1500",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        };

        checkSession();
        function checkSession(){
            if (sessionStorage.getItem('reloaded') != null) { //detects refresh
                alert('The page was reloaded! The page will close now.');
                window.close();
            }
            sessionStorage.setItem('reloaded', 'yes');
        }

        $( "#bom_table" ).on("click", ".btn.btn-primary.item_number", function () {
            var btn = this;
            var item_num = btn.dataset.item_num;
            var item_cat = btn.dataset.item_cat;
            var assline = btn.dataset.assline;
            var assline_id = btn.dataset.assline_id;

            $('#name2').val(item_num);
            $('#name3').val(item_cat);
            $('#name4').val(assline);
            $('#name7').val(assline_id);

            toastr.info('Item '+ item_num + " is selected. <br> Please enter shrinkage quantity");
        });
        
        $(".btn.btn-success.btn-lg").on("click", function () {
            
            var item_num = $('#name2').val();
            var item_cat = $('#name3').val();
            var assline = $('#name4').val();
            var req_quan = $('#name5').val();
            var avail_quan = $('#name6').val();
            var assline_id = $('#name7').val();

            $(window.opener.document).find('#id_report-item_number').val(item_num);
            $(window.opener.document).find('#shrnk_itemcat').val(item_cat);
            $(window.opener.document).find('#id_report-quantity').val(req_quan);

            $(window.opener.document).find('#id_item-item_number').val(item_num);
            $(window.opener.document).find('#rpl_itemcat').val(item_cat);
            $(window.opener.document).find('#id_item-quantity').val(req_quan);
            $(window.opener.document).find('#id_item-ass_location').val(assline_id);
            $(window.opener.document).find('#id_item-ass_locationTEXT').val(assline);
            $(window.opener.document).find('#avail_quan').val(avail_quan);

            alert(item_num + " has reported from shrinkage with a quantity of "+ req_quan);

            window.opener.showtoast("item");
            var goBack = window.open('', 'Report_Shrnk');
            goBack.focus();
            window.close();                 
        });

        $("#bom_table").DataTable({
            searching: false, paging: false, info: false,
            "columnDefs": [ {"className": "text-center", "targets": "_all"} ]
        });

    });
</script>
{% endblock javascripts %}