{% extends "base.html" %}

{% block title %} Shrinkage Summary {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<h2>View Shrinkage Summary</h2>

<div class="card">
    <div class="card-header card-header-tabs card-header-info">
        <h4 class="card-title">Shrinkage Summaries:</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive"> <!--Shrnk Items-->
            <table class="table table-hover table-striped table-bordered sm" id="report_table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Report Number</th>
                        <th scope="col">WO Num</th>
                        <th scope="col">Prod Sched</th>
                        <th scope="col">Shrinkage Item</th>
                        <th scope="col">Shrinkage Description</th>
                        <th scope="col">Shrinkage Quantity</th>
                        <th scope="col">Shrinkage Type</th>
                    </tr>
                </thead>
                <tbody>
                {% for instance in report_shrnkge_set %}
                    <tr class="tablerow" id="ponum-{{forloop.counter}}">

                        <td><button type="button" class="btn btn-primary report" data-report_num="{{ instance.report_num }}" id="sched-{{forloop.counter}}-sched">{{ instance.report_num }}</button></td>
                        <td>{{ instance.prod_sched__work_order_number }}</td>
                        <td>{{ instance.prod_sched__id }}</td>
                        <td>{{ instance.item_number__item_number }}</td>
                        <td>{{ instance.item_number__item_desc }}</td>
                        <td>{{ instance.quantity }}</td>
                        <td>{{ instance.shrinkage_type__shrinkage_type }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header card-header-tabs card-header-info">
        <h4 class="card-title">Reported Items:</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive"> <!--Shrnk Items-->
            <table class="table table-hover table-striped table-bordered sm" id="item_table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Replacement Item</th>
                        <th scope="col">Replacement Description</th>
                        <th scope="col">Replacement Quantity</th>
                        <th scope="col">Scheduled</th>
                        <th scope="col">Assembly Line</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Date Reported</th>
                    </tr>
                </thead>
                <tbody>
                {% for instance in item_shrnkge_set %}
                    <tr class="tablerow" id="ponum-{{forloop.counter}}" data-report_num="{{instance.report_num__report_num}}">

                        <td>{{ instance.item_number__item_number }}</td>
                        <td>{{ instance.item_number__item_desc }}</td>
                        <td>{{ instance.quantity }}</td>
                        <td>{{ instance.scheduled }}</td>
                        <td>{{ instance.ass_location__name }}</td>
                        <td>{{ instance.report_num__reason }}</td>
                        <td>{{ instance.report_num__date_reported }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
$(document).ready(function() {
    var table = $('#report_table').DataTable({
        pageLength : 5,
        lengthMenu: [[5, 10, 20, 50], [5, 10, 20, 50]],
        dom: "<'row'<'col-md-4'l><'col-md-4'<'customselect'>><'col-md-4'f>>" +
        "<'row'<'col-md-12'rtip>>",
        "columnDefs": [ {"className": "text-center", "targets": "_all"}]
    });

    $("div.customselect").html("<select id="+ "'select'" + "class='browser-default custom-select'"+"><option>Report Number</option><option>WO Num</option><option>Prod Sched</option><option>Shrinkage Item</option><option>Shrinkage Description</option><option>Shrinkage Quantity</option><option>Shrinkage Type</option></select>");

    $('#report_table_filter label input').unbind().bind('keyup', function() {
      var colIndex = document.querySelector('#select').selectedIndex;
      table.column(colIndex).search( this.value ).draw();
    });

    $('#select').change(function() {
      table.columns().search('').draw();
    });

    var table2 = $('#item_table').DataTable( {
        paging: false, info: false,
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]
    } );

    var counter2 = 0;
    $(table2.rows().nodes()).each(function(i, el){ 
        $(table2.rows(counter2).nodes().to$()).hide();
        counter2 += 1;
    });

    $("#report_table").on("click", ".btn.btn-primary.report", function(){
        btn = this;
        var report_num = btn.dataset.report_num;

        var counter2 = 0;
        $(table2.rows().nodes()).each(function(i, el){ 
            var row_tag2 = table2.rows(counter2).nodes().to$();

            var row_report_num = $(row_tag2).attr('data-report_num');

            if ( report_num === row_report_num ){
                $(row_tag2).show();
            }else{
                $(row_tag2).hide();
            }
            counter2 += 1;
        });

        toastr.info('Shrinkage Report Number '+ report_num + " is selected.");

    });

});
 </script>
{% endblock javascripts %}