{% extends "base.html" %}

{% block title %} Inbound Shipment {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% load static %}
<style type="text/css">
    .table-striped tbody tr.highlight td { 
    background-color: #87CEFA;
    }
    input:not([name="notes"]){ 
    text-align: center; 
    }
</style>
{% endblock stylesheets %}

{% block content %}
    <h2>Select a PO Number</h1>
    <br>
    <div class="card" id="select_card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Purchase Order to Inbound:</h4>
        </div>
        <div class="card-body">

            <div class="form-row align-items-center">
                <div class="col-3">
                    <div class="form-group">
                        <label>Purchase Order Number</label>
                        <input type ="text" class="form-control" id="name1" readonly/>
                    </div>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-1.5">
                    <button type="button" id="selectbtn" class="btn btn-success btn-lg">Select</button>
                </div>
                <div class="col-1.5">
                    <button type="button" id="donebtn" class="btn btn-warning btn-lg">Done</button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-row align-top">
        <div class="col-lg-4">
            <div class="card" id="po_card">
                <div class="card-header card-header-tabs card-header-info">
                    <h4 class="card-title">Open Purchase Orders:</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive"> <!--PO Num Table-->
                        <table class="table table-hover table-striped w-auto" id="po_table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">PO Number</th>
                                    <th scope="col">Purchase Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for instance in ponumset %}
                                <tr class="tablerow">
                                    <td><button type="button" class="btn btn-primary" data-ponum="{{ instance.po_number }}">{{ instance.po_number }}</button></td>
                                    <td>{{ instance.purchase_date }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header card-header-tabs card-header-info">
                    <h4 class="card-title">Purchased Items:</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive"> <!--PO Num Table-->
                    <table class="table table-hover table-striped w-auto" id="item_table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">PO Number</th>
                                <th scope="col">Item Number</th>
                                <th scope="col">Purchased Quantity</th>
                                <th scope="col">Item Description</th>
                                <th scope="col">Unit of Measure</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for instance in poitemset %}
                            <tr class="tablerow" data-ponum="{{ instance.po_number__po_number }}" data-item_num="{{ instance.item_number__item_number }}" data-purch_quan="{{ instance.item_quantity }}">
                                <td>{{ instance.po_number__po_number }}</td>
                                <td>{{ instance.item_number__item_number }}</td>
                                <td>{{ instance.item_quantity }}</td>
                                <td>{{ instance.item_number__item_desc }}</td>
                                <td>{{ instance.item_number__uom__uom }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table> 
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous"></script>

<script>
    let table1, table2

    table1 = $("#po_table").DataTable({
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]});
    table2 = $("#item_table").DataTable({paging: false, info: false,
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]});

    $(window).on('load', function() {
        document.getElementById("po_card").scrollIntoView({ behavior: 'smooth', block: "center", inline: "center" });

        if(po_list.length > 0){
            po_list.forEach(function(item) {
                selectPO( item );
            });
        }
        
    });

    $(document).ready(function(){
        toasterOptions();
        function toasterOptions() {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "1500",
                "hideDuration": "1500",
                "timeOut": "1500",
                "extendedTimeOut": "1500",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        };

        checkSession();
        function checkSession(){
            if (sessionStorage.getItem('reloaded') != null) { //detects refresh
                alert('The page was reloaded! The page will close now.');
                window.close();
            }
            sessionStorage.setItem('reloaded', 'yes');
        }
        
        
        var counter2 = 0;
        $(table2.rows().nodes()).each(function(i, el){ 
            $(table2.rows(counter2).nodes().to$()).hide();
            counter2 += 1;
        });


        $( ".btn.btn-success.btn-lg" ).on("click", function () {
            var po_num = $('#name1').val();

            if( $('#name1').val() === "" ){
                toastr.error('Select a Purchase Order.');
            }else{

                if ( checkifDisabled(po_num) ){
                    toastr.error('Purchase Order ' + po_num + ' is already selected to the Shipment.');
                }else{

                    window.opener.insert_po('formpo', po_num);
                    
                    var counter1 = 0;
                    $(table1.rows().nodes()).each(function(i, el){ 
                        var row_tag1 = table1.rows(counter1).nodes().to$();
                        var button_tag1 = $.parseHTML(table1.cell(counter1,0).data())[0];

                        if ( po_num === $(button_tag1).attr('data-ponum') ){
                            $(button_tag1).attr('disabled', true);
                            $(row_tag1).attr('class', 'tablerow highlight');
                        }
                        table1.cell(counter1,0).data($(button_tag1).prop('outerHTML'));
                        counter1 += 1;
                    });

                    toastr.success('Purchase Order ' + $('#name1').val() + ' is selected to the Shipment.');
                }                
            }
        });

        function checkifDisabled(po_num){
            var status = false;
            var counter1 = 0;
            $(table1.rows().nodes()).each(function(i, el){ 
                var row_tag1 = table1.rows(counter1).nodes().to$();
                var button_tag1 = $.parseHTML(table1.cell(counter1,0).data())[0];

                if ( po_num === $(button_tag1).attr('data-ponum') ){
                    if($(button_tag1).is(":disabled")){
                        status = true;
                    }else{
                        status = false;
                    }       
                }
                counter1 += 1;
            });
            return status;
        }

        $("#donebtn").on("click", function () {
            var goBack = window.open('', 'inbound_shipment');
            goBack.focus();
            window.close();
        });

        $( "#po_table" ).on("click", ".btn.btn-primary",function () {
            var btn = this;
            var po_num = btn.dataset.ponum;
            $('#name1').val(po_num);

            var counter2 = 0;
            $(table2.rows().nodes()).each(function(i, el){ 
                var row_tag2 = table2.rows(counter2).nodes().to$();

                var item_po_num = $(row_tag2).attr('data-ponum');
                if (po_num === item_po_num){
                    $(row_tag2).show();
                }else {
                    $(row_tag2).hide();
                }
                counter2 += 1;
            });

            toastr.info('Purchase Order ' + po_num + ' is selected.');

        });

    });



    function deselectPO(po_num){
        var counter1 = 0;
        $(table1.rows().nodes()).each(function(i, el){ 
            var row_tag1 = table1.rows(counter1).nodes().to$();
            var button_tag1 = $.parseHTML(table1.cell(counter1,1).data())[0];

            if ( po_num === $(button_tag1).attr('data-ponum') ){
                $(button_tag1).attr('disabled', false);
                $(row_tag1).attr('class', 'tablerow');
            }
            table1.cell(counter1,0).data($(button_tag1).prop('outerHTML'));
            counter1 += 1;
        });
    }

    function selectPO(po_num){
        var counter1 = 0;
        $(table1.rows().nodes()).each(function(i, el){ 
            var row_tag1 = table1.rows(counter1).nodes().to$();
            var button_tag1 = $.parseHTML(table1.cell(counter1,1).data())[0];

            if ( po_num === $(button_tag1).attr('data-ponum') ){
                $(button_tag1).attr('disabled', true);
                $(row_tag1).attr('class', 'tablerow highlight');
            }
            table1.cell(counter1,0).data($(button_tag1).prop('outerHTML'));
            counter1 += 1;
        });
    }
</script>
{% endblock javascripts %}