{% extends "base.html" %}

{% block title %} Resolve PO {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% load static %}
<style type="text/css">
    div.settings {
        display:grid;
        grid-template-columns: max-content max-content;
        grid-gap:5px;
    }
    div.settings label       { text-align:right; }
    div.settings label:after { content: ":"; }
</style>
{% endblock stylesheets %}

{% block content %}

<h2>Select a PO Number</h2>

<div class="card" id="select_card">
    <div class="card-header card-header-tabs card-header-info">
        <h4 class="card-title">Purchase Order to Resolve:</h4>
    </div>
    <div class="card-body">

        <div class="form-row align-items-center">
            <div class="col-3">
                <div class="form-group">
                    <label>Purchase Order Number</label>
                    <input type ="text" class="form-control" id="po_num" readonly/>
                </div>
            </div>
        </div>
        <div class="form-row align-items-center">
            <button type="button" id="selectbtn" class="btn btn-warehouse btn-lg btn-success">Select</button>
        </div>
    </div>
</div>

<div class="card" id="po_card">
    <div class="card-header card-header-tabs card-header-info">
        <h4 class="card-title">VDR Purchase Orders:</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive"><!--PO Num Table-->
            <table class="table table-hover table-striped w-auto" id="po_table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">PO Number</th>
                        <th scope="col">Purchase Date</th>
                        <th scope="col">Supplier</th>
                        <th scope="col">Notes</th>
                    </tr>
                </thead>
                <tbody>
                {% for instance in ponum_set %}
                    <tr class="tablerow">
                        <td><button type="button" class="btn btn-primary po" data-ponum="{{ instance.po_number }}">{{ instance.po_number }}</button></td>
                        <td>{{ instance.purchase_date }}</td>
                        <td>{{ instance.supplier }}</td>
                        <td>{{ instance.notes }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header card-header-tabs card-header-info">
        <h4 class="card-title">Shipments:</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive"> <!--PO Num Table-->
            <table class="table table-hover table-striped w-auto" id="ship_table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Shipment Number</th>
                        <th scope="col">DR#</th>
                        <th scope="col">RR#</th>
                        <th scope="col">Invoice#</th>
                        <th scope="col">Trucking</th>
                        <th scope="col">Shipment Category</th>
                        <th scope="col">Container#</th>
                        <th scope="col">Container Type</th>
                        <th scope="col">AWL/BL</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Date DR</th>
                        <th scope="col">Date Whse</th>
                        <th scope="col">Shipment Cleared</th>
                        <th scope="col">Shipment Validated</th>
                    </tr>
                </thead>
                <tbody>
                {% for instance in shipment_set %}
                    <tr class="tablerow" data-po_num="{{ instance.po_num__po_number }}">
                        <td>{{ instance.shipment_num__shipment_num }}</td>
                        <td>{{ instance.shipment_num__dr_num }}</td>
                        <td>{{ instance.shipment_num__rr_num }}</td>
                        <td>{{ instance.shipment_num__invoice_num }}</td>
                        <td>{{ instance.shipment_num__ship_trucking }}</td>
                        <td>{{ instance.shipment_num__ship_category }}</td>
                        <td>{{ instance.shipment_num__container_num }}</td>
                        <td>{{ instance.shipment_num__container_type }}</td>
                        <td>{{ instance.shipment_num__awl_bl }}</td>
                        <td>{{ instance.shipment_num__notes }}</td>
                        <td>{{ instance.shipment_num__date_dr }}</td>
                        <td>{{ instance.shipment_num__date_warehouse }}</td>
                        <td>{{ instance.shipment_num__cleared }}</td>
                        <td>{{ instance.validated }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>



<div class="row">
    <div class="col-4">

        <div class="card">
            <div class="card-header card-header-tabs card-header-info">
                <h4 class="card-title">Purchased Items:</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive"> <!--Purchased Items-->
                    <table class="table table-hover table-striped table-bordered" id="po_item_table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Item Number</th>
                                <th scope="col">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for instance in ponum_item_set %}
                            <tr class="tablerow" id="po_item-{{forloop.counter}}" data-po_num="{{instance.po_number__po_number}}" >
                                <td>{{ instance.item_number__item_number }}</td>
                                <td>{{ instance.item_quantity }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>

    </div>
    <div class="col-8">

        <div class="card">
            <div class="card-header card-header-tabs card-header-info">
                <h4 class="card-title">Validated Shipment Item:</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive"> <!--Shrnk Items-->
                    <table class="table table-hover table-striped table-bordered" id="ship_item_table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Shipment Number</th>
                                <th scope="col">Date Validated</th>
                                <th scope="col">Start Time</th>
                                <th scope="col">End Time</th>
                                <th scope="col">Validation Time</th>
                                <th scope="col">Item Number</th>
                                <th scope="col">Item Description</th>
                                <th scope="col">Received Quantity</th>
                                <th scope="col">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for instance in ship_item_set %}
                            <tr class="tablerow" id="sum-{{forloop.counter}}" data-po_num="{{instance.shipment_po__po_num__po_number}}" >
                                <td>{{ instance.shipment_po__shipment_num__shipment_num }}</td>
                                <td>{{ instance.date_validated }}</td>
                                <td>{{ instance.start_time_validation }}</td>
                                <td>{{ instance.end_time_validation }}</td>
                                <td>{{ instance.validation_time }}</td>
                                <td>{{ instance.item_number__item_number }}</td>
                                <td>{{ instance.item_number__item_desc }}</td>
                                <td>{{ instance.item_quantity }}</td>
                                <td>{{ instance.notes }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>

    </div>
</div>



<div class="card">
    <div class="card-header card-header-tabs card-header-info">
        <h4 class="card-title">Current Purchase Summary:</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive"> <!--Shrnk Items-->
            <table class="table table-hover table-striped table-bordered" id="ship_sum_table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Item Number</th>
                        <th scope="col">Item Description</th>
                        <th scope="col">Purchased Quantity</th>
                        <th scope="col">Received Quantity</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Date Last Shipped</th>
                    </tr>
                </thead>
                <tbody>
                {% for instance in ship_summary_set %}
                    <tr class="tablerow" id="sum-{{forloop.counter}}" data-po_num="{{instance.po_num}}" data-item_num="{{instance.item_number}}" data-req_quan="{{instance.purch_quan}}" data-rec_quan="{{instance.tot_rec_quan}}" data-balance="{{instance.balance}}" data-date_shipped="{{instance.date_shipped}}" >

                        <td>{{ instance.item_number }}</td>
                        <td>{{ instance.item_desc }}</td>
                        <td>{{ instance.purch_quan }}</td>
                        <td>{{ instance.tot_rec_quan }}</td>
                        <td>{{ instance.balance }}</td>
                        <td>{{ instance.date_shipped }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>

    

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous"></script>

<script>
    let table1, table2, table3, table4, table5

    table1 = $("#po_table").DataTable({
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]});
    table2 = $("#ship_table").DataTable({searching: false, paging: false, info: false,
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]});
    table3 = $("#po_item_table").DataTable({searching: false, paging: false, info: false,
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]});
    table4 = $("#ship_item_table").DataTable({searching: false, paging: false, info: false,
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]});
    table5 = $("#ship_sum_table").DataTable({searching: false, paging: false, info: false,
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]});

    $(window).on('load', function() {
        document.getElementById("po_card").scrollIntoView({ behavior: 'smooth', block: "center", inline: "center" });
    });

    $(document).ready(function(){

        toasterOptions();
        function toasterOptions() {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "1500",
                "hideDuration": "1500",
                "timeOut": "1500",
                "extendedTimeOut": "1500",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        };

        checkSession();
        function checkSession(){
            if (sessionStorage.getItem('reloaded') != null) { //detects refresh
                alert('The page was reloaded! The page will close now.');
                window.close();
            }
            sessionStorage.setItem('reloaded', 'yes');
        }

        var counter2 = 0;
        $(table2.rows().nodes()).each(function(i, el){ 
            $(table2.rows(counter2).nodes().to$()).hide();
            counter2 += 1;
        });

        var counter3 = 0;
        $(table3.rows().nodes()).each(function(i, el){ 
            $(table3.rows(counter3).nodes().to$()).hide();
            counter3 += 1;
        });

        var counter4 = 0;
        $(table4.rows().nodes()).each(function(i, el){ 
            $(table4.rows(counter4).nodes().to$()).hide();
            counter4 += 1;
        });

        var counter5 = 0;
        $(table5.rows().nodes()).each(function(i, el){ 
            $(table5.rows(counter5).nodes().to$()).hide();
            counter5 += 1;
        });


        $( ".btn.btn-success.btn-lg" ).on("click", function () {
            $(window.opener.document).find('#id_po_num').val($('#po_num').val()); //PO Number


            window.opener.deletereqitem();

            var counter5 = 0;
            $(table5.rows().nodes()).each(function(i, el){ 
                var row_tag5 = table5.rows(counter5).nodes().to$();
                if ($(row_tag5).is(":visible")){

                    var item_num = $(row_tag5).attr('data-item_num');
                    var item_quan = $(row_tag5).attr('data-req_quan');
                    var rec_quan = $(row_tag5).attr('data-rec_quan');
                    var balance = $(row_tag5).attr('data-balance');
                    var date_shipped = $(row_tag5).attr('data-date_shipped');

                    window.opener.showreqitem(item_num, item_quan, rec_quan, balance, date_shipped);
                }
                counter5 += 1;
            });

            toastr.success('Purchase Order ' + $('#po_num').val() + " is selected.");

            var goBack = window.open('', 'Resolve_PO');
            goBack.focus();
            window.close();
        });

        $( "#po_table" ).on("click", ".btn.btn-primary", function () {
            var po_num = this.dataset.ponum;
            $("#po_num").val(po_num);
            
            var counter2 = 0;
            $(table2.rows().nodes()).each(function(i, el){ 
                var row_tag2 = table2.rows(counter2).nodes().to$();
                var item_po_num = $(row_tag2).attr('data-po_num');
                if (po_num === item_po_num){
                    $(row_tag2).show();
                }else {
                    $(row_tag2).hide();
                }
                counter2 += 1;
            });

            var counter3 = 0;
            $(table3.rows().nodes()).each(function(i, el){ 
                var row_tag3 = table3.rows(counter3).nodes().to$();
                var shipitem_ponum = $(row_tag3).attr('data-po_num');

                if (po_num === shipitem_ponum){
                    $(row_tag3).show();                                    
                }else {
                    $(row_tag3).hide();
                }
                counter3 += 1;
            });

            var counter4 = 0;
            $(table4.rows().nodes()).each(function(i, el){ 
                var row_tag4 = table4.rows(counter4).nodes().to$();
                var shipsum_ponum = $(row_tag4).attr('data-po_num');

                if (po_num === shipsum_ponum){
                    $(row_tag4).show();                                            
                }else {
                    $(row_tag4).hide();
                }
                counter4 += 1;
            });

            var counter5 = 0;
            $(table5.rows().nodes()).each(function(i, el){ 
                var row_tag5 = table5.rows(counter5).nodes().to$();
                var shipsum_ponum = $(row_tag5).attr('data-po_num');

                if (po_num === shipsum_ponum){
                    $(row_tag5).show();                                            
                }else {
                    $(row_tag5).hide();
                }
                counter5 += 1;
            });

            toastr.info('Purchase Order ' + po_num + " is selected. Please Confirm");

        });
    
    });


</script>
{% endblock javascripts %}