{% extends "base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% load static %}
<style>
    .table-striped tbody tr.highlight td { 
    background-color: #f3fafe;
    }
    .table {
        text-align: center;   
    }
</style>
{% endblock stylesheets %}

{% block content %}
    <h2> Resolve PO </h2>

    <form class="form-horizontal" method="POST" action="" id="ship_form">
        {% csrf_token %}

        <div class="card">
            <div class="card-header card-header-tabs card-header-info">
                <h4 class="card-title">Selected Purchase Order:</h4>
            </div>
            <div class="card-body">
                <div class="form-row align-items-center">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="id_po_num">PO Num:</label>
                            <input type="text" name="po_num" id="id_po_num" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-success add-form-row ponum"><i class="fas fa-file-medical" aria-hidden="true"></i></button>
                    </div>
                </div>
                <br>
                <h3> Purchased Items Status </h3>
                <div class="form-row align-items-center">
                    <div class="table-responsive"> <!--Purchased Items-->
                        <table class="table table-hover table-striped table-bordered" id="po_item_table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Item Number</th>
                                    <th scope="col">Purchased Quantity</th>
                                    <th scope="col">Received Quantity</th>
                                    <th scope="col">Balance</th>
                                    <th scope="col">Date Last Shipped</th>
                                </tr>
                            </thead>
                            <tbody id="tblBody">
                                <tr class="tablerow">
                                </tr>
                            </tbody>
                        </table> 
                    </div>
                </div>

                <div class="form-row align-items-center">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="id_notes">Notes:</label>
                            <input type="text" name="notes" maxlength="200" id="id_notes" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row spacer">
                    <div class="col-2">
                        <button type="submit" class="btn btn-block btn-success">Resolve</button>
                    </div>
                </div>
            </div>
        </div>

    
    </form>

    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function(){
        window.name = "Resolve_PO";

        $(document).on('click', '.add-form-row.ponum', function(e){
            var wewewe = window.open("{% url 'warehouse:ResolvePO_SelectPO' %}");
            return false;
        });

    });

    function showreqitem(item_num, item_quan, rec_quan, balance, date_shipped) { //selector - .form-row:last | prefix - form
        $('#po_item_table').prepend('<tr><td>'+item_num+'</td><td>'+item_quan+'</td><td>'+ rec_quan +'</td><td>'+balance+'</td><td>'+date_shipped+'</td></tr>');
        
        return false;
    }

    function deletereqitem() { //selector - .form-row:last | prefix - form
        $("#tblBody").empty();

        return false;
    }


</script>
{% endblock javascripts %}