{% extends "base.html" %}

{% block title %} Open PO {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<h2>View Open Purchase Orders</h2>

<div class="card">
    <div class="card-header card-header-tabs card-header-info">
        <h4 class="card-title">Open Purchase Orders:</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive"> <!--Shrnk Items-->
            <table class="table table-hover table-striped table-bordered" id="inbound_table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Supplier</th>
                        <th scope="col">Purchase Date</th>
                        <th scope="col">Purchase Order Number</th>
                        <th scope="col">Item Number</th>
                        <th scope="col">Item Description</th>
                        <th scope="col">Purchased Quantity</th>
                        <th scope="col">Received Quantity</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Date Last Shipped</th>
                    </tr>
                </thead>
                <tbody>
                {% for instance in openpo_set %}
                    <tr class="tablerow" id="ponum-{{forloop.counter}}">

                        <td>{{ instance.supplier }}</td>
                        <td>{{ instance.purch_date }}</td>
                        <td>{{ instance.po_num }}</td>
                        <td>{{ instance.item_number }}</td>
                        <td>{{ instance.item_desc }}</td>
                        <td>{{ instance.purch_quan }}</td>
                        <td>{{ instance.tot_rec_quan }}</td>
                        <td>{{ instance.balance }}</td>
                        <td>{{ instance.date_shipped }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
$(document).ready(function() {
    var table = $('#inbound_table').DataTable({
        dom: "<'row'<'col-lg-6'B>>" +
        "<'row'<'col-md-4'l><'col-md-4'<'customselect'>><'col-md-4'f>>" +
        "<'row'<'col-md-12'rtip>>",
        buttons: ['copy', 'excel', 'csv'],
        "columnDefs": [ {"className": "text-center", "targets": "_all"}]
    });

    $("div.customselect").html("<select id="+ "'select'" + "class='browser-default custom-select'"+"><option>Supplier</option><option>Purchase Date</option><option>Purchase Order Number</option><option>Item Number</option><option>Item Description</option><>Purchased Quantity</option><option>Received Quantity</option><option>Balance</option><option>Date Last Shipped</option></select>");

    $('#inbound_table_filter label input').unbind().bind('keyup', function() {
      var colIndex = document.querySelector('#select').selectedIndex;
      table.column(colIndex).search( this.value ).draw();
    });

    $('#select').change(function() {
      table.columns().search('').draw();
    });

});
 </script>
{% endblock javascripts %}