{% extends "base.html" %}

{% block title %} Generate Put Away Schedule {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% load static %}
<style>
    input:not([name="notes"]){ 
    text-align: center; 
    }
    .table-striped tbody tr.done td { 
    background-color: #5cb85c;
    }
    .table-striped tbody tr.warning td { 
    background-color: #f0ad4e;
    }
    .table-striped tbody tr.highlight td { 
    background-color: #87CEFA;
    }
    #purch_items tr { 
        color: white;
    }
</style>
{% endblock stylesheets %}

{% block content %}
    <h2>Select an Item to Put Away</h2>
    <br>

    <div class="card" id="select_card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Put Away Item Details:</h4>
        </div>
        <div class="card-body">

            <div class="form-row align-items-center">
                <div class="col-6">
                    <div class="form-group">
                        <label>Item Number</label>
                        <input type ="text" class="form-control" id="name1" readonly/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Reference Number</label>
                        <input type ="text" class="form-control" id="name5" data-refid="" readonly/>
                    </div>
                </div>
            </div>

            <div class="form-row align-items-center">
                <div class="col-6">
                    <div class="form-group">
                        <label>Bin Location</label>
                        <input type ="text" class="form-control" id="name2" data-binid="" readonly/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Received Quantity</label>
                        <input type ="text" class="form-control" id="txt_rec_quan" readonly/>
                    </div>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-6">
                    <div class="form-group">
                        <label>Put Away Quantity</label>
                        <input type ="number" class="form-control" id="name3"/>
                        <input type ="hidden" class="form-control" id="name4"/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Available Quantity</label>
                        <input type="text" class="form-control" id="txt_avail_quan" readonly/>
                    </div>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-1.5">
                    <button type="button" id="selectbtn" class="btn btn-success btn-lg">Select to Schedule</button>
                </div>
                <div class="col-1.5">
                    <button type="button" id="donebtn" class="btn btn-warning btn-lg">Done Scheduling</button>
                </div>
                <div class="col-1.5">
                    <button type="button" id="backbtn" class="btn btn-info btn-lg">Back</button>
                </div>
                <div class="col-1.5">
                    <button type="button" id="autoallbtn" class="btn btn-info btn-lg">Auto-Schedule All Items</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card" id="pa_card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Items for Put Away: </h4>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-hover table-striped w-auto mx-auto" id="purch_items">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Reference Number</th>
                            <th scope="col">Item Number</th>
                            <th scope="col">Received Quantity</th>
                            <th scope="col">Scheduled Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for instance in reclobbyitems %}
                        <tr class="tablerow" id="reclobby-{{forloop.counter}}" data-rec_quan="{{ instance.received_quantity }}" data-ref_num="{{ instance.reference_number }}" data-item_num="{{ instance.item_number__item_number }}">
                            <td>{{ instance.reference_number }}</td>
                            <td><button type="button" class="btn btn-primary item_number" data-recid="{{instance.id}}" data-item_number="{{instance.item_number__item_number}}" data-item_cat="{{instance.item_number__item_cat__item_cat}}" data-prod_class="{{instance.item_number__prod_class__prod_class}}" data-counter="{{forloop.counter}}" data-refnum="{{ instance.reference_number }}" data-rec_quan="{{ instance.received_quantity }}">{{ instance.item_number__item_number }}</button></td>
                            <td>{{ instance.received_quantity }}</td>
                            <td><span id="reclobby-{{forloop.counter}}-schedquan" style="text-align:center">{{ instance.scheduled_quantity }}</span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table> 
            </div>
        </div>
    </div>

    <div class="form-row align-top" id="whse_card">
        <div class="col-6">

            <div class="card">
                <div class="card-header card-header-tabs card-header-info">
                    <h4 class="card-title">Warehouse Bin Locations: </h4>
                </div>
                <div class="card-body">

                    <div class="table-responsive"> <!--Warehouse Bin Locations-->
                        <table class="table table-hover table-striped w-auto" id="bin_table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Warehouse Bin ID</th>
                                    <th scope="col">Bin Location</th>
                                    <th scope="col">Item Category</th>
                                    <th scope="col">Product Class</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for instance in whsebinset %}
                                <tr class="tablerow bin_location" data-binid="{{ instance.id }}" data-bin_location="{{ instance.bin_location }}" data-item_cat="{{instance.item_cat__item_cat}}" data-prod_class="{{instance.prod_class__prod_class}}">
                                    <td>{{ instance.id }}</td>
                                    <td><button type="button" class="btn btn-primary bin_location" data-binid="{{instance.id}}" data-bin_location="{{ instance.bin_location }}">{{ instance.bin_location }}</button></td>
                                    <td>{{ instance.item_cat__item_cat }}</td>
                                    <td>{{ instance.prod_class__prod_class }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6">
            
            <div class="card">
                <div class="card-header card-header-tabs card-header-info">
                    <h4 class="card-title">Warehouse Bin Items: </h4>
                </div>
                <div class="card-body">

                    <div class="table-responsive"><!--Warehouse Bin Items-->
                    <table class="table table-hover table-striped w-auto" id="item_table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Warehouse Bin Item ID</th>
                                <th scope="col">Bin Location</th>
                                <th scope="col">Item Number</th>
                                <th scope="col">Item Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for instance in whseitemset %}
                            <tr class="tablerow bin_item" data-bin_location="{{ instance.bin_location__bin_location }}">
                                <td>{{ instance.id }}</td>
                                <td>{{ instance.bin_location__bin_location }}</td>
                                <td>{{ instance.item_number__item_number }}</td>
                                <td>{{ instance.quantity }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table> 
                    </div>
                </div>
            </div>

        </div>
    </div>    

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous"></script>
<script>
    let table, table2, table3
    table = $("#purch_items").DataTable({
        pageLength : 5,
        lengthMenu: [[5, 10, 20, 50], [5, 10, 20, 50]],
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]
    });
    table2 = $("#bin_table").DataTable({searching: false, paging: false, info: false,
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]
    });
    table3 = $("#item_table").DataTable({searching: false, paging: false, info: false,
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]
    });

    $(window).on('load', function() {
        document.getElementById("pa_card").scrollIntoView({ behavior: 'smooth', block: "center", inline: "center" });

        if ( item_list.length > 0 ){
            add_Items( item_list );
        }
    });

    $(document).ready(function(){

        toasterOptions();
        function toasterOptions() {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "1500",
                "hideDuration": "1500",
                "timeOut": "1500",
                "extendedTimeOut": "1500",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        };

        checkSession();
        function checkSession(){
            if (sessionStorage.getItem('reloaded') != null) { //detects refresh
                alert('The page was reloaded! The page will close now.');
                window.close();
            }
            sessionStorage.setItem('reloaded', 'yes');
        }

        $("#whse_card").hide();

        $("#selectbtn").hide();

        $(table2.rows().nodes()).each(function(i, el){
            $(table2.rows(this).nodes().to$()).hide();
        });

        $(table3.rows().nodes()).each(function(i, el){
            $(table3.rows(this).nodes().to$()).hide();
        });

        checkRows();

        $( "#purch_items" ).on("click", ".btn.btn-primary.item_number", function () {
            var btn = this;
            var item_number = btn.dataset.item_number;
            $('#name1').val(item_number);                
            var counter = btn.dataset.counter;
            $('#name4').val(counter);
            var refnum = btn.dataset.refnum;
            $('#name5').val(refnum);
            var txt_rec_quan = btn.dataset.rec_quan;
            $("#txt_rec_quan").val(txt_rec_quan);

            var sched_quan = $("#reclobby-"+counter+"-schedquan").text();
            $("#txt_avail_quan").val( parseInt(txt_rec_quan) - parseInt(sched_quan) );

            var item_cat = btn.dataset.item_cat;
            var prod_class = btn.dataset.prod_class;

            var counter2 = 0
            $(table2.rows().nodes()).each(function(i, el){ //search the rows for the item and ref num
                var row_tag = table2.rows(counter2).nodes().to$();
                var bin_itemcat = $(row_tag).attr('data-item_cat');
                var bin_prodclass = $(row_tag).attr('data-prod_class');

                if (item_cat === bin_itemcat){
                    if (prod_class === bin_prodclass){
                        $(row_tag).show();
                    } else {
                        $(row_tag).hide();
                    }
                }else {
                    $(row_tag).hide();
                }

                counter2+=1;
            });

            toastr.info('Part with Item Number ' + item_number + ' is selected. Please choose a Warehouse Bin.');

            checkWhseBin( item_number, refnum );

            $("#whse_card").show();

            document.getElementById("whse_card").scrollIntoView({ behavior: 'smooth', block: "center", inline: "center" });

            $("#pa_card").hide();

            $("#backbtn").show();
            $("#donebtn").hide();
            $("#autoallbtn").hide();

        });
        $( "#bin_table" ).on("click", ".btn.btn-primary.bin_location", function () {
            var btn = this;
            var bin_location = btn.dataset.bin_location;
            var bin_id = btn.dataset.binid;
            $('#name2').val(bin_location);
            $('#name2').data('binid',bin_id);

            var counter3 = 0
            $(table3.rows().nodes()).each(function(i, el){ //search the rows for the item and ref num
                var row_tag =  table2.rows(counter3).nodes().to$();
                var item_binlocation = $(row_tag).attr('data-bin_location');

                if (bin_location === item_binlocation){
                    $(this).show();
                }else {
                    $(this).hide();
                }

                counter3+=1;
            });

            toastr.info('Warehouse Bin ' + bin_location + ' is selected for part '+$('#name1').val());
            $("#selectbtn").show();
        });

        $("#donebtn").on("click", function () {
            var goBack = window.open('', 'genputaway');
            goBack.focus();
            window.close();
        });

        $("#backbtn").hide();

        $("#backbtn").on("click", function () {
            $("#backbtn").hide();
            resetWhseBin();
            checkRows();
            resetFields();

            $("#pa_card").show();
            $("#selectbtn").hide();

            document.getElementById("pa_card").scrollIntoView({ behavior: 'smooth', block: "center", inline: "center" });

            $("#whse_card").hide();
            $("#donebtn").show();
            $("#autoallbtn").show();
        });
        
        $(".btn.btn-success.btn-lg").on("click", function () {
            var item_num = $('#name1').val();
            var bin_location = $('#name2').val();
            var counter = $('#name4').val();
            var refnum = $('#name5').val();
            
            var bin_locationid = $('#name2').data('binid');
            
            var recquan = $('#reclobby-' + counter).attr('data-rec_quan');
            var schedquan = $('#reclobby-' + counter + '-schedquan').text();
            var planschedquan = $('#name3').val();
            var totalsched = parseInt(schedquan) + parseInt(planschedquan);

            if ( !(item_num === "") ){
                if ( (parseInt(recquan) >= parseInt(totalsched)) ){
                    if( !(bin_location === "") ){
                        updateItem(item_num, refnum, planschedquan)
                        window.opener.cloneMore('form', item_num, planschedquan, bin_location, refnum, bin_locationid);
                        toastr.success('Part ' + item_num + ' is scheduled for Put Away at '+bin_location);
                    }else{
                        toastr.error("Please select a Warehouse Bin to Put-Away.");
                    }                
                }else{
                    toastr.error("Please enter a put away quantity cummulatively less than the received/available quantity");
                }
            }else{
                toastr.error("Please select a received part first.");
            } 

            resetWhseBin();
            checkRows();
            resetFields();

            $("#pa_card").show();
            $("#selectbtn").hide();

            document.getElementById("pa_card").scrollIntoView({ behavior: 'smooth', block: "center", inline: "center" });

            $("#whse_card").hide();

            $("#backbtn").hide();
            $("#donebtn").show();
            $("#autoallbtn").show();
        });

        
        function checkRows(){
            var counter = 0;
            $(table.rows().nodes()).each(function(i, el){
                var row_tag =  table.rows(counter).nodes().to$();
                var button_tag = $.parseHTML(table.cell(counter,1).data())[0];

                //get the scheduled quantity and received items
                var rec_quan = $(row_tag).attr('data-rec_quan');
                var sched_quan =  $($.parseHTML(table.cell(counter,3).data())[0]).text();

                if ( parseInt(rec_quan) === parseInt(sched_quan) ){
                    $(row_tag).attr('class', 'tablerow done');
                    $(button_tag).attr('disabled',true);
                }else{
                    $(row_tag).attr('class', 'tablerow warning');
                    $(button_tag).attr('disabled',false);
                }
                table.cell(counter,1).data($(button_tag).prop('outerHTML'));
                
                counter += 1;
            });
        }

        function resetFields(){
            $("#name1").val('');
            $("#name5").val('');
            $("#name2").val('');
            $("#txt_rec_quan").val('');
            $("#name3").val('');
            $("#name4").val('');
            $("#txt_avail_quan").val('');
        }

        $("#autoallbtn").on("click", function () {

            //get all list of items to sched
            var item_sched_list = []
            var counter = 0;
            $(table.rows().nodes()).each(function(i, el){ //search the rows for the item and ref num
                var row_tag =  table.rows(counter).nodes().to$();
                
                var ref_num = $(row_tag).attr('data-ref_num');
                var item_num = $(row_tag).attr('data-item_num');


                var span_tag =  $.parseHTML(table.cell(counter,3).data())[0];
                //get the scheduled quantity and received items
                var rec_quan = $(row_tag).attr('data-rec_quan');
                var sched_quan =  $(span_tag).text();

                var to_sched_quan = parseInt( rec_quan ) - parseInt( sched_quan );

                if( to_sched_quan === 0 ){
                    //do nothing since all items are scheduled
                }else{
                    item_sched_list.push([ ref_num, item_num, to_sched_quan ]);
                }
                

                counter += 1;
            });

            if ( item_sched_list.length > 0 ){
                //do the ajax post
                $.ajax({
                    method: "POST",
                    url: "{% url 'warehouse:GeneratePutAwaySchedule_Autoselect' %}",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                    },
                    data: {'item_sched_list[]': JSON.stringify(item_sched_list)},
                    dataType: 'json',

                    success: function(data){
                        
                        data.done_item_sched_list.forEach(function(item) {
                            updateItem(item[0], item[4], item[1]);
                            window.opener.cloneMore('form', item[0], item[1], item[3], item[4], item[2]);
                        });

                        toastr.success('All remaining parts automatically scheduled!');
                        $('#autoallbtn').hide();

                    },
                    error: function(error_data){
                      console.log("error");
                      console.log(error_data);
                    }
                });
            }else{
                toastr.error('No parts left to schedule!');
            }
            

        });

    });

    function checkWhseBin(item_num, ref_num){

        item_list = window.opener.pass_Items();

        item_list.forEach(function(item) { //[0] item, [1] quantity, [2] bin loc, [3] ref num

            var sched_item_num = item[0]
            var sched_bin_loc = item[2]
            var sched_ref_num = item[3]

            if ( (item_num === sched_item_num) && ( ref_num === sched_ref_num ) ){
                var counter = 0;
                $(table2.rows().nodes()).each(function(i, el){ //search the rows for the item and ref num
                    var row_tag =  table2.rows(counter).nodes().to$();
                    var button_tag = $.parseHTML(table2.cell(counter,1).data())[0];

                    var bin_loc = $(row_tag).attr('data-bin_location');

                    if( bin_loc === sched_bin_loc ){
                        $(row_tag).attr('class', 'tablerow highlight');
                        $(button_tag).attr('disabled',true);
                    }else{
                        $(row_tag).attr('class', 'tablerow');
                        $(button_tag).attr('disabled',false);
                    }
                    table2.cell(counter,1).data($(button_tag).prop('outerHTML'));
                    counter += 1;
                });
            }
        });
    }

    function resetWhseBin(){
        var counter = 0;
        $(table2.rows().nodes()).each(function(i, el){ //search the rows for the item and ref num
            var row_tag =  table2.rows(counter).nodes().to$();
            var button_tag = $.parseHTML(table2.cell(counter,1).data())[0];
            
            $(row_tag).attr('class', 'tablerow');
            $(button_tag).attr('disabled',false);
            table2.cell(counter,1).data($(button_tag).prop('outerHTML'));
            
            counter += 1;
        });
    }

    function updateItem(item_num, ref_num, sched_quan){ //gets called when the user deletes it in the schedule
        var counter = 0;
        $(table.rows().nodes()).each(function(i, el){ //search the rows for the item and ref num
            var row_tag =  table.rows(counter).nodes().to$();
            var button_tag = $.parseHTML(table.cell(counter,1).data())[0];
            
            var purch_refnum = $(row_tag).attr('data-ref_num');
            var purch_itemnum = $(row_tag).attr('data-item_num');

            if( (item_num === purch_itemnum ) && ( ref_num === purch_refnum )){
                var span_tag =  $.parseHTML(table.cell(counter,3).data())[0];

                //get the scheduled quantity and received items
                var rec_quan = $(row_tag).attr('data-rec_quan');
                var curr_sched_quan =  $(span_tag).text();
                var new_sched_quan = parseInt( curr_sched_quan ) + parseInt( sched_quan );
                
                $(span_tag).text(new_sched_quan);
                table.cell(counter,3).data($(span_tag).prop('outerHTML'));               

                if ( parseInt(rec_quan) === parseInt(new_sched_quan) ){
                    $(row_tag).attr('class', 'tablerow done');
                    $(button_tag).attr('disabled',true);
                }else{
                    $(row_tag).attr('class', 'tablerow warning');
                    $(button_tag).attr('disabled',false);
                }
            }
            table.cell(counter,1).data($(button_tag).prop('outerHTML'));
            counter += 1;
        });
    }

    function add_Items(item_list){ //gets called to initiate an initial list
        item_list.forEach(function(item) { //[0] item, [1] quantity, [2] bin loc, [3] ref num

            var item_num = item[0]
            var sched_quan = item[1]
            var ref_num = item[3]

            var counter = 0;

            $(table.rows().nodes()).each(function(i, el){ //search the rows for the item and ref num
                var row_tag =  table.rows(counter).nodes().to$();
                var button_tag = $.parseHTML(table.cell(counter,1).data())[0]; 
                
                var purch_refnum = $(row_tag).attr('data-ref_num');
                var purch_itemnum = $(row_tag).attr('data-item_num');

                if( (item_num === purch_itemnum ) && ( ref_num === purch_refnum )){

                    //get the scheduled quantity and received items
                    var rec_quan = $(row_tag).attr('data-rec_quan');
                    var span_tag =  $.parseHTML(table.cell(counter,3).data())[0]
                    var curr_sched_quan = $(span_tag).text();
                    var new_sched_quan = parseInt( curr_sched_quan ) + parseInt( sched_quan );
                    
                    $(span_tag).text(new_sched_quan);
                    table.cell(counter,3).data($(span_tag).prop('outerHTML'));

                    if ( parseInt(rec_quan) === parseInt(new_sched_quan) ){
                        $(row_tag).attr('class', 'tablerow done');
                        $(button_tag).attr('disabled',true);
                    }else{
                        $(row_tag).attr('class', 'tablerow warning');
                        $(button_tag).attr('disabled',false);
                    }
                    table.cell(counter,1).data($(button_tag).prop('outerHTML'));
                }

                counter += 1;
            });

        });
    }


</script>
{% endblock javascripts %}