{% extends "base.html" %}

{% block title %} Generate Part Request Schedule {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% load static %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    input{ 
    text-align: center; 
    }
    #wo_table.dataTable tbody tr.highlight {
        background-color: #87CEFA !important;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<h2>Select an Item for Request Issuance</h2>
    <div class="card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Work Order Details:</h4>
        </div>
        <div class="card-body">
            <div class="form-row align-items-center">
                <div class="col-6">
                    <div class="form-group">
                        <label>Production Schedule ID</label>
                        <input type ="text" class="form-control" id="name1" data-itemid="" readonly/>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Item Number</label>
                        <input type ="text" class="form-control" id="name3" data-refid="" readonly/>
                    </div>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-6">
                    <div class="form-group">
                        <label>Required Quantity</label>
                        <input type ="text" class="form-control" id="name4" data-binid="" readonly/>
                        <input type ="hidden" class="form-control" id="name5" readonly/> <!--Assembly Line ID-->
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Assembly Line</label>
                        <input type ="text" class="form-control" id="name6" readonly/>
                    </div>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-6">
                    <div class="form-group">
                        <label>Allocated Warehouse Bin</label>
                        <input type ="hidden" class="form-control" id="name7" readonly/>
                        <input type ="text" class="form-control" id="name8" readonly/>
                        <input type ="hidden" class="form-control" id="name9" readonly/> <!--Report ID-->
                    </div>
                </div>
            </div>
            <div class="form-row align-items-center">
                <button type="button" id="selectbtn" class="btn btn-success btn-lg">Select</button>
                <button type="button" id="donebtn" class="btn btn-warning btn-lg">Done</button>
            </div>
        </div>
    </div>

    <div class="form-row align-top">
        <div class="col-lg-6">

            <div class="card" id="wo_card">
                <div class="card-header card-header-tabs card-header-info">
                    <h4 class="card-title">Part Details:</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped w-auto" id="wo_table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Production Schedule</th>
                                    <th scope="col">Item Number</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Assembly Line</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for instance in shrnk_items %}
                                <tr class="tablerow" id="wo-{{forloop.counter}}">
                                    <td>{{ instance.report_num__prod_sched__id }}</td>
                                    <td><button type="button" class="btn btn-primary wo" data-prod_sched="{{instance.report_num__prod_sched__id}}" data-item_num="{{instance.item_number__item_number}}" data-item_quan="{{instance.quantity}}" data-assline_id="{{ instance.ass_location__id }}" data-assline="{{ instance.ass_location__name }}" data-report_id="{{ instance.report_num__report_num }}">{{ instance.item_number__item_number }}</button></td>
                                    <td>{{ instance.quantity }}</td>
                                    <td>{{ instance.ass_location__name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table> 
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6">

            <div class="card">
                <div class="card-header card-header-tabs card-header-info">
                    <h4 class="card-title">Allocated Warehouse Bin:</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive"> <!--Bill of Materials for Work Order-->
                        <table class="table table-hover table-striped w-auto" id="item_table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Bin Location</th>
                                    <th scope="col">Item Number</th>
                                    <th scope="col">Item Quantity</th>
                                    <th scope="col">Production Schedule</th>
                                </tr>
                            </thead>
                            <tbody>

                            {% for instance in whsebinshrnk_items %}
                                <tr class="tablerow wo_item" id="bom-{{forloop.counter}}" data-bin_id="{{ instance.bin_location__id }}" data-bin_loc="{{ instance.bin_location__bin_location }}" data-item_num="{{instance.item_number__item_number}}" data-item_quan="{{instance.quantity}}" data-prod_sched="{{instance.reference_number}}">
                                    <td>{{ instance.bin_location__bin_location }}</td>
                                    <td>{{ instance.item_number__item_number }}</td>
                                    <td>{{ instance.quantity }}</td>
                                    <td>{{ instance.reference_number }}</td>


                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div> 
                </div>
            </div>

        </div>
    </div>


    

              

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous"></script>
<script>
    let table1, table2

    table1 = $("#wo_table").DataTable({info: false,
            "columnDefs": [ {"className": "text-center", "targets": "_all"} ]
        });

    table2 = $("#item_table").DataTable({
            searching: false, paging: false, info: false,
            "columnDefs": [ {"className": "text-center", "targets": "_all"} ]
        });

    $(window).on('load', function() {
        document.getElementById("wo_card").scrollIntoView({ behavior: 'smooth', block: "center", inline: "center" });

        if(part_list.length > 0){
            part_list.forEach(function(item) {
                selectProdsched( item );
            });
        }
    });

    $(document).ready(function(){

        $("#div_sidebar").remove();
        $("#div_nav").remove();
        $('#div_main').css({'min-width': 'calc(100%)'});
        
        toasterOptions();
        function toasterOptions() {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "1500",
                "hideDuration": "1500",
                "timeOut": "1500",
                "extendedTimeOut": "1500",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        };

        checkSession();
        function checkSession(){
            if (sessionStorage.getItem('reloaded') != null) { //detects refresh
                alert('The page was reloaded! The page will close now.');
                window.close();
            }
            sessionStorage.setItem('reloaded', 'yes');
        }


        var counter2 = 0;
        $(table2.rows().nodes()).each(function(i, el){ 
            $(table2.rows(counter2).nodes().to$()).hide();
            counter2 += 1;
        }); 

        $( "#wo_table" ).on("click", ".btn.btn-primary.wo", function () {
            var btn = this;

            var prod_sched = btn.dataset.prod_sched;
            var item_num = btn.dataset.item_num;
            var item_quan = btn.dataset.item_quan;
            var assline_id = btn.dataset.assline_id;
            var assline = btn.dataset.assline;
            var report_id = btn.dataset.report_id;

            $('#name1').val(prod_sched);
            $('#name3').val(item_num);
            $('#name4').val(item_quan);
            $('#name5').val(assline_id);
            $('#name6').val(assline);
            $('#name9').val(report_id);

            var counter2 = 0;
            $(table2.rows().nodes()).each(function(i, el){ 
                var row_tag2 = table2.rows(counter2).nodes().to$();

                var item_prod_sched = $(row_tag2).attr('data-prod_sched');
                var bin_id = $(row_tag2).attr('data-bin_id');
                var bin_loc =  $(row_tag2).attr('data-bin_loc');
                var whsebin_item_num = $(row_tag2).attr('data-item_num');

                if (prod_sched === item_prod_sched){
                    if (item_num === whsebin_item_num){
                        $(row_tag2).show();
                        $('#name7').val(bin_id);
                        $('#name8').val(bin_loc);

                    }else{
                        $(row_tag2).hide();
                    }          
                }else{
                    $(row_tag2).hide();
                }
                counter2 += 1;
            });

            toastr.info('Item '+ item_num + " from production schedule " + prod_sched +" is selected. <br> Please confirm.");
        });

        $("#donebtn").on("click", function () {
            var goBack = window.open('', 'genpartreq');
            goBack.focus();
            window.close();
        });
        
        $(".btn.btn-success.btn-lg").on("click", function () {
            var btn = this;
            var prod_sched = $('#name1').val();
            var item_num = $('#name3').val();
            var item_quan = $('#name4').val();
            var assline_id = $('#name5').val();
            var assline = $('#name6').val();
            var bin_id = $('#name7').val();
            var bin_loc = $('#name8').val();
            var report_id = $('#name9').val();

            if ( !( prod_sched === "" ) && !( item_num === "" ) ){
                if ( checkifDisabled(prod_sched, item_num) ){
                    toastr.error('Part ' + item_num +' from Work Order Schedule ' + prod_sched + " is already added to the schedule.");
                }else{
                    window.opener.cloneMore('form', prod_sched, item_num, item_quan, bin_id, bin_loc, assline_id, assline, report_id);

                    var counter1 = 0;
                    $(table1.rows().nodes()).each(function(i, el){ 
                        var row_tag1 = table1.rows(counter1).nodes().to$();
                        var button_tag1 = $.parseHTML(table1.cell(counter1,1).data())[0];

                        if ( prod_sched === $(button_tag1).attr('data-prod_sched') ){
                            if ( item_num === $(button_tag1).attr('data-item_num') ){
                                $(button_tag1).attr('disabled', true);
                                $(row_tag1).attr('class', 'tablerow highlight');
                            }                            
                        }
                        table1.cell(counter1,1).data($(button_tag1).prop('outerHTML'));
                        counter1 += 1;
                    });

                    toastr.success('Part ' + item_num +' from Work Order Schedule ' + prod_sched + " is added to the schedule.");
                }
            }else{
                toastr.error('Select a part to issue first.');
            }

        });

        function checkifDisabled(prod_sched, item_num){
            var status = false;
            var counter1 = 0;
            $(table1.rows().nodes()).each(function(i, el){ 
                var row_tag1 = table1.rows(counter1).nodes().to$();
                var button_tag1 = $.parseHTML(table1.cell(counter1,1).data())[0];

                if ( prod_sched === $(button_tag1).attr('data-prod_sched') ){
                    if ( item_num === $(button_tag1).attr('data-item_num') ){
                        if($(button_tag1).is(":disabled")){
                            status = true;
                        }else{
                            status = false;
                        }
                    }               
                }
                counter1 += 1;
            });
            return status;
        }


        
    });

    function selectProdsched(prod_sched_details){
        var counter1 = 0;
        $(table1.rows().nodes()).each(function(i, el){ 
            var row_tag1 = table1.rows(counter1).nodes().to$();
            var button_tag1 = $.parseHTML(table1.cell(counter1,1).data())[0];

            if ( prod_sched_details[0] === $(button_tag1).attr('data-prod_sched') ){
                if ( prod_sched_details[1] === $(button_tag1).attr('data-item_num') ){
                    $(button_tag1).attr('disabled', true);
                    $(row_tag1).attr('class', 'tablerow highlight');
                }
            }
            table1.cell(counter1,1).data($(button_tag1).prop('outerHTML'));
            counter1 += 1;
        });
    }

    function deselectProdsched( prod_sched, item_num ){
         var counter1 = 0;
        $(table1.rows().nodes()).each(function(i, el){ 
            var row_tag1 = table1.rows(counter1).nodes().to$();
            var button_tag1 = $.parseHTML(table1.cell(counter1,1).data())[0];

            if ( prod_sched === $(button_tag1).attr('data-prod_sched') ){
                if ( item_num === $(button_tag1).attr('data-item_num') ){
                    $(button_tag1).attr('disabled', false);
                    $(row_tag1).attr('class', 'tablerow');
                }
            }
            table1.cell(counter1,1).data($(button_tag1).prop('outerHTML'));
            counter1 += 1;
        });
    }
</script>
{% endblock javascripts %}