{% extends "base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% load static %}
<style>
    input:not([name="notes"]){ 
    text-align: center; 
    }
    #part_table tr td:nth-child(8), #part_table th:nth-child(8){
    display: none;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<h2>Create a Part Request Issuance Schedule</h2>
    <form class="form-horizontal" method="POST" action="">
        {% csrf_token %}

    <div class="card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Schedule Details:</h4>
        </div>
        <div class="card-body">
            <div class="form-row align-items-center">
                <div class="col-3">
                    <div class="form-group">
                    	<label for="id_schedule_num">Scheduled Number:</label>
                    	<input type="text" name="schedule_num" class="form-control" required="" readonly id="id_schedule_num" value="{{scheduleid}}">
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                    	<label for="id_date_scheduled">Scheduled Date:</label>
                    	<input type="text" name="date_scheduled" class="form-control" required="" readonly id="id_date_scheduled">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Parts for Request Issuance:</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped w-auto" id="part_table">
                    <thead class="thead-dark">
                        <tr class="tablehead">
                        	<th scope="col">Production Schedule ID</th>
                            <th scope="col">Item Number</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Location From ID</th>
                            <th scope="col">Location From</th>
                            <th scope="col">Location To ID</th>
                            <th scope="col">Location To</th>
                            <th scope="col">Report ID</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ partreqitem_formset.management_form }}
                        {% for form in partreqitem_formset %}
                        <div class="row form-row">
                            <tr class="tablerow">
                                <td><input type="text" name="form-0-prod_sched" class="form-control" id="id_form-0-prod_sched" value="" readonly="readonly"></td>
                                <td><input type="text" name="form-0-item_number" class="form-control" id="id_form-0-item_number" value="" readonly="readonly"></td>
                                <td><input type="text" name="form-0-quantity" class="form-control" id="id_form-0-quantity" value="" readonly="readonly"></td>
                                <td><input type="text" name="form-0-location_from" class="form-control" id="id_form-0-location_from" value="" readonly="readonly"></td>
                                <td><input type="text" name="form-{{forloop.counter0}}-location_toTEXT" class="form-control" id="id_form-{{forloop.counter0}}-location_toTEXT" value="" readonly></td>
                                <td><input type="text" name="form-0-location_to" class="form-control" id="id_form-0-location_to" value="" readonly="readonly"></td>
                                <td><input type="text" name="form-{{forloop.counter0}}-location_toTEXT" class="form-control" id="id_form-{{forloop.counter0}}-location_toTEXT" value="" readonly></td>
                                <td><input type="text" name="form-0-refnum" class="form-control" id="id_form-0-refnum" value="" readonly="readonly"></td>
                                <td><button class="btn btn-success add-form-row">+</button></td>
                            </tr>
                        </div> 
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="form-row align-items-center">
                <div class="col-12">
                    <div class="form-group">
                        <label for="id_notes">Notes:</label>
                        <input type="text" name="notes" maxlength="200" required="" class="form-control" id="id_notes">
                   </div>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-block btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>
    
</form>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function(){
        var d = new Date($.now());
        var currentdate = d.getFullYear()+"-"+(d.getMonth() + 1)+"-"+d.getDate();
        $('#id_date_scheduled').val(currentdate);

        });

    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function cloneMore(prefix, prod_sched, item_num, item_quan, loc_from_id, loc_from, loc_to_id, loc_to, refnum) { //selector - .form-row:last | prefix - form
        var lastrowtbl = $('#part_table tr.tablerow:last').clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        var currentnum = total - 1
        var counter = 0
        console.log(lastrowtbl);
        $('#part_table tr.tablerow:last').find('input[type=text]').each(function (i, el) {
            var name = $(this).attr('name');
            if(name) {
                if (counter === 0){
                    $(this).val(prod_sched);
                    counter++;
                } else if(counter === 1){
                    $(this).val(item_num);
                    counter++;
                } else if(counter === 2){
                    $(this).val(item_quan);
                    counter++;
                } else if(counter === 3){
                    $(this).val(loc_from_id);
                    counter++;
                } else if(counter === 4){
                    $(this).val(loc_from);
                    counter++;
                } else if(counter === 5){
                    $(this).val(loc_to_id);
                    counter++;
                } else if(counter === 6){
                    $(this).val(loc_to);
                    counter++;
                } else {
                    $(this).val(refnum);
                    counter++;
                }
            }
        });

        lastrowtbl.find('input[type=text]').each(function (i, el) {
            var name = $(this).attr('name');
            if(name) {
                name = name.replace('-' + currentnum + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name' : name, 'id' : id}).val('').removeAttr('checked');
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $('#part_table tr.tablerow:last').after(lastrowtbl);
        var conditionRow = $('#part_table tr.tablerow:not(:last)');
        conditionRow.find('.btn.add-form-row')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('add-form-row').addClass('remove-form-row')
        .html('-');
        return false;
    }

    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1){
            btn.closest('#part_table tr.tablerow').remove();
            var forms = $('#part_table tr.tablerow');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {

                $(forms.get(i)).find(':input[type=text]').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
            total--;
            $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        }
        return false;
    }
    
    $(document).on('click', '.add-form-row', function(e){
        var newwin = window.open("{% url 'warehouse:GeneratePartRequestSchedule_SelectItem' %}");
        return false;
    });
    
    $(document).on('click', '.remove-form-row', function(e){
        e.preventDefault();
        deleteForm('form', $(this));
        return false;
    });
</script>
{% endblock javascripts %}