{% extends "base.html" %}

{% block title %} Home {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<h1>Assembly</h1>

    <div class="row">
      <div class="col-md-6">
        <div class="card card-chart">
            <div class="card-header card-header-warning">
              <h4 class="card-title">Work Order Status</h4>
            </div>
            <div class="card-body">
              <canvas id="wostatus_chart"></canvas>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-chart">
            <div class="card-header card-header-success">
              <h4 class="card-title">Assembly Timeliness</h4>
            </div>
            <div class="card-body">
              <canvas id="asstime_chart"></canvas>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
    	<div class="col-md-3">
    	</div>
    	<div class="col-md-6">
            <div class="card card-chart">
                <div class="card-header card-header-info">
                  <h4 class="card-title">Production Volume</h4>
                </div>
                <div class="card-body">
                  <canvas id="assprod_chart"></canvas>
              </div>
            </div>
      	</div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
	$(document).ready(function(){
	
	initwostatus_chart();

	function initwostatus_chart(){
		$.ajax({
		  method: "GET",
		  url: "{% url 'assembly:Dashboard_get_wostatus' %}",
		  success: function(data){
		      wo_sched = data.wo_sched;
		      wo_assembled = data.wo_assembled;
		      wo_coupled = data.wo_coupled;
		      wo_tested = data.wo_tested;

		      var label = ['In Schedule','In Assembly','In Coupling','In Testing'];
		      var data = [wo_sched, wo_assembled, wo_coupled, wo_tested];

		      var ctx_wostatus = $("#wostatus_chart");

		      var chart_wostatus = new Chart(ctx_wostatus, {
		        type: 'pie',
		        data: {
		          labels: label,
		          datasets: [{
		            backgroundColor: [
				      "#f7f7f7",
				      "#2ecc71",
				      "#f0ad4e",
				      "#5bc0de",
				      "#292b2c",
				      "#e74c3c",
				    ],
		            data: data
		          }]
		        }
		      });

		  },
		  error: function(error_data){
		      console.log("error")
		      console.log(error_data)
		  }
		});
	}

	initasstime_chart();

	function initasstime_chart(){
		$.ajax({
		  method: "GET",
		  url: "{% url 'assembly:Dashboard_get_asstime' %}",
		  success: function(data){
		      var ctx_asstime = $("#asstime_chart");

		      var chart_asstime = new Chart(ctx_asstime, {
		        type: 'pie',
		        data: {
		          labels: data.time_label,
		          datasets: [{
		            backgroundColor: [
				      "#2ecc71",
				      "#e74c3c",
				    ],
		            data: data.prod_time
		          }]
		        }
		      });

		  },
		  error: function(error_data){
		      console.log("error")
		      console.log(error_data)
		  }
		});
	}

	initassprod_chart();

	function initassprod_chart(){
		$.ajax({
		  method: "GET",
		  url: "{% url 'assembly:Dashboard_get_assprod' %}",
		  success: function(data){
		      var ctx_assprod = $("#assprod_chart");

		      var chart_assprod = new Chart(ctx_assprod, {
		        type: 'bar',
		        data: {
		          labels: data.date_label,
		          datasets: [{
		            backgroundColor: [
		            	"#0275d8", 
		            	"#5cb85c", 
		            	"#5bc0de",
		            	"#f0ad4e",
		            	"#d9534f",
		            	"#292b2c",
		            	"#a86ed7",],
		            data: data.ass_prod
		          }]
		        },options: {
					legend: {
						display: false
					}
			    }
		      });

		  },
		  error: function(error_data){
		      console.log("error")
		      console.log(error_data)
		  }
		});
	}

	});
</script>
{% endblock javascripts %}