{% extends "base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<h1>Assembly</h1>

    <div class="row">
      <div class="col-md-6">
        <div class="card card-chart">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Work Orders Status</h4>
            </div>
            <div class="card-body">
              <canvas id="issuance_acc_chrt"></canvas>
              <form action="">
                {% csrf_token %}
              <a href="#"> See more </a>
              </form>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-chart">
            <div class="card-header card-header-success">
              <h4 class="card-title">Assembly Timeliness</h4>
            </div>
            <div class="card-body">
              <canvas id="ass_time_chrt"></canvas>
              <form action="">
                {% csrf_token %}
              <a href="#"> See more </a>
              </form>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
    	<div class="col-md-3">
    	</div>
    	<div class="col-md-6">
            <div class="card card-chart">
                <div class="card-header card-header-success">
                  <h4 class="card-title">Production Volume</h4>
                </div>
                <div class="card-body">
                  <canvas id="prod_vol_chrt"></canvas>
                  <form action="">
                    {% csrf_token %}
                  <a href="#"> See more </a>
                  </form>
              </div>
            </div>
      	</div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
	$(document).ready(function(){
	
	var ctx_issuance_acc = $("#issuance_acc_chrt");
	var myChart1 = new Chart(ctx_issuance_acc);

	var ship_acc_labels = ['Scheduled','Issued','Assembled','Coupled','Tested','Received'];
	var ship_acc_data = [1,3,8,3,2,5];

	ctx_issuance_acc = $("#issuance_acc_chrt");

	myChart1 = new Chart(ctx_issuance_acc, {
	type: 'pie',
	data: {
	  labels: ship_acc_labels,
	  datasets: [{
	    backgroundColor: [
	      "#f7f7f7",
	      "#2ecc71",
	      "#f0ad4e",
	      "#5bc0de",
	      "#292b2c",
	      "#e74c3c",
	    ],
	    data: ship_acc_data
	  }]
	}
	});

	var ctx_ass_time = $("#ass_time_chrt");
	var myChart2 = new Chart(ctx_ass_time);

	var ship_acc_labels = ['On Time','Delayed'];
	var ship_acc_data = [3,8];

	ctx_ass_time = $("#ass_time_chrt");

	myChart2 = new Chart(ctx_ass_time, {
	type: 'pie',
	data: {
	  labels: ship_acc_labels,
	  datasets: [{
	    backgroundColor: [
	      "#2ecc71",
	      "#e74c3c",
	    ],
	    data: ship_acc_data
	  }]
	}
	});

	var ctx_prod_vol = $("#prod_vol_chrt");
	var myChart3 = new Chart(ctx_prod_vol);

	var ship_acc_labels = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
	var ship_acc_data = [1,3,8,3,0,0];

	ctx_prod_vol = $("#prod_vol_chrt");

	myChart3 = new Chart(ctx_prod_vol, {
	type: 'bar',
	data: {
	  labels: ship_acc_labels,
	  datasets: [{
	    backgroundColor: [
	      "#9932CC",
	      "#2ecc71",
	      "#f0ad4e",
	      "#5bc0de",
	      "#292b2c",
	      "#e74c3c",
	    ],
	    data: ship_acc_data
	  }]
	},
	options: {
        legend: {
            display: false
         },
    }
	});

	});
</script>
{% endblock javascripts %}