{% extends "base.html" %}

{% block title %} Finish Coupling {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style type="text/css">
    input:not([name="notes"]) { 
    text-align: center; 
    }
    #preview{
        width: 200px;
        height: 200px;
    }
    #camera--view{
        width: 200px;
        height: 200px;
    }
</style>
{% endblock stylesheets %}

{% block content %}

<h2> Finish Work Order Coupling </h2>
    <br>
    <form class="form-horizontal" method="POST" enctype="multipart/form-data" action="" id="form_fincoup">
        {% csrf_token %}
    
    <div class="card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Work Order Details:</h4>
        </div>
        <div class="card-body">
            <div class="form-row align-items-center">
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_work_order_number">Production Schedule ID:</label>
                        <input type="text" name="prod_sched" class="form-control" maxlength="200" required="" id="id_prod_sched" readonly>
                    </div>
                </div>
                <div class="col-1">
                    <button class="btn btn-success add-wo_assembly">+</button>
               </div>

                <div class="col-4">
                    <div class="form-group">
                        <label for="id_customer">Work Order Number:</label>
                        <input type="text" name="wonum" maxlength="200" class="form-control" required="" id="wonum" readonly>
                   </div>
               </div>

                <div class="col-3">
                    <div class="form-group">
                        <label for="id_customer">Date Received:</label>
                        <input type="text" name="date_received" maxlength="200" class="form-control" required="" id="id_date_received" readonly>
                   </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Product Details:</h4>
        </div>
        <div class="card-body">
            <div class="form-row align-items-center">
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_work_order_number">Product Number:</label>
                        <input type="text" name="prod_num" maxlength="200" class="form-control" required="" id="prod_num" readonly>
                   </div>
               </div>

                <div class="col-4">
                    <div class="form-group">
                        <label for="id_customer">Product Class:</label>
                        <input type="text" name="prod_class" maxlength="200" class="form-control" required="" id="prod_class" readonly>
                   </div>
               </div>

                <div class="col-4">
                    <div class="form-group">
                        <label for="id_customer">Scheduled Quantity:</label>
                        <input type="text" name="sched_quan" maxlength="200" class="form-control" required="" id="sched_quan" readonly>
                   </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title">Coupling Update Details:</h4>
        </div>
        <div class="card-body">
            <div class="form-row align-items-center">
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_work_order_number">Coupling By:</label>
                        <input type="text" name="coupled_by" maxlength="200" class="form-control" required="" id="id_coupled_by" value="{{user}}" readonly>
                   </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_customer">Date Coupled:</label>
                        <input type="text" name="date_coupled" maxlength="200" class="form-control" required="" id="id_date_coupled" readonly>
                  </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="id_work_order_number">Verified By:</label>
                        <input type="text" name="verified_by" maxlength="200" class="form-control" required="" id="id_verified_by" value="Manager1" readonly>
                   </div>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-6">
                    <label for="id_image">Image:</label>
                    <input type="file" name="image" accept="image/*" id="id_image" class="form-control">
                </div>
                <h4> or </h4>
                <div class="col-2">
                    <button id="camera--take" class="btn btn-block btn-info">Take a picture</button>
                </div>
                <div class="col-2">
                    <button id="camera--trigger" class="btn btn-block btn-warning">Capture</button>
                </div>
            </div>
            <div class="form-row align-items-center">
                <img id="preview" class="img-thumbnail">
                <!-- Camera sensor -->
                <canvas id="camera--sensor"></canvas>
                <!-- Camera view -->
                <video id="camera--view" autoplay playsinline></video>
                <!-- Camera output -->
                <img src="//:0" alt="" id="camera--output">
                <!-- Camera trigger -->
            </div>
            <div class="form-row align-items-center">
                <div class="col-12">
                    <div class="form-group">
                        <label for="id_customer">Notes:</label>
                        <input type="text" name="notes" maxlength="200" class="form-control" required="" id="id_notes">
                   </div>
                </div>
            </div>
            <div class="form-row align-items-center">
                <div class="col-lg-2">
            <button type="submit" class="btn btn-block btn-success">Finish</button>
                </div>
            </div>
        </div>
    </div>

    </form>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function(){
        window.name = "Fin_Coup";

        toasterOptions();
        function toasterOptions() {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "1500",
                "hideDuration": "1500",
                "timeOut": "1500",
                "extendedTimeOut": "1500",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        };

        var d = new Date($.now());
        var currentdate = d.getFullYear()+"-"+(d.getMonth() + 1)+"-"+d.getDate();
        $('#id_date_coupled').val(currentdate);


        $('#id_image').change(function(e) {
            readURL(this);
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result);
                }
                
                reader.readAsDataURL(input.files[0]);
            }
        }

        // Set constraints for the video stream
        var constraints = { video: { facingMode: "user" }, audio: false };
        var localstream;
        // Define constants
        const cameraView = document.querySelector("#camera--view"),
            cameraOutput = document.querySelector("#camera--output"),
            cameraSensor = document.querySelector("#camera--sensor"),
            cameraTrigger = document.querySelector("#camera--trigger")
        // Access the device camera and stream to cameraView
        function cameraStart() {
            navigator.mediaDevices
                .getUserMedia(constraints)
                .then(function(stream) {
                track = stream.getTracks()[0];
                cameraView.srcObject = stream;
            })
            .catch(function(error) {
                console.error("Oops. Something is broken.", error);
            });
        }
        function cameraStop() {
            cameraView.pause();
            cameraView.src = "";
            cameraView.srcObject.getTracks()[0].stop();
        }
        // Take a picture when cameraTrigger is tapped
        cameraTrigger.onclick = function() {
            cameraSensor.width = cameraView.videoWidth;
            cameraSensor.height = cameraView.videoHeight;
            cameraSensor.getContext("2d").drawImage(cameraView, 0, 0);
            cameraOutput.src = cameraSensor.toDataURL("image/*");
            cameraOutput.classList.add("taken");

            $("#camera--sensor").hide();
            $("#camera--view").hide();
            $("#camera--output").hide();

            var file = 0; 

            fetch(cameraOutput.src)
            .then(res => res.blob())
            .then(blob => {                
                const dT = new ClipboardEvent('').clipboardData || new DataTransfer();
                dT.items.add(new File([blob], 'assembly_update.png', blob));
                console.log(dT);
                $('#id_image').prop('files', dT.files);
                readURL(document.querySelector('#id_image'));
            });            

            cameraStop();
            $('#camera--take').show();
            $('#camera--trigger').hide();
            return false;
        };

        $('#camera--trigger').hide();
        $("#camera--sensor").hide();
        $("#camera--view").hide();
        $("#camera--output").hide();

        $(document).on('click', '#camera--take', function(e){
            $("#camera--view").show();
            cameraStart(); // Start the video stream when the button is clicked
            $('#camera--take').hide();
            $('#camera--trigger').show();
        });

        });

    $(document).on('click', '.add-wo_assembly', function(e){
        var newwin = window.open("{% url 'assembly:FinishCoupling_SelectProdSched' %}");
        return false;
    });

    function showtoast ( window, prodsched, wonum ) {
        if (window === "prodsched"){
            toastr.success('Production Schedule '+ prodsched + " from Work Order Number " + wonum + " is selected for Update.");

            toastr.info("Please confirm and accomplish inputs.");
        }
    }

    $('#form_fincoup').submit(function() {
        event.preventDefault();

        Swal.fire({
            title: 'Do you want to save the Coupling Update?',
            icon:'success',
            showDenyButton: true,
            confirmButtonText: `Yes`,
            denyButtonText: `No`,
        }).then((result) => {
        if (result.isConfirmed) {
            $(this).unbind('submit').submit();

        } else if (result.isDenied) {
            Swal.fire('Changes are not saved', '', 'info');
        }
        });

    });

</script>
{% endblock javascripts %}
