{% extends "base.html" %}

{% block title %} Home {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<h1>Planner</h1>


    <div class="row">
      <div class="col-md-6">
        <div class="card card-chart">
          	<div class="card-header card-header-success">
            	<h4 class="card-title">Component Issuance Status:</h4>
          	</div>
          	<div class="card-body">
            	<canvas id="compissue_chart"></canvas>
        	</div>
      	</div>
      </div>

      <div class="col-md-6">
        <div class="card card-chart">
            <div class="card-header card-header-warning">
              <h4 class="card-title">Work Order Status</h4>
            </div>
            <div class="card-body">
              <canvas id="wostatus_chart"></canvas>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
    	<div class="col-md-3">
    	</div>
    	<div class="col-md-6">
            <div class="card card-chart">
                <div class="card-header card-header-info">
                  <h4 class="card-title">Finished Products Status</h4>
                </div>
                <div class="card-body">
                  <canvas id="assprod_chart"></canvas>
              </div>
            </div>
      	</div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
	$(document).ready(function(){

		initcompissue_chart();

		function initcompissue_chart(){
			$.ajax({
			  method: "GET",
			  url: "{% url 'planner:Dashboard_get_compissuance' %}",
			  success: function(data){
			      comp_pending = data.comp_pending;
			      comp_sched = data.comp_sched;
			      comp_issued = data.comp_issued;

			      if( (comp_pending===0) && (comp_sched===0) && (comp_issued===0) ){
			      	var canvas = document.getElementById("compissue_chart");
	                  var ctx = canvas.getContext("2d");
	                  ctx.font = "30px Helvetica";
	                  ctx.fillText("No Data Available", 10, 50);
			      }else{
			      	  var label = ['Pending', 'Scheduled','Issued'];
				      var data = [comp_pending, comp_sched, comp_issued];

				      var ctx_compissue = $("#compissue_chart");

				      var chart_putaway = new Chart(ctx_compissue, {
				        type: 'pie',
				        data: {
				          labels: label,
				          datasets: [{
				            backgroundColor: [
				              "#e74c3c",
				              "#2ecc71",
				              "#f0ad4e",
				            ],
				            data: data
				          }]
				        }
				      });
			      }

			      

			  },
			  error: function(error_data){
			      console.log("error")
			      console.log(error_data)
			  }
			});
		}

		var ctx_issuance_time = $("#issuance_time_chrt");
		var myChart1 = new Chart(ctx_issuance_time);

		var ship_acc_labels = ['Scheduled','Issued'];
		var ship_acc_data = [3,8];

		ctx_issuance_time = $("#issuance_time_chrt");

		myChart1 = new Chart(ctx_issuance_time, {
		type: 'pie',
		data: {
		  labels: ship_acc_labels,
		  datasets: [{
		    backgroundColor: [
		      "#e74c3c",
		      "#2ecc71",
		    ],
		    data: ship_acc_data
		  }]
		}
		});


		initwostatus_chart();

		function initwostatus_chart(){
			$.ajax({
			  method: "GET",
			  url: "{% url 'planner:Dashboard_get_wostatus' %}",
			  success: function(data){
			      wo_sched = data.wo_sched;
			      wo_assembled = data.wo_assembled;
			      wo_coupled = data.wo_coupled;
			      wo_tested = data.wo_tested;

			      if( (wo_sched===0) && (wo_assembled===0) && (wo_coupled===0) && (wo_tested) ===0 ){
			      	var canvas = document.getElementById("wostatus_chart");
	                  var ctx = canvas.getContext("2d");
	                  ctx.font = "30px Helvetica";
	                  ctx.fillText("No Data Available", 10, 50);
			      }else{
			      	var label = ['In Schedule','In Assembly','In Coupling','In Testing'];
				      var data = [wo_sched, wo_assembled, wo_coupled, wo_tested];

				      var ctx_wostatus = $("#wostatus_chart");

				      var chart_wostatus = new Chart(ctx_wostatus, {
				        type: 'pie',
				        data: {
				          labels: label,
				          datasets: [{
				            backgroundColor: [
						      "#f7f7f7",
						      "#2ecc71",
						      "#f0ad4e",
						      "#5bc0de",
						      "#292b2c",
						      "#e74c3c",
						    ],
				            data: data
				          }]
				        }
				      });
			      }

			      

			  },
			  error: function(error_data){
			      console.log("error")
			      console.log(error_data)
			  }
			});
		}



		initassprod_chart();

		function initassprod_chart(){
			$.ajax({
			  method: "GET",
			  url: "{% url 'planner:Dashboard_get_assprod' %}",
			  success: function(data){
			      var ctx_assprod = $("#assprod_chart");

			      var chart_assprod = new Chart(ctx_assprod, {
			        type: 'bar',
			        data: {
			          labels: data.date_label,
			          datasets: [{
			            backgroundColor: "#9932CC",
					    label: "eSV",
			            data: data.eSV_prod
			          },
			          {
			            backgroundColor: "#2ecc71",
					    label: "Jets",
			            data: data.Jets_prod
			          },
			          {
			            backgroundColor: "#f0ad4e",
					    label: "AC Fire",
			            data: data.ACFire_prod
			          },{
			            backgroundColor: "#5bc0de",
					    label: "GISO",
			            data: data.GISO_prod
			          },
			          {
			            backgroundColor: "#292b2c",
					    label: "GS",
			            data: data.GS_prod
			          }]
			        },
			      });

			  },
			  error: function(error_data){
			      console.log("error")
			      console.log(error_data)
			  }
			});
		}	

	});
</script>
{% endblock javascripts %}

