{% extends "base.html" %}

{% block title %} Assembly Items {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<h2>View Assembly Items</h2>

<div class="card">
    <div class="card-header card-header-tabs card-header-info">
        <h4 class="card-title">Assembly Line Items:</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive"> <!--Shrnk Items-->
            <table class="table table-hover table-striped table-bordered" id="ass_line">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Assembly Line</th>
                        <th scope="col">Item Number</th>
                        <th scope="col">Item Description</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Status</th>
                        <th scope="col">Reference Number</th>
                    </tr>
                </thead>
                <tbody>
                {% for instance in ass_item_set %}
                    <tr class="tablerow" id="sched-{{forloop.counter}}">
                        <td>{{ instance.assemblyline__name }}</td>
                        <td>{{ instance.item_number__item_number }}</td>
                        <td>{{ instance.item_number__item_desc }}</td>
                        <td>{{ instance.quantity }}</td>
                        <td>{{ instance.status }}</td>
                        <td>{{ instance.reference_number }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
$(document).ready(function() {
    var table = $('#ass_line').DataTable({
        dom: "<'row'<'col-lg-6'B>>" +
        "<'row'<'col-md-4'l><'col-md-4'<'customselect'>><'col-md-4'f>>" +
        "<'row'<'col-md-12'rtip>>",
        buttons: [ 'copy', 'excel', 'csv' ],
        "columnDefs": [ {"className": "text-center", "targets": "_all"}]
    });

    $("div.customselect").html("<select id="+ "'select'" + "class='browser-default custom-select'"+"><option>Assembly Line</option><option>Item Number</option><option>Item Description</option><option>Quantity</option><option>Status</option><option>Reference Number</option></select>");

    $('#ass_line_filter label input').unbind().bind('keyup', function() {
      var colIndex = document.querySelector('#select').selectedIndex;
      table.column(colIndex).search( this.value ).draw();
    });

    $('#select').change(function() {
      table.columns().search('').draw();
    });

});
 </script>
{% endblock javascripts %}