{% extends "base.html" %}

{% block title %} Shipping Lobby {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<h2>View Shipping Lobby</h2>

<div class="card">
    <div class="card-header card-header-tabs card-header-info">
        <h4 class="card-title">Shipping Lobby Products:</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive"> <!--Shrnk Items-->
            <table class="table table-hover table-striped table-bordered" id="ship_lobby">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Reference Number</th>
                        <th scope="col">Product Number</th>
                        <th scope="col">Product Description</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Date Received</th>
                        <th scope="col">Received By</th>
                        <th scope="col">Checked By</th>
                        <th scope="col">Notes</th>
                    </tr>
                </thead>
                <tbody>
                {% for instance in ship_lobby_set %}
                    <tr class="tablerow" id="sched-{{forloop.counter}}">
                        <td>{{ instance.prod_sched__id }}</td>
                        <td>{{ instance.prod_number__prod_number }}</td>
                        <td>{{ instance.prod_number__prod_desc }}</td>
                        <td>{{ instance.quantity }}</td>
                        <td>{{ instance.date_received }}</td>
                        <td>{{ instance.received_by }}</td>
                        <td>{{ instance.checked_by }}</td>
                        <td>{{ instance.notes }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
$(document).ready(function() {
    var table = $('#ship_lobby').DataTable({
        dom: "<'row'<'col-lg-6'B>>" +
        "<'row'<'col-md-4'l><'col-md-4'<'customselect'>><'col-md-4'f>>" +
        "<'row'<'col-md-12'rtip>>",
        buttons: [ 'copy', 'excel', 'csv' ],
        "columnDefs": [ {"className": "text-center", "targets": "_all"}]
    });

    $("div.customselect").html("<select id="+ "'select'" + "class='browser-default custom-select'"+"><option>Reference Number</option><option>Product Number</option><option>Product Description</option><option>Quantity</option><option>Date Received</option><option>Received By</option><option>Checked By</option><option>Notes</option></select>");

    $('#ship_lobby_filter label input').unbind().bind('keyup', function() {
      var colIndex = document.querySelector('#select').selectedIndex;
      table.column(colIndex).search( this.value ).draw();
    });

    $('#select').change(function() {
      table.columns().search('').draw();
    });

});
 </script>
{% endblock javascripts %}