{% extends "base.html" %}

{% block title %} Inbound Lobby {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}
<style>
    #ponum_table tr td:nth-child(1), #ponum_table th:nth-child(1){
        display: none;
    }
</style>
{% block content %}

<h2>View Inbound Lobby</h2>

<div class="card">
    <div class="card-header card-header-tabs card-header-info">
        <h4 class="card-title">Inbound Lobby Shipments:</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive"> <!--Shrnk Items-->
            <table class="table table-hover table-striped table-bordered" id="inbound_table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Shipment Number</th>
                        <th scope="col">Date In</th>
                        <th scope="col">DR#</th>
                        <th scope="col">RR#</th>
                        <th scope="col">Invoice#</th>
                        <th scope="col">Shipment Trucking</th>
                        <th scope="col">Shipment Category</th>
                        <th scope="col">Container Number</th>
                        <th scope="col">Container Type</th>
                        <th scope="col">AWL/BL</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Date DR</th>
                        <th scope="col">Date Whse</th>
                    </tr>
                </thead>
                <tbody>
                {% for instance in inbound_lobby_set %}
                    <tr class="tablerow" id="ponum-{{forloop.counter}}">

                        <td><button type="button" class="btn btn-primary ship_num" data-ship_num="{{ instance.shipment_num__shipment_num }}">{{ instance.shipment_num__shipment_num }}</button></td>
                        <td>{{ instance.date_in }}</td>
                        <td>{{ instance.shipment_num__dr_num }}</td>
                        <td>{{ instance.shipment_num__rr_num }}</td>
                        <td>{{ instance.shipment_num__invoice_num }}</td>
                        <td>{{ instance.shipment_num__ship_trucking }}</td>
                        <td>{{ instance.shipment_num__ship_category }}</td>
                        <td>{{ instance.shipment_num__container_num }}</td>
                        <td>{{ instance.shipment_num__container_type }}</td>
                        <td>{{ instance.shipment_num__awl_bl }}</td>
                        <td>{{ instance.shipment_num__notes }}</td>
                        <td>{{ instance.shipment_num__date_dr }}</td>
                        <td>{{ instance.shipment_num__date_warehouse }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header card-header-tabs card-header-info">
        <h4 class="card-title">Purchase Orders:</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive"> <!--Shrnk Items-->
            <table class="table table-hover table-striped table-bordered nowrap" id="ponum_table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Shipment Number</th>
                        <th scope="col">Purchase Order Number</th>
                        <th scope="col">Purchase Date</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Supplier</th>
                    </tr>
                </thead>
                <tbody>
                {% for instance in po_set %}
                    <tr class="tablerow" id="ponum-{{forloop.counter}}" data-ship_num="{{ instance.shipment_num__shipment_num }}">
                        <td>{{ instance.shipment_num__shipment_num }}</td>
                        <td>{{ instance.po_num__po_number }}</td>
                        <td>{{ instance.po_num__purchase_date }}</td>
                        <td>{{ instance.po_num__notes }}</td>
                        <td>{{ instance.po_num__supplier }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
    toasterOptions();
    function toasterOptions() {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "1500",
            "hideDuration": "1500",
            "timeOut": "1500",
            "extendedTimeOut": "1500",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    };

    var table = $('#inbound_table').DataTable({
        dom: "<'row'>" +
        "<'row'<'col-md-4'l><'col-md-4'<'customselect'>><'col-md-4'f>>" +
        "<'row'<'col-md-12'rtip>>",
        "columnDefs": [ {"className": "text-center", "targets": "_all"}]
    });

    $("div.customselect").html("<select id="+ "'select'" + "class='browser-default custom-select'"+"><option>Shipment Number</option><option>Date In</option><option>DR#</option><option>RR#</option><option>Invoice#</option><>Shipment Trucking</option><option>Shipment Category</option><option>Container Number</option><option>Container Type</option><option>AWL/BL</option><option>Notes</option><option>Date DR</option><option>Date Whse</option><option></option></select>");

    $('#inbound_table_filter label input').unbind().bind('keyup', function() {
      var colIndex = document.querySelector('#select').selectedIndex;
      table.column(colIndex).search( this.value ).draw();
    });

    $('#select').change(function() {
      table.columns().search('').draw();
    });

    var table2 = $('#ponum_table').DataTable({
        searching: false, paging: false, info: false,
        dom: "<'row'<'col-lg-6'B>>" +
        "<'row'<'col-md-4'l>>" +
        "<'row'<'col-md-12'rtip>>",
        buttons: [ 'copy', {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: ':visible',
                    rows: ':visible' 
                }
            }, 'csv', 'pdf' ],
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]
    });

    var counter2 = 0;
    $(table2.rows().nodes()).each(function(i, el){ 
        $(table2.rows(counter2).nodes().to$()).hide();
        counter2 += 1;
    });

    $(".btn.btn-primary.ship_num").on("click", function(){
        btn = this;
        var ship_num = btn.dataset.ship_num;


        var counter2 = 0;
        $(table2.rows().nodes()).each(function(i, el){ 
            var row_tag2 = table2.rows(counter2).nodes().to$();
            var ponum_ship_num = $(row_tag2).attr('data-ship_num');

            if (ship_num === ponum_ship_num){
                $(row_tag2).show();
            }else {
                $(row_tag2).hide();
            }
            counter2 += 1;
        });


        toastr.info('Shipment '+ ship_num + " is selected.");
    });

});
 </script>
{% endblock javascripts %}