{% extends "base.html" %}

{% block title %} Check Warehouse {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style type="text/css">
    #preview{
        width: 500px;
        height: 500px;
    }
</style>
{% endblock stylesheets %}

{% block content %}

<h2>View Warehouse</h2>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header card-header-tabs card-header-info">
                <h4 class="card-title">Warehouse Bins:</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-bordered" id="whse_bin_table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Bin Location</th>
                                <th scope="col">Item Category</th>
                                <th scope="col">Product Class</th>
                                <th scope="col">Barcode</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for instance in whse_bin_set %}
                            <tr class="tablerow" id="ponum-{{forloop.counter}}">
                                <td><button type="button" class="btn btn-primary bin_loc" data-bin_loc="{{ instance.bin_location }}" data-item_cat="{{ instance.item_cat__item_cat }}">{{ instance.bin_location }}</button></td>
                                <td>{{ instance.item_cat__item_cat }}</td>
                                <td>{{ instance.prod_class__prod_class }}</td>
                                <td>{{ instance.barcode }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
    </div>
     <div class="col-6">
        <div class="card">
            <div class="card-header card-header-tabs card-header-info">
                <h4 class="card-title">Warehouse Bin Status:</h4>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group">
                    <label for="id_date_scheduled">Latest Date:</label>
                    <input type="text" name="date_scheduled" class="form-control" readonly id="id_date_scheduled">
                    </div>
                </div>
                <div class="form-row">
                    <label>Image:</label>
                    <div id="div_whse_image">
                        <img id="preview" class="img-thumbnail">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card" id="card_whse_item">
    <div class="card-header card-header-tabs card-header-info">
        <h4 class="card-title">Warehouse Items:</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive"> <!--Shrnk Items-->
            <table class="table table-hover table-striped table-bordered nowrap" id="whse_item_table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Item Number</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Status</th>
                        <th scope="col">Reference Number</th>
                    </tr>
                </thead>
                <tbody>
                {% for instance in whse_item_set %}
                    <tr class="tablerow" id="ponum-{{forloop.counter}}" data-bin_loc="{{ instance.bin_location__bin_location }}">
                        <td>{{ instance.item_number__item_number }}</td>
                        <td>{{ instance.quantity }}</td>
                        <td>{{ instance.status }}</td>
                        <td>{{ instance.reference_number }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>

<div class="card" id="card_whse_prod">
    <div class="card-header card-header-tabs card-header-info">
        <h4 class="card-title">Warehouse Product:</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive"> <!--Shrnk Items-->
            <table class="table table-hover table-striped table-bordered nowrap" id="whse_prod_table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Product Number</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Status</th>
                        <th scope="col">Reference Number</th>
                    </tr>
                </thead>
                <tbody>
                {% for instance in whse_product_set %}
                    <tr class="tablerow" id="ponum-{{forloop.counter}}" data-bin_loc="{{ instance.bin_location__bin_location }}">
                        <td>{{ instance.prod_number__prod_number }}</td>
                        <td>{{ instance.quantity }}</td>
                        <td>{{ instance.status }}</td>
                        <td>{{ instance.reference_number }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
    toasterOptions();
    function toasterOptions() {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "1500",
            "hideDuration": "1500",
            "timeOut": "1500",
            "extendedTimeOut": "1500",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    };

    var table = $('#whse_bin_table').DataTable({
        pageLength : 5,
        lengthMenu: [[5, 10, 20, 50], [5, 10, 20, 50]],
        dom: "<'row'<'col-lg-6'B>>" +
        "<'row'<'col-md-4'l><'col-md-4'<'customselect'>><'col-md-4'f>>" +
        "<'row'<'col-md-12'rtip>>",
        buttons: [ 'copy', 'excel', 'csv', 'pdf' ],
        "columnDefs": [ {"className": "text-center", "targets": "_all"}]
    });

    $("div.customselect").html("<select id="+ "'select'" + "class='browser-default custom-select'"+"><option>Bin Location</option><option>Item Category</option><option>Product Class</option><option>Barcode</option></select>");

    $('#whse_bin_table_filter label input').unbind().bind('keyup', function() {
      var colIndex = document.querySelector('#select').selectedIndex;
      table.column(colIndex).search( this.value ).draw();
    });

    $('#select').change(function() {
      table.columns().search('').draw();
    });

    $('#whse_item_table').DataTable({searching: false, paging: false, info: false,
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]
    });

    $('#whse_prod_table').DataTable({searching: false, paging: false, info: false,
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]
    });

    $("#card_whse_item").hide();
    $("#card_whse_prod").hide();

    $('#whse_item_table').find('tr.tablerow').each(function (i, el) {
        $(this).hide();
    });

    $('#whse_prod_table').find('tr.tablerow').each(function (i, el) {
        $(this).hide();
    });


    $("#whse_bin_table").on("click", ".btn.btn-primary.bin_loc", function(){
        btn = this;
        var bin_loc = btn.dataset.bin_loc;
        var item_cat = btn.dataset.item_cat;

        $("#card_whse_prod").hide();
        $("#card_whse_item").hide();

        if ( item_cat === "Product"){
            
            $("#card_whse_prod").show();

            $('#whse_prod_table').find('tr.tablerow').each(function (i, el) {
                var whse_prod_row = this;

                var whsebin_prod = whse_prod_row.dataset.bin_loc;

                if ( bin_loc === whsebin_prod ){
                    $(this).show();
                }else{
                    $(this).hide();
                }
            });

        }else{
            
            $("#card_whse_item").show();

            $('#whse_item_table').find('tr.tablerow').each(function (i, el) {
                var whse_item_row = this;

                var whsebin_item = whse_item_row.dataset.bin_loc;

                if ( bin_loc === whsebin_item ){
                    $(this).show();
                }else{
                    $(this).hide();
                }
            });
        }

        $("#preview").remove();
        getImage(bin_loc);



        toastr.info('Warehouse Bin '+ bin_loc + " is selected.");

    });

    function getImage(bin_loc){
        $.ajax({
            method: "POST",
            url: "{% url 'warehouse:CheckWarehouse_getImage' %}",
            data: {'bin_loc': bin_loc,
                  'csrfmiddlewaretoken': '{{ csrf_token }}'},

            success: function(data){
                showImage(data);
            },
            error: function(error_data){
                alert("error");
            }
        });
    }

    function showImage(data){
        console.log("/media/ "+ data.image)
        console.log("/media/noimage.png")
        if(data.image === "null"){

            $('#div_whse_image').append("<img id='preview' class='img-thumbnail' src=/media/noimage.png />");
        }else {
            $('#div_whse_image').append("<img id='preview' class='img-thumbnail' src=/media/" + data.image + " />");
        }
    }

});
 </script>

{% endblock javascripts %}