{% extends "base.html" %}

{% block title %} View Ongoing Component Return Schedules {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
<style type="text/css">
    #sched_table tr {
       text-align: center;   
    }
    #req_table tr {
       text-align: center;   
    }
</style>
{% endblock stylesheets %}

{% block content %}
<h2> View Ongoing Component Return Schedules </h2>

<div class="card">
    <div class="card-header card-header-tabs card-header-info">
        <h4 class="card-title">Ongoing Component Return Schedules:</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive"> <!--Shrnk Items-->
            <table class="table table-hover table-striped table-bordered nowrap" id="sched_table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Schedule Number</th>
                        <th scope="col">Date Scheduled</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Cleared</th>
                        <th scope="col">Issues</th>
                    </tr>
                </thead>
                <tbody>
                {% for instance in compreturn_sched_set %}
                    <tr class="tablerow" id="sched-{{forloop.counter}}">

                        <td><button type="button" class="btn btn-primary sched" data-sched_num="{{instance.schedule_num}}" data-date_sched="{{ instance.date_scheduled }}" data-notes="{{ instance.notes }}" id="sched-{{forloop.counter}}-sched">{{ instance.schedule_num }}</button></td>
                        <td>{{ instance.date_scheduled }}</td>
                        <td>{{ instance.notes }}</td>
                        <td>{{ instance.cleared }}</td>
                        <td>{{ instance.issues }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header card-header-tabs card-header-info">
        <h4 class="card-title">Items for Return:</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive"> <!--Shrnk Items-->
            <table class="table table-hover table-striped table-bordered nowrap" id="req_table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Work Order</th>
                        <th scope="col">Production Schedule</th>
                        <th scope="col">Item Number</th>                        
                        <th scope="col">Item Description</th>
                        <th scope="col">Item Category</th>
                        <th scope="col">Return Quantity</th>
                        <th scope="col">Assembly Line</th>
                    </tr>
                </thead>
                <tbody>
                {% for instance in compreturn_item_set %}
                    <tr class="tablerow" id="req-{{forloop.counter}}" data-sched_num="{{ instance.schedule_num__schedule_num }}" data-date_scheduled="{{ instance.schedule_num__date_scheduled }}" data-prod_sched="{{ instance.prod_sched__id }}" data-wo_num="{{ instance.prod_sched__work_order_number__work_order_number }}" data-item_num="{{ instance.item_number__item_number }}" data-item_desc="{{ instance.item_number__item_desc }}" data-item_cat="{{ instance.item_number__item_cat__item_cat }}" data-item_quan="{{ instance.quantity }}"  data-ass_line="{{ instance.location_from__name }}">

                        <td>{{ instance.prod_sched__work_order_number__work_order_number }}</td>
                        <td>{{ instance.prod_sched__id }}</td>
                        <td>{{ instance.item_number__item_number }}</td>
                        <td>{{ instance.item_number__item_desc }}</td>
                        <td>{{ instance.item_number__item_cat__item_cat }}</td>
                        <td>{{ instance.quantity }}</td>
                        <td>{{ instance.location_to__name }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/colreorder/1.5.2/js/dataTables.colReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>

<script src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.11.3/JsBarcode.all.min.js" integrity="sha512-TLB7v1Y4YHGy/EHUu5VZ2bl6sC/WvXh/NFdjEZ7JmbpsUG87dirXAOFSAS3O6Tn3rsZljFTcTdMz9PDM4mV26g==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js" integrity="sha512-NFUcDlm4V+a2sjPX7gREIXgCSFja9cHtKPOL1zj6QhnE0vcY695MODehqkaGYTLyL2wxe/wtr4Z49SvqXq12UQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.5/jspdf.plugin.autotable.min.js" integrity="sha512-ul1YfUNJC8jMkS+CC2vKEb1BcpFaGfvp9aE5RuwQmzvZEvxLV/fQusijuEIdOfSaR+3vG8LNUdz81easFoWTOw==" crossorigin="anonymous"></script>


<script>
    let table2
$(document).ready(function() {
    toasterOptions();
    function toasterOptions() {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "1500",
            "hideDuration": "1500",
            "timeOut": "1500",
            "extendedTimeOut": "1500",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    };

    var table = $('#sched_table').DataTable({
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]
    });
 
    table.buttons().container()
        .appendTo( '#sched_table_wrapper .col-md-6:eq(0)' );

    table2 = $('#req_table').DataTable({
        paging: false, info: false,
        dom: "<'row'<'col-md-6'B><'col-md-2'<'customselect trans'>><'col-md-4'f>>" +
        "<'row'<'col-md-12'rtip>>",
        buttons: [ 'copy', 
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible',
                        rows: ':visible' 
                    }
                },
                {
                    text: 'Print',
                    action: function ( e, dt, node, config ) {
                        var check_rows = 0;

                        $('#req_table').find('tr.tablerow').each(function (i, el) {
                            if ($(this).is(":visible")){
                                check_rows += 1;
                            }
                        });

                        if( check_rows > 0 ){
                            startdl_pdf();
                        }else{
                            toastr.error('Please select a Component Return Schedule.');
                        }
                    }
                }, 'pdf' ],
        "columnDefs": [ {"className": "text-center", "targets": "_all"}]
    });

    $.fn.dataTable.moment( 'DD-MM-YYY' );

    var counter2 = 0;
    $(table2.rows().nodes()).each(function(i, el){ 
        $(table2.rows(counter2).nodes().to$()).hide();
        counter2 += 1;
    });

    $( "#sched_table" ).on("click", ".btn.btn-primary.sched", function () {
        var btn = this;
        var sched_num = btn.dataset.sched_num;
        
        var counter2 = 0;
        $(table2.rows().nodes()).each(function(i, el){ 
            var row_tag2 = table2.rows(counter2).nodes().to$();

            var item_sched_num = $(row_tag2).attr('data-sched_num');
            if (sched_num === item_sched_num){
                $(row_tag2).show();
            }else {
                $(row_tag2).hide();
            }
            counter2 += 1;

        });

        toastr.info('Component Return Schedule ' + sched_num + ' is selected.')
    });

});

    function startdl_pdf(){
        var compissue_list = new Array();
        date_scheduled = '';
        prev_prodsched = '';
        now_prodsched = '';
        var new_arr = new Array();
        var same_arr = new Array();
        var item_list = new Array();
        var counter = 1;

        var counter2 = 0;
        $(table2.rows().nodes()).each(function(i, el){ 
            var row_tag2 = table2.rows(counter2).nodes().to$();
            if ($(row_tag2).is(":visible")){

                item_list.push({
                    'sched_num': $(row_tag2).attr('data-sched_num'), 'date_scheduled': $(row_tag2).attr('data-date_scheduled'),
                    'prod_sched': $(row_tag2).attr('data-prod_sched'), 'wo_num': $(row_tag2).attr('data-wo_num'),
                    'item_num': $(row_tag2).attr('data-item_num'), 'item_desc': $(row_tag2).attr('data-item_desc'),
                    'item_cat': $(row_tag2).attr('data-item_cat'), 'item_quan': $(row_tag2).attr('data-item_quan'),
                    'ass_line': $(row_tag2).attr('data-ass_line')
                });      
            }
            counter2 += 1;
        });

        item_list.forEach(function(item) {
            date_scheduled = item.date_scheduled;
            now_prodsched = item.prod_sched;

            new_arr.push({
                'sched_num': item.sched_num, 'date_scheduled': item.date_scheduled,
                'prod_sched': item.prod_sched, 'wo_num': item.wo_num,
                'item_num': item.item_num, 'item_desc': item.item_desc,
                'item_cat': item.item_cat, 'item_quan': item.item_quan,
                'ass_line': item.ass_line
            });

            if (parseInt(counter) == parseInt(item_list.length) ) {
                compissue_list.push( new_arr );
            }

            counter+=1;

        });

        dl_pdf( compissue_list ); //pass schednum & issuance_list

    }

    function dl_pdf(compissue_list){
        var doc = new jsPDF('l', 'mm', 'a4');

        var counter = 1;

        var tot_pages = compissue_list.length;


        //LEGIT
        compissue_list.forEach(function(item_list) { // array of tables

            doc = add_header(doc, item_list[0]);
            //doc = add_prod_details(doc, item_list[0])

            doc.setFontSize(10);
            doc.setFontType('normal');
            doc.setTextColor(0, 0, 0);
            doc.setDrawColor(0, 0, 0);

            doc.text('Parts to retrieve from Assembly', 14, 40);     
            
            var item_columns = [
                "Work Order", "Production Schedule",
                "Item Number", "Item Description",
                "Item Category", "Return Quantity",
                "Assembly Line"];

            var item_rows = []

            item_list.forEach(function(item) { //new table

                var item_details = [
                    item.wo_num,
                    item.prod_sched,                    
                    item.item_num,
                    item.item_desc,
                    item.item_cat,
                    item.item_quan,
                    item.ass_line];  

                item_rows.push(item_details);

            });

            let autoTableOptions = {
                startY: 32+10, //false
                theme: 'striped', //striped, plain, grid
                showHead: 'everyPage', //false, 'everyPage', 'firstPage'
                styles: {
                    fontSize: 10, //14px
                    textColor: [0, 0, 0],
                    valign: 'middle', //top, middle, bottom
                    halign: 'center', //left, center, right
                    fontStyle: 'normal', //normal, bold, italic, bolditalic
                    useCss: true,
                    lineWidth: number = 0.01,
                    lineColor: Color = 'black',
                },
                headerStyles: { fillColor: [186, 186, 186] }

            };

            doc.autoTable(item_columns, item_rows, autoTableOptions);

            pageInfo = doc.internal.getCurrentPageInfo();
            console.log(pageInfo);
            console.log();

            doc.text('Page ' + doc.internal.getNumberOfPages() + " of " + tot_pages + " - Component Return Schedule " + item_list[0].sched_num, (doc.internal.pageSize.width / 2) - 20, (doc.internal.pageSize.height) - 10 );


            if (parseInt(counter) == parseInt(compissue_list.length) ) {
            }else{
               doc.addPage(); 
            }
            

            counter+=1;

        });

        doc.save("ComponentReturn_"+ compissue_list[0][0].sched_num +'.pdf');

        toastr.success('Component Return Schedule ' + compissue_list[0][0].sched_num + ' is downloaded.');

    }

    function add_header(doc, item_detail){

        //Row 1
        doc.setFontSize(10);
        doc.setFontType('normal');
        doc.setTextColor(0, 0, 0);
        doc.setDrawColor(0, 0, 0);
        doc.rect(14, 15, 56, 20);
        doc.text('XYLEM Water Systems', 16, 22);
        doc.text('International, Inc.', 16, 27);
        doc.text('LISP II, Calamba, Laguna', 16, 32);

        doc.rect(70, 15, 150, 20);
        doc.setFontSize(20);
        doc.setFontType('bold');
        doc.text(95, 27, 'Component Return Schedule');

        doc.setFontSize(10);
        doc.setFontType('normal');

        doc.rect(220, 15, 30, 10);
        doc.text(222, 22, 'Schedule No.');
        doc.rect(250, 15, 32.8, 10);
        doc.text(252, 22, item_detail.sched_num); //SCHEDULE NUMBER

        doc.rect(220, 25, 30, 10);
        doc.text(222, 32, 'Date Scheduled:'); //DATE SCHEDULED
        doc.rect(250, 25, 32.8, 10);
        doc.text(252, 32, moment(item_detail.date_scheduled).format('DD-MM-YYYY')); //DATE SCHEDULED

        return doc;
        
    }

    /*
    function add_prod_details(doc, item_detail){

        //Row 1
        doc.setFontSize(10);
        doc.setFontType('normal');
        doc.setTextColor(0, 0, 0);
        doc.setDrawColor(0, 0, 0);

        doc.text('Work-Order Schedule', 14, 40);

        var prod_columns = ["Work Order Number", "Schedule", "Product Number", 
            "Product Description", "Product Class", "UOM",
            "Customer", "Quantity", "Date Required"];
        var prod_rows = [
            [item_detail.wo_num,
            item_detail.prod_sched, 
            item_detail.prod_num,
            item_detail.prod_desc, 
            item_detail.prod_class, 
            item_detail.uom,
            item_detail.cust,
            item_detail.prod_quan,
            item_detail.date_req]
        ];

        let autoTableOptions = {
            startY: 32+10, //false
            theme: 'grid', //striped, plain, grid
            showHead: 'everyPage', //false, 'everyPage', 'firstPage'
            styles: {
                fontSize: 10, //14px
                textColor: [0, 0, 0],
                valign: 'middle', //top, middle, bottom
                halign: 'center', //left, center, right
                fontStyle: 'normal', //normal, bold, italic, bolditalic
                useCss: true,
                lineWidth: number = 0.01,
                lineColor: Color = 'black',
            },
            headerStyles: { fillColor: [156, 156, 156] }
        };

        doc.autoTable(prod_columns, prod_rows, autoTableOptions);

        
        doc.text(25, 50, item_detail.wo_num);
        doc.text(55, 50, item_detail.prod_sched);
        doc.text(25, 50, item_detail.prod_num);
        doc.text(55, 50, item_detail.prod_desc);
        doc.text(25, 50, item_detail.prod_class);
        doc.text(55, 50, item_detail.uom);
        doc.text(55, 50, item_detail.cust);
        doc.text(25, 50, item_detail.prod_quan);
        doc.text(55, 50, item_detail.date_req);
        
        doc.rect(20, 15, 50, 20);
        doc.text('XYLEM Water Systems', 22, 22);
        doc.text('International, Inc.', 22, 27);
        doc.text('LISP II, Calamba, Laguna', 22, 32);

        return doc;

    }
    */


/*
let autoTableOptions = {
        html: table,
        startY: 100, //false
        //margin: {top: 30},
        theme: 'plain', //striped, plain, grid
        cellWidth: 'auto',
        useCss: true,
        margin: {bottom:20},
        showHead: 'everyPage', //false, 'everyPage', 'firstPage'
        styles: {
            fontSize: 10.5, //14px
            font: 'helvetica', //helvetica, times, courier
            lineColor: [0, 0, 0], //or single value ie. lineColor: 255,
            lineWidth: .75, //1px
            cellPadding: 1.5,
            textColor: [0, 0, 0],
            fillColor: [255, 255, 255], //false for transparent or number or array of number
            valign: 'middle', //top, middle, bottom
            halign: 'left', //left, center, right
            cellWidth: 'auto', //'auto', 'wrap' or a number
            overflow: 'visible', //visible, hidden, ellipsize or linebreak
            fontStyle: 'normal', //normal, bold, italic, bolditalic
            rowPageBreak: 'always', //always, auto, avoid
            useCss: true,
        },
        didDrawPage: function (data) {
            // Header Content
            //let pageNumber = doc.internal.getNumberOfPages();
            if(data.pageNumber === 1) {
                header(data);
            }
        },
    };
    */
</script>
{% endblock javascripts %}