{% extends "base.html" %}

{% block title %} Check Item {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<h2>View Item</h2>

<div class="card">
    <div class="card-header card-header-tabs card-header-info">
        <h4 class="card-title">Item Master:</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive"> <!--Shrnk Items-->
            <table class="table table-hover table-striped table-bordered" id="item_master">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Item Number</th>
                        <th scope="col">Item Description</th>
                        <th scope="col">UOM</th>
                        <th scope="col">Item Category</th>
                        <th scope="col">Product Class</th>
                        <th scope="col">Price</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Orderpoint</th>
                    </tr>
                </thead>
                <tbody>
                {% for instance in item_master_set %}
                    <tr class="tablerow" id="sched-{{forloop.counter}}">
                        <td><button type="button" class="btn btn-primary item_num" data-item_num="{{ instance.item_number }}">{{ instance.item_number }}</button></td>
                        <td>{{ instance.item_desc }}</td>
                        <td>{{ instance.uom__uom }}</td>
                        <td>{{ instance.item_cat__item_cat }}</td>
                        <td>{{ instance.prod_class__prod_class }}</td>
                        <td>{{ instance.price }}</td>
                        <td>{{ instance.notes }}</td>
                        <td>{{ instance.orderpoint }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header card-header-tabs card-header-info">
        <h4 class="card-title">Item Locations:</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive"> <!--Shrnk Items-->
            <table class="table table-hover table-striped table-bordered" id="item_loc">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Location</th>
                        <th scope="col">Item Number</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Status</th>
                        <th scope="col">Reference Number</th>
                    </tr>
                </thead>
                <tbody>
                {% for instance in item_loc_set %}
                    <tr class="tablerow" id="sched-{{forloop.counter}}" data-item_num="{{ instance.item_number }}">
                        <td>{{ instance.location }}</td>
                        <td>{{ instance.item_number }}</td>
                        <td>{{ instance.quantity }}</td>
                        <td>{{ instance.status }}</td>
                        <td>{{ instance.reference_number }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
    toasterOptions();
    function toasterOptions() {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "1500",
            "hideDuration": "1500",
            "timeOut": "1500",
            "extendedTimeOut": "1500",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    };

    var table = $('#item_master').DataTable ({
        dom: "<'row'<'col-md-4'l><'col-md-2'<'customselect item'>><'col-md-2'<'div_itemcat'>><'col-md-2'<'div_prodclass'>><'col-md-2'f>>" +
        "<'row'<'col-md-12'rtip>>",
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]
    });

    $("div.div_itemcat").html("Item Category Filter" + "<select id="+ "'select_item_cat'" + "class='browser-default custom-select'"+"><option value='all'> All </option> {% for instance in item_cat_set %} <option value=' {{ instance.item_cat }} '>{{ instance.item_cat }}</option> {% endfor %}</select>");
 
    $("div.div_prodclass").html("Product Class Filter" + "<select id="+ "'select_prod_class'" + "class='browser-default custom-select'"+"><option value='all'> All </option> {% for instance in prod_class_set %} <option value=' {{ instance.prod_class }} '>{{ instance.prod_class }}</option> {% endfor %}</select>");

    $("div.customselect.item").html("Filter" + "<select id="+ "'select_item'" + "class='browser-default custom-select'"+"><option value ='-1'>All</option><option value='0'>Item Number</option><option value='1'>Item Description</option><option value='2'>UOM</option><option value='5'>Price</option><option value='6'>Notes</option><option value='7'>Orderpoint</option></select>");

    $('#item_master_filter label input').unbind().bind('keyup', function() {
        searchFilter();
    });

    $('#select_item').focus(function () {
        // Store the current value on focus, before it changes
        previousIndex= this.selectedIndex;
    }).change(function(e) {
        var item_cat = $('#select_item_cat').val();
        var prod_class = $('#select_prod_class').val();
        if((prod_class === "all") && (item_cat === "all") ){
            searchFilter();
        }else{
            e.target.selectedIndex = previousIndex;
            toastr.error("Please remove the Product Class or Item Category Filter.");
        }
    });

    $('#select_prod_class').focus(function () {
        // Store the current value on focus, before it changes
        previousIndex= this.selectedIndex;
    }).change(function(e) {
        var main_filter = $('#select_item').val()
        if((main_filter === "-1")){
            e.target.selectedIndex = previousIndex;
            toastr.error("Please select a Filter first.");            
        }else{
            searchFilter();
        }
    });

    $('#select_item_cat').focus(function () {
        // Store the current value on focus, before it changes
        previousIndex= this.selectedIndex;
    }).change(function(e) {
        var main_filter = $('#select_item').val()
        if((main_filter === "-1")){
            e.target.selectedIndex = previousIndex;
            toastr.error("Please select a Filter first.");            
        }else{
            searchFilter();
        }
    });

    function searchFilter(){
        //Do the first search based from the og filter
        var colIndex = document.querySelector('#select_item').value;
        var search = $('#item_master_filter label input').val(); 
        if ( colIndex === "-1" ){
            table.columns().search( '' ).draw();
            $('#item_master_filter label input').val('');
            return;
        }else{
            table.column(colIndex).search( search ).draw();
        }
        

        //Do the second search for the item category filter
        var item_cat = $('#select_item_cat').val();
        if( item_cat === "all" ){
            table.column(3).search( '' ).draw();
            table.column(colIndex).search( search ).draw();
        } else{
            table.columns(3).search(item_cat).draw();
        }

        //Do the third search for the product class filter
        var prod_class = $('#select_prod_class').val();
        if( prod_class === "all" ){
            table.column(4).search( '' ).draw();
            table.column(colIndex).search( search ).draw();
        }else{
            table.columns(4).search(prod_class).draw();
        }

        $('#item_master_filter label input').val(search); 

    }

    var table2 = $('#item_loc').DataTable({
        paging: false,
        info: false,
        dom: "<'row'<'col-md-4'B><'col-md-4'<'customselect item_loc'>><'col-md-4'f>>" +
        "<'row'<'col-md-12'rtip>>",
        buttons: [ 'copy', 'excel', 'csv', 'pdf' ],
        "columnDefs": [ {"className": "text-center", "targets": "_all"}]
    });

    $("div.customselect.item_loc").html("<select id="+ "'select2'" + "class='browser-default custom-select'"+"><option value='0'>Location</option><option value='1'>Item Number</option><option value='2'>Quantity</option><option value='3'>Status</option><option value='4'>Reference Number</option></select>");

    $('#item_loc_filter  label input').unbind().bind('keyup', function() {
        var colIndex2 = $('#select2').val();
        var srch_item2 = $('#item_loc_filter  label input').val();
        table2.column(colIndex2).search(srch_item2).draw();
    });

    $('#select2').change(function() {
        table2.columns().search('').draw();
    });

    var counter2 = 0;
    $(table2.rows().nodes()).each(function(i, el){ 
        $(table2.rows(counter2).nodes().to$()).hide();
        counter2 += 1;
    });

    $("#item_master").on("click", ".btn.btn-primary.item_num", function(){
        var btn = this;

        var item_num = btn.dataset.item_num;

        var counter2 = 0;
        $(table2.rows().nodes()).each(function(i, el){ 
            var row_tag2 = table2.rows(counter2).nodes().to$();

            var item_loc_item_num = $(row_tag2).attr('data-item_num');

            if( item_num === item_loc_item_num ){
                $(row_tag2).show();
            }else{
                $(row_tag2).hide();
            }         
            counter2 += 1;  
        });

        toastr.info('Item '+ item_num + " is selected.");

    });

});
 </script>
{% endblock javascripts %}