{% extends "base.html" %}

{% block title %} Product Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
</style>
{% endblock stylesheets %}

{% block content %}

<h2>View Product Transactions</h2>

<div class="card">
    <div class="card-header card-header-tabs card-header-info">
        <h4 class="card-title">Product Master:</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive"> <!--Shrnk Items-->
            <table class="table table-hover table-striped table-bordered" id="prod_master">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Product Number</th>
                        <th scope="col">Product Description</th>
                        <th scope="col">UOM</th>
                        <th scope="col">Product Type</th>
                        <th scope="col">Product Class</th>
                        <th scope="col">Barcode</th>
                        <th scope="col">Price</th>
                        <th scope="col">Notes</th>
                    </tr>
                </thead>
                <tbody>
                {% for instance in prod_set %}
                    <tr class="tablerow" id="sched-{{forloop.counter}}">
                        <td><button type="button" class="btn btn-primary" data-prod_num="{{ instance.prod_number }}">{{ instance.prod_number }}</button></td>
                        <td>{{ instance.prod_desc }}</td>
                        <td>{{ instance.uom__uom }}</td>
                        <td>{{ instance.prod_type }}</td>
                        <td>{{ instance.prod_class__prod_class }}</td>
                        <td>{{ instance.barcode }}</td>
                        <td>{{ instance.price }}</td>
                        <td>{{ instance.notes }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header card-header-tabs card-header-info">
        <h4 class="card-title">Product Transactions:</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive"> <!--Shrnk Items-->
            <table class="table table-hover table-striped table-bordered" id="trans_table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Reference Number</th>
                        <th scope="col">Transaction Type</th>
                        <th scope="col">Transaction Date</th>
                        <th scope="col">Location</th>
                        <th scope="col">Product Number</th>
                        <th scope="col">Product Quantity</th>
                    </tr>
                </thead>
                <tbody>
                {% for instance in prodtrans_set %}
                    <tr class="tablerow" data-prod_num="{{ instance.prod_number }}" id="ponum-{{forloop.counter}}">
                        <td>{{ instance.reference_number }}</td>
                        <td>{{ instance.transaction_type }}</td>
                        <td>{{ instance.transaction_date|date:'d-m-Y' }}</td>
                        <td>{{ instance.transaction_location }}</td>
                        <td>{{ instance.prod_number }}</td>
                        <td>{{ instance.prod_quantity }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table> 
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
    toasterOptions();
    function toasterOptions() {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "1500",
            "hideDuration": "1500",
            "timeOut": "1500",
            "extendedTimeOut": "1500",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    };

    $.fn.dataTable.moment( 'DD-MM-YYY' );

    var table = $('#prod_master').DataTable ({
        dom: "<'row'<'col-md-6'l><'col-md-2'<'customselect prod'>><'col-md-2'<'div_prodclass'>><'col-md-2'f>>" +
        "<'row'<'col-md-12'rtip>>",
        "columnDefs": [ {"className": "text-center", "targets": "_all"} ]
    });
 
    $("div.div_prodclass").html("Product Class Filter" + "<select id="+ "'select_prod_class'" + "class='browser-default custom-select'"+"><option value='all'> All </option> {% for instance in prod_class_set %} <option value=' {{ instance.prod_class }} '>{{ instance.prod_class }}</option> {% endfor %}</select>");

    $("div.customselect.prod").html("Filter" + "<select id="+ "'select_prod'" + "class='browser-default custom-select'"+"><option value ='-1'>All</option><option value='0'>Product Number</option><option value='1'>Product Description</option><option value='2'>UOM</option><option value='3'>Product Type</option><option value='5'>Price</option><option value='6'>Notes</option></select>");

    $('#prod_master_filter label input').unbind().bind('keyup', function() {
        searchFilter();
    });

    $('#select_prod').focus(function () {
        // Store the current value on focus, before it changes
        previousIndex= this.selectedIndex;
    }).change(function(e) {
        var prod_class = $('#select_prod_class').val();
        if(prod_class === "all"){
            searchFilter();
        }else{
            e.target.selectedIndex = previousIndex;
            toastr.error("Please remove the Product Class Filter.");
        }
    });

    $('#select_prod_class').focus(function () {
        // Store the current value on focus, before it changes
        previousIndex= this.selectedIndex;
    }).change(function(e) {
        var main_filter = $('#select_prod').val()
        if((main_filter === "-1")){
            e.target.selectedIndex = previousIndex;
            toastr.error("Please select a Filter first.");            
        }else{
            searchFilter();
        }
    });

    function searchFilter(){
        //Do the first search based from the og filter
        var colIndex = document.querySelector('#select_prod').value;
        var search = $('#prod_master_filter label input').val(); 
        if ( colIndex === "-1" ){            
            table.columns().search( '' ).draw();
            $('#prod_master_filter label input').val('');
            return;
        }else{
            table.column(colIndex).search( search ).draw();
        }

        //Do the third search for the product class filter
        var prod_class = $('#select_prod_class').val();
        if( prod_class === "all" ){
            table.column(4).search( '' ).draw();
            table.column(colIndex).search( search ).draw();
        }else{
            table.columns(4).search(prod_class).draw();
        }

        $('#prod_master_filter label input').val(search); 

    }

    var table1 = $('#trans_table').DataTable({
        paging: false, info: false,
        dom: "<'row'<'col-lg-6'B>>" +
        "<'row'<'col-md-4'l><'col-md-4'<'customselect trans'>><'col-md-4'f>>" +
        "<'row'<'col-md-12'rtip>>",
        buttons: [ 'copy', {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: ':visible',
                    rows: ':visible' 
                }
            }, 'csv' ],
        "columnDefs": [ {"className": "text-center", "targets": "_all"}]
    });

    $("div.customselect.trans").html("<select id="+ "'select_trans'" + "class='browser-default custom-select'"+"><option>Reference Number</option><option>Transaction Type</option><option>Transaction Date</option><option>Location</option><option>Product Number</option><option>Product Quantity</option></select>");

    $('#trans_table_filter label input').unbind().bind('keyup', function() {
      var colIndex = document.querySelector('#select_trans').selectedIndex;
      table1.column(colIndex).search( this.value ).draw();
    });

    $('#select_trans').change(function() {
      table1.columns().search('').draw();
    });

    var counter1 = 0;
    $(table1.rows().nodes()).each(function(i, el){ 
        $(table1.rows(counter1).nodes().to$()).hide();
        counter1 += 1;
    });

    $( "#prod_master" ).on("click", ".btn.btn-primary",function () {
        var btn = this;
        var prod_num = btn.dataset.prod_num;

        var counter1 = 0;
        $(table1.rows().nodes()).each(function(i, el){ 
            var row_tag1 = table1.rows(counter1).nodes().to$();

            var trans_prod_num = $(row_tag1).attr('data-prod_num');
            if (prod_num === trans_prod_num){
                $(row_tag1).show();
            }else {
                $(row_tag1).hide();
            }
            counter1 += 1; 
        });

        toastr.info('Product '+ prod_num + " is selected.");

    });

});
 </script>
{% endblock javascripts %}